[2017-08-07 07:23] monkindey commented on #441
Hi, @pdehaan , Why not use `display: none` ?

[2017-08-07 09:03] ExE-Boss opened #464 "Add support for Firefox Accounts to keep track of which files belong to which user"
| Advantages | Disadvantages |
| ------------ | --------------- |
| Adds better ability to keep track of which user owns which file using Sync | Requires login to access these features (Some people prefer being more anonymous) |
| Opens up the ability to add more fine grained control over how long a file stays up and the ability to remove said file at any time manually without needing to download

[2017-08-07 14:15] ehuggett commented on #464
I didn't set out the write a wall of text when I came across your suggestion, I just get "pulled in" by complex problems so please don't take this the wrong way. I'm mostly trying to flesh out your proposed concept and avoid **unknowingly** introducing any weaknesses/trade off's into the service, which I hope you can appreciate.

NB Just about everything I know about Sync I learned from skimming h

[2017-08-07 14:20] urohit011 commented on #440
I would like to work on this.

[2017-08-07 15:27] ehuggett commented on #462
is displayed correctly by the browser after upload / on the download page but it downloads as

While it would not surprise me if this is done by the browser (Firefox 52.2.0 (64-bit) under Debian 9/Stretch ) as the missing symbols would have special meaning to a shell... nonetheless, is there something we could/should be doing before trying to move the file from LocalStorage to the users download f

[2017-08-07 15:58] pdehaan commented on #440
@urohit011 That would be awesome, thanks. 👍
Let us know if you have any questions.

[2017-08-07 16:01] pdehaan commented on #423
@vladikoff shane-tomlinson Did we ever implement QR code support in FxA in any way (intern project, etc)? I thought Sai was working on it at some point, but maybe I'm horribly mis-remembering.

[2017-08-07 16:03] pdehaan commented on #441
@monkindey That could work. We are toggling the view states quite frequently in some places, so not sure if it makes a huge difference to toggle the HTML `hidden="hidden"` attribute versus toggling a CSS class that adjusts `display:none;` style.

[2017-08-07 16:29] ehuggett commented on #423
It seems it was at least considered for pairing devices? https://wiki.mozilla.org/Services/Sync1_5/FxASyncPairing#Pairing_mechanisms

Firefox mobile appears to be able to read QR codes https://support.mozilla.org/en-US/kb/scan-qr-codes-firefox-android https://support.mozilla.org/en-US/kb/scan-qr-codes-firefox-ios , although any QR code reader would of course be suitable on mobile long long as it c

[2017-08-07 16:38] urohit011 commented on #440
Can you please point me to one of the files that has to be fixed.

[2017-08-07 16:43] gvanwaelvelde commented on #423
Support for QR code sounds interesting, but since a file can be downloaded only once, I'm not sure it would be very useful?

[2017-08-07 16:46] ehuggett commented on #423
You would have to decide you wanted the file on your mobile while the download page is displayed on another device, before you click download (you would click QR code instead).

I can't see any obvious way of sending a QR code without re-creating the "how do I send files securely" problem, but the receiver of a link has all the information required to create them.

[2017-08-07 16:51] #349 closed

[2017-08-07 16:51] #366 closed

[2017-08-07 16:51] #462 closed

[2017-08-07 16:53] Softvision-VladBacia opened #465 "Deleting a new uploaded item from Share Link screen removes all other uploaded items"
[Affected versions]:
- Firefox 54.0 and up

[Affected Platforms]:
- All Windows
- All Linux
- All Mac

[Steps to reproduce]:
1. Open the browser and navigate to https://send.dev.mozaws.net/.
2. Upload a file.
3. Upload another file.
4. After the upload has finished, delete the file.
5. Go to Send dev homepage.
6. Observe the previous uploaded files.

[Expected result]:
- Previously uploaded files

[2017-08-07 17:45] rugk commented on #417
Just FYI – if you care – or at least the marketing department. In Germany you are getting bad media coverage, because of 1) [Google Analytics](https://www.kuketz-blog.de/firefox-send-setzt-mozilla-erneut-auf-google-analytics/) and 2) [this issue](https://www.golem.de/news/filesharing-mozillas-send-erlaubt-einfachen-datentausch-1708-129334.html) here.

[2017-08-07 17:59] #436 closed

[2017-08-07 18:46] ehuggett opened #467 "May be vulnerable to header splitting"
Send currently requires  "node": ">=8.0.0"

Version 8.2.0 https://github.com/nodejs/node/commit/e10c75579b536581ddd7ae4e2c3bf8a9d550d343 Added some protection against header splitting.

See http://jsgeek.com/posts/node-response-splitting.html and https://www.owasp.org/index.php/CRLF_Injection for further information on why this is required.

All data used with http headers (via writeHead etc) MUST

[2017-08-07 19:03] #465 closed

[2017-08-07 19:03] #467 closed

[2017-08-07 19:10] dannycoates commented on #411
done!

[2017-08-07 19:10] #411 closed

[2017-08-07 19:11] dannycoates commented on #430
should be fixed by #466

[2017-08-07 19:11] #430 closed

[2017-08-07 21:46] dannycoates commented on #417
Thank you all for your comments. The file hash has been removed completely in #470. Any further discussion about the file name can happen in #69

[2017-08-07 21:46] #417 closed

[2017-08-07 21:59] pdehaan opened #471 "Remove aad from tests"
We removed the file sha256 hash in #470, but looks like we may have a few lingering references in the test/** directory: https://github.com/mozilla/send/search?utf8=%E2%9C%93&q=aad&type=

1. [/test/frontend/frontend.test.js:182](https://github.com/mozilla/send/blob/caeba94e04399187f3ba07bbc8f9d1d4c6ec5509/test/frontend/frontend.test.js#L182) &mdash; `aad: arrayToHex(new Uint8Array(fileHash)),`
1.

[2017-08-07 22:36] #471 closed

[2017-08-08 01:23] monkindey commented on #441
So what your consider is the performance between `hidden` and `display: none` ?

[2017-08-08 02:19] varghesethomase commented on #440
You can find the images in main.handlebars. The images that does not have alt attribute are located at the bottom fo the page ie mozilla logo to the left and twitter and github logo on the right @urohit011

[2017-08-08 02:28] urohit011 commented on #440
Thank you @varghesethomase

[2017-08-08 02:53] varghesethomase commented on #438
The bug here is the alt attribute for image has text "Send" and the text wrapped by the h1 tag is again "Send". <img src="/resources/send_logo.svg" alt="Send"/><h1 class="site-title">Send</h1>

[2017-08-08 02:53] varghesethomase commented on #438
If you can get me the verbiages to be used, I will take this up.

[2017-08-08 08:47] johngruen commented on #381
Asking UX to move forward on this. We should explore whether there are their alternatives to pins that might be more fun/user friendly? Creating a pattern? Taking a picture? etc? Ideas are weclome, though I'm happy to move forward with a simple passprhase input to start.

## The user stories:

As a send user concerned about possible MITMs, i would like the option to set a secondary key in order to

[2017-08-08 08:53] johngruen opened #475 "Add UI to message new features in product"
## User Stories

So that I can make sure to take full advantage of the send service, as a Send user, I would like to know when the service has changed or features have been added.

## Requirements

- [ ] It should tell users who visit the site about new features
- [ ] It should not materially hinder the users ability to upload files (UI should not block uploading)
- [ ] UX spec should include two

[2017-08-08 09:08] mterron commented on #381
An 8 digit pin is easy to transmit out of band and secure enough as long as you only allow a reasonably low number of retries before deleting the file.

[2017-08-08 10:29] youwenliang commented on #443
For font-size 15px we should probably change the font weight from 200 to 500 to pass the contrast test. There's a same button for copy link by the way.

Here's what it looks like with font-weight: 500
![image](https://user-images.githubusercontent.com/8919308/29067968-6753bdd8-7c67-11e7-97d7-0a43e81e4a20.png)

![image](https://user-images.githubusercontent.com/8919308/29067988-7877111e-7c67-11e7-9

[2017-08-08 11:26] SoftVision-CosminMuntean opened #476 "On Microsoft Edge the filename has strange placeholder characters "FSI"/"PDI""
[Affected versions]:
- Microsfot Edge

[Affected Platforms]:
- Windows 10

[Steps to reproduce]:
1. Start the Firefox browser and navigate to "https://send.stage.mozaws.net" page.
2. Drag and Drop a file in the Drop area.
3. Observe the file name text.

[Expected result]:
- The file name is correctly displayed.

[Actual results]:
- The filename has strange placeholder characters FSI/PDI surroundin

[2017-08-08 11:40] SoftVision-CosminMuntean opened #477 "On Windows, the stage website has a different font than production website"
[Notes]:
- On Mac OS and Linux, no differences can be observe between stage and production websites.

[Affected versions]:
- Firefox 54.0.1 and up

[Affected Platforms]:
- All Windows

[Steps to reproduce]:
1. Start the Firefox browser and navigate to "https://send.firefox.com/" page.
2. Observe the website font.
3. In a new tab navigate to "https://send.stage.mozaws.net" page.
4. Observe the webs

[2017-08-08 12:07] ehuggett commented on #476
Appears to be related to [Unicode bidirectional text support](https://en.wikipedia.org/wiki/Bi-directional_text#Unicode_bidi_support).

### explicit formatting
Explicit formatting characters, also referred to as "directional formatting characters", are special Unicode sequences that direct the unicode algorithm to modify its default behavior. These characters are subdivided into "marks", "embeddin

[2017-08-08 12:18] ehuggett commented on #381
Can the user story be adjusted to make it clear they are concerned about the message with the URL being intercepted or observed (this could be email/irc/sms/[rfc2549](https://tools.ietf.org/html/rfc2549) etc) by a MITM/etc. If an adversary is able to MITM the https connection to Send then they will be able to inject/modify javascript to steal the key and any password/pin the user enters.

Send doe

[2017-08-08 12:41] danielquinn commented on #381
Korra is really not that elaborate.  The file is symmetrically encrypted with the user's password, so when the user submits a password the server tries to decrypt the file.  If it works, you get the file, if it doesn't, you get a fail message.

The assumption in Korra's case is that you control the server (it's meant to be an on-site install), so it can be trusted to do the encryption/decryption.

[2017-08-08 13:56] SoftVision-CosminMuntean commented on #430
I have retested this issue and is no longer reproducible. Marking as verified.

[2017-08-08 13:57] SoftVision-CosminMuntean opened #478 ""Send another file" button is not working on "Something went wrong!" page"
[Affected versions]:
- Firefox 54.0.1 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Start the Firefox 54.0.1 browser and navigate to "https://send.stage.mozaws.net/" page.
2. Upload a large file ~1.5 Gb.
3. In a new tab upload the same file.
4. If the "Someting went wrong!" page is not displayed, repeat step 3.
5. Click the "Send another file" button a

[2017-08-08 18:12] pefimo opened #479 "Add progress (%) to the title of upload page"
# Overview
When a large file is being uploaded, it would be very nice to let the user change tab to another one and just peek at the title to check the progress.

# Explanation
Perhaps uploading a file is not a critically important activity and one doesn't want to observe the progress continuously. It is thus understandable that one might prefer to switch to another tab and do something else until

[2017-08-08 19:13] pdehaan commented on #477
Possibly due to font changes in #427, _"Extended system font list"_.

[2017-08-08 19:29] dannycoates commented on #425
I'm not able to reproduce this. The displayed language depends on the "defaultLanguage", "availableLanguages" and your browser's language settings in `about:preferences`

If any of your browser languages is in "availableLanguages" it will use the first preference that matches. Only if none are available will it use the "defaultLanguage"

Here's a screenshot of my language preferences:
<img width="

[2017-08-08 19:43] #143 closed

[2017-08-08 19:53] dannycoates commented on #458
I check the percentage before deleting. I've yet to remove one because our additions have been small, so none have ended up below 97%ish. So far it hasn't been trouble to manually check when I tag a release. @pdehaan improving the tool might be nice, but I'm not sweating it.

[2017-08-08 19:53] #458 closed

[2017-08-09 00:45] raymak opened #484 "Add the ability to send multiple files"

[2017-08-09 00:57] pdehaan commented on #476
I found this old l10n post about FSI and FDI markers and IE11 support: https://groups.google.com/forum/#!topic/mozilla.tools.l10n/BsoUcb19yOc

Wondering if this is potentially an issue w/ L20n or related to our recent font changes...

[2017-08-09 01:05] pdehaan commented on #484
Possible duplicate of #75, _"Drag & drop multiple files"_.

[2017-08-09 02:43] #443 closed

[2017-08-09 07:19] ehuggett commented on #484
This issue could be interpreted explicitly as upload multiple files to share/send with a single link and the referenced issue as upload multiple files to receive multiple links(?)

For multi-file uploads an archive format similar to tar/zip etc  would avoid having to deal with multiple filenames (they would become part of the encrypted data) and avoids leaking to the server that its actually multi

[2017-08-09 08:03] youwenliang opened #487 "Font is off on windows"
Some fonts are off when viewing in windows:
![fireshot screen capture 001 - firefox send - send_firefox_com](https://user-images.githubusercontent.com/8919308/29111172-d46470f2-7d1b-11e7-9adb-1c21f5c09b82.png)

Especially for the logo "Send", the font should stay the same, probably using an SVG image instead of using h1 title tag

[2017-08-09 09:48] Softvision-VladBacia commented on #465
This issue has been verified on dev server and it is no longer reproducible.

[2017-08-09 10:24] youwenliang commented on #475
@johngruen Here are some quick proposals for displaying the new features.

Option A: a dialog with information about the new feature.
![file transfer - new feature dialog in-context](https://user-images.githubusercontent.com/8919308/29117150-c14b57f6-7d2f-11e7-802a-71f9394cfa3b.png)

Option B: a dismissable section with information about the new feature.
![file transfer - new feature section homep

[2017-08-09 10:29] youwenliang commented on #381
@johngruen Here's a quick mockup for setting password when sending files and entering password for receiving files. Might need to learn more about the implementation in order to make some design decisions.

(6 screens)
https://mozilla.invisionapp.com/share/Z4CYKA4UY

[2017-08-09 13:52] johngruen commented on #479
Nice idea!

[2017-08-09 14:04] sevaan commented on #475
How does Option A respond if the browser window shrinks?

[2017-08-09 15:01] MikkCZ commented on #464
I think the both pros mentioned by @ExE-Boss can be also achieved without any login, just doing it the same way like Page Shot/Firefox Screenshots do. Being able to sign in (but not required) with Firefox Account can improve the experience when using Send on multiple devices. If the users are well informed about the pros and cons of signing in with FxA, I don't see an issue adding the (optional) s

[2017-08-09 15:46] GMAF01 opened #488 "Unable to upload a zip-file"
I tried to upload a zip-file - and got an error message.

[2017-08-09 15:51] pdehaan commented on #488
@GMAF01 I'm unable to reproduce on https://send.firefox.com on macOS using Firefox Beta or Chrome Release: https://send.firefox.com/download/440b6f15c0/#HeKoptkcKpy2S-uQeFdWNg

What browser/OS are you using, how big was your ZIP file, and are you seeing any errors in the Dev Tools console? What was the error message that you saw?

[2017-08-09 16:04] GMAF01 commented on #488
**@ pdehaan**,
Firefox 54.0.1 (32 bit)/Windows 7 Pro, Zip-file 199MB
Ein Fehler ist aufgetreten! Beim Hochladen der Datei ist ein Fehler aufgetreten!

[2017-08-09 17:48] johngruen commented on #488
@dannycoates will investigate. This might be a file size issue given 32 bit FF on Win 7

[2017-08-09 17:49] johngruen commented on #487
@youwenliang yeah we changed this to text for a11y. if you can add correct attributes, feel free to change back to an image.

[2017-08-09 17:50] johngruen commented on #484
Closing in favor of #75

[2017-08-09 17:51] johngruen commented on #479
this has a PR!

[2017-08-09 17:53] johngruen commented on #477
Closing in favor of #487

[2017-08-09 17:53] #477 closed

[2017-08-09 17:54] johngruen commented on #476
"It's shitty" -@dcoates, August 2017

[2017-08-09 17:56] johngruen commented on #464
Hey, we're exploring some better state management stuff on the whiteboard ATM. moving this to stretch b/c the background discussion is super helpful!

[2017-08-09 18:00] johngruen commented on #445
This is a good point, but we're not near this scale atm. Would be nice though. We'll extend the length as soon as it's close to necessary.

[2017-08-09 18:29] pdehaan commented on #287
I think something like [**github-changes**](http://npm.im/github-changes) may work (and we can exclude Pontoon commit info).

Here's the command I used and the output:

[code]

<details>
<summary>Output:</summary>

[code]

</details>

[2017-08-09 18:42] #479 closed

[2017-08-09 18:48] johngruen opened #489 "Receiving on iOS doesn't totally work"
iOS doesn't seem to handle downloads particularly well. I think this is happening b/c Safari is looking for a file type and not getting anything. Here's what i see when i try to download a link:

![img_5071](https://user-images.githubusercontent.com/3323249/29138391-d648172a-7d43-11e7-93dc-01f92ce23fd5.PNG)

[2017-08-09 18:49] johngruen commented on #489
Worth noting that threema is a chat app, and can't acutally open the downloaded file (which was a PNG)

[2017-08-09 18:57] dannycoates commented on #127
We're considering IE as unsupported for now. Edge is working in v1.1.0

[2017-08-09 18:57] #127 closed

[2017-08-09 19:54] margath commented on #489
I get a similar window (iOS 10.3.3 & Safari):
![image](https://user-images.githubusercontent.com/6585982/29140988-6d4d82a6-7d1a-11e7-895c-c0a5c8305488.png)
Sends from the iPhone in Safari download apparently fine!

[2017-08-09 20:41] dannycoates commented on #438
fixed in #474

[2017-08-09 20:41] #438 closed

[2017-08-09 20:43] dannycoates commented on #440
fixed in #474

[2017-08-09 20:43] #440 closed

[2017-08-09 21:31] #489 closed

[2017-08-10 00:57] #425 closed

[2017-08-10 02:50] youwenliang commented on #475
@sevaan I was thinking something like this:
![mobileview](https://user-images.githubusercontent.com/8919308/29152320-6ccad3d4-7db9-11e7-9b7f-736d111b4752.png)

It'll block the main content temporarily though. We can A/B test these two options to get some feedback.

[2017-08-10 02:54] sevaan commented on #475
That looks good to me.

One more thought: Maybe it should have a close X as well. That was the first thing I instinctively looked for. It could have the Got It button as well, or replace it.

[2017-08-10 04:11] varghesethomase commented on #446
Do we have a design here? In case I would like to take this up.

[2017-08-10 04:28] jonathanGB opened #494 "Using on Firefox focus crashes/doesn't work"
I uploaded a simple image (1.4MB) using Chrome for Android and downloaded it without problem.

However, when I tried on Firefox Focus:
1. I couldn't upload a file (upload button did nothing)
2. Downloading it on mobile would crash - oddly, the file was corrupted into a `.bin` file.

<img style="float: right" src="https://user-images.githubusercontent.com/8869660/29154431-7c1baa7c-7d49-11e7-8ca8-f2

[2017-08-10 07:39] Shriram-Balaji commented on #306
I have some doubts on this, the issue requires that there is some sort of feedback when the user tries to upload an unsupported file, like a an alert of sorts? Please let me know if I am wrong. Thanks.

[2017-08-10 10:59] SoftVision-CosminMuntean commented on #488
I have also tested this issue on Windows 7 x64 using Firefox 54.0.1 x32 bits and I have managed to reproduce it, but only when I have tried to upload a 500 Mb zip file.
Is not always reproducible, in most of the cases the file is successfully uploaded.

[2017-08-10 12:33] ericcornelissen opened #495 "Problems with build:css on Windows"
I was trying to build on Windows (Windows 10 Home, x64) but ran into an issue with the `build:css` script. When I run it I get the following error:
[code]

When I changed the script to the following, I no longer had any problems:
[code]

I would guess this is an issue with postcss. But I couldn't find an issue about it in their repository, which I would expect given its popularity, so I decided to

[2017-08-10 13:06] MikkCZ opened #496 "Add support for Thunderbird"
Thunderbird is still in the Mozilla family. It would be nice to have Send as an option for sending large files, IMO preferably as an add-on, so we do not have to wait until next Thunderbird release. ;)

[2017-08-10 13:19] sevaan commented on #446
WE could just use the "This link has expired or never existed" page.

[2017-08-10 13:32] llagerlof opened #497 "Improve text of landing page"
The main page warns that the file expires, but does not say how long (24h).

It also does not say that the file is deleted after the first download. I think this information should be there before the upload.

[2017-08-10 13:52] sevaan commented on #497
I guess this depends on our roadmap, because I know eventually we want to test other expiry options (e.g. 48 hrs, or after 100 downloads). @johngruen What do you think?

[2017-08-10 16:06] #387 closed

[2017-08-10 16:23] GMAF01 commented on #488
After renaming the zif file (avoiding blanks in the file name) it worked fine.

[2017-08-10 16:23] #488 closed

[2017-08-10 16:27] andreipoe opened #498 "Cannot connect to Send running in Docker: connection reset by peer"
Hello,

Trying to use the Docker image for Send, I cannot connect to it:

[code]

These are the logs of the container:

[code]

I've tried `master`, `v1.1.0` and `v1.0.4`, and none of them seem to work. Every time, I've removed the old Docker image and built from scratch with `docker-compose build`. Is there any additional step I need to take when setting up that might not be documented?

I'm happ

[2017-08-10 17:14] dannycoates commented on #498
the [circle.yml](https://github.com/mozilla/send/blob/master/circle.yml#L19) file gives a hint (but we need better instructions for building with docker in the readme) that you need to run `npm run build` before building the container.

On my local machine I do `npm run build` then `docker-compose up`

[2017-08-10 17:19] #421 closed

[2017-08-10 17:42] llagerlof commented on #497
I just want to add that should have a warning that the file will be deleted on download screen, before the user starts the download, or a download counter when the system supports more than one download.

[2017-08-10 17:42] dannycoates commented on #495
@ericcornelissen thanks for the report! Your fix also works on *nix so I fixed it in #500

[2017-08-10 17:43] #495 closed

[2017-08-10 18:00] andreipoe commented on #498
Thanks! Is this not done as part of the Docker build by choice?

[2017-08-10 18:05] dannycoates commented on #498
Yes, we end up with a smaller docker image this way

[2017-08-10 18:12] #498 closed

[2017-08-10 18:21] dannycoates commented on #488
@GMAF01 thanks! We'll look into issues with file names.

[2017-08-10 19:24] #484 closed

[2017-08-10 19:34] #126 closed

[2017-08-10 19:35] dannycoates commented on #359
done

[2017-08-10 19:35] #359 closed

[2017-08-10 21:32] dannycoates commented on #306
I think what we'd like to do here is change the cursor to a [no-drop](https://developer.mozilla.org/en-US/docs/Web/CSS/cursor) when they're dragging, a folder, more than one file, or something other than a file.

[2017-08-10 22:29] dannycoates commented on #494
Thanks for the report! We are able to reproduce it. Unfortunately we don't know of an easy solution, so this will take some time to fix.

[2017-08-11 00:17] pdehaan opened #501 "Don't run tests+linting on Pontoon commits?"
Not sure how much this this would improve things, but I was just looking at Circle-CI builds and notice that the Pontoon builds take 5-6 minutes each time a localization string changes. Not sure if we could tweak that by not doing some/all of the following:

[code]

Some _super_ rough calculations show it may cut the build by about 1:20, since the majority of the build timing seems to be in the do

[2017-08-11 01:40] jonathanGB commented on #494
ok! Do you have an idea of what is the root of the problem though?

[2017-08-11 09:42] rodo commented on #431
Love to have this feature too !

[2017-08-11 12:04] Shriram-Balaji commented on #306
I have tried to solve the issue to some extent. Please review the recording
![recording](https://user-images.githubusercontent.com/11358903/29212217-ee2eb8a8-7eba-11e7-834a-854985976819.gif)

[2017-08-11 15:21] varghesethomase commented on #446
I guess all the `res.sendStatus(404;)` can be replaced with `res.status(404).render('notfound');` would fix this @pdehaan ? In that case i can send a PR.

[2017-08-11 15:37] #463 closed

[2017-08-11 18:03] #478 closed

[2017-08-11 18:14] dannycoates commented on #494
https://github.com/mozilla-mobile/focus-android/issues/937

[2017-08-11 19:20] #446 closed

[2017-08-11 20:19] pdehaan opened #509 "Move server API routes to /api/ path?"
Ref: https://github.com/mozilla/send/pull/506#issuecomment-321876187

Not sure if we should rename some API routes in [server/server.js](https://github.com/mozilla/send/blob/master/server/server.js) so all API routes are under some /api/ prefixed path so they are a bit more obvious.

### Proposal:

| CURRENT | PROPOSED |
|:----|:----|
| `app.get('/exists/:id', ...)` | `app.get('/api/exists/:id', .

[2017-08-11 21:12] #153 closed

[2017-08-12 11:14] lamka02sk opened #511 "Send link to device"
Hi, I really miss feature to send file link to another device. It would be nice to be able to share uploaded files between your devices.

[2017-08-13 13:02] gautamkrishnar opened #512 "Saw this?"
Mozilla is testing a new and convenient file sharing service for users of any modern browser, including rivals Chrome, Internet Explorer, Edge, Opera and Safari. “Send,” as the service is called, promises to allow users to securely swap files, rendering the download link invalid after the first download is completed.

With a seemingly dim 7% market share, Firefox is one of the most widely-used web

[2017-08-13 13:04] gautamkrishnar commented on #512
I think we must add some user agent/IP based security to prevent multiple users from downloading the same file.

[2017-08-14 14:18] ehuggett commented on #496
Great idea, not always suitable for email but if you know the receiver is waiting for the file it could be very useful indeed.

https://github.com/mozilla/send/issues/403 is somewhat related as Mozilla Thunderbird would be an excellent example of where it is not nessisary (and safer not to) execute JavaScript from Send. If both parties have a plugin, they only need the encrypted data itself. If th

[2017-08-14 14:27] ehuggett commented on #512
Its not clear if this would work for send...

Can we **unlink** (delete) the file once the download starts (instead of after it has finished), the process reading the file might not be affected at all depending upon the backend used for storage, this would help avoid any unnecessary retention of metadata (IP addresses etc, even for short periods of time).

This "trick" is used by flash player (etc

[2017-08-14 14:43] MikkCZ commented on #511
With [Firefox Sync](https://www.mozilla.org/en-US/firefox/features/send-tabs/) you can. Just visiting the download link does not start the file download (unless you click the button), so sending the tab with the download should work the usual way.

[2017-08-14 15:26] ehuggett commented on #75
For multi-file uploads an archive format similar to tar/zip etc would avoid having to deal with multiple filenames (they would become part of the encrypted data) and as such avoids even telling the server its multiple files (once #69 prevents it from seeing the archive filename)

It is possible to create/handle zip archives with javascript (but its is sensible to do so?) so the downloaded does not

[2017-08-14 16:24] dannycoates commented on #512
The problem with sharing the link over an insecure channel is that we (the service) can't tell the difference between the intended recipient and any unintended ones, so it becomes a race. I wrote up a quick gist as I was reasoning through this, [here](https://gist.github.com/dannycoates/2e89c97aebecb555a6b289b2f011330a)

TLDR; We are working on designing a UX for setting a password/PIN in #381.

[2017-08-14 17:12] gautamkrishnar commented on #512
@dannycoates really happy to know that :smile:

[2017-08-14 17:20] gautamkrishnar commented on #512
@dannycoates really happy to know that :smile:

[2017-08-14 18:17] ehuggett commented on #512
Hmm, my previous suggestion would cause the file to be lost if the download is interrupted, which i didn't consider, and i can see people having an issue with for it being "too paranoid", but at the same time, how often will this actually happen? (especially for smaller files).

I would like to convince you otherwise about option Y from your Gist.
- If John does not click download before someone e

[2017-08-14 18:40] dannycoates commented on #512
issue comments are fine (and appreciated) @ehuggett 😄

[2017-08-14 18:50] ehuggett commented on #496
related, probably a requirement (a stable interface) #431

[2017-08-14 19:00] ehuggett commented on #511
related #423?

[2017-08-15 10:02] youwenliang commented on #475
Measurements here: https://mozilla.github.io/testpilot-assets/Send/Send_New_Features/

[2017-08-15 10:16] youwenliang commented on #381
@johngruen

Proposal 1:
Add customized password before uploading files:
https://mozilla.invisionapp.com/share/4VD1F8WAF

Proposal 2:
Use auto-generated decryption key as password:
https://mozilla.invisionapp.com/share/YKD1F98RH

[2017-08-15 18:14] ehuggett commented on #381
Proposal 1,
- Its seems very reasonable to "unmask" the password by default (i think this was added after the initial mock-up?). An option to mask the password might be useful in some environments (but most users would probably not require this, depending upon how they share the secret it may be displayed on a screen anyway)

In proposal 2,
- I can't see any harm if the "pointer url" and the "decr

[2017-08-16 07:39] youwenliang commented on #381
@ehuggett For proposal 2 I'm just following the current implementation (short pointer url + long decryption key). This approach is similar to what MEGA(https://mega.nz) uses to protect user's files.

<img width="736" alt="image" src="https://user-images.githubusercontent.com/8919308/29352362-08b1c10c-8299-11e7-81e0-8b35824c3300.png">

[2017-08-16 07:52] clement-lefevre opened #517 "The "Send another file" link on the error webpage can't be clicked"
Reproduce everytime on Firefox Android:
- Remove the storage permission to Firefox to cause send.firefox.com to fail
- You get the "Something went wrong!" webpage
- The send another file under the image can't be clicked at all

[2017-08-16 07:57] clement-lefevre opened #518 "Add a "report an issue" link to the webpage"
As someone suggested on IRC, add a link to report  an issue on send.firefox.com would be nice.
Actually as a regular Mozilla contributor, I didn't knew if bugs were to be reported here or on Bugzilla until someone told me.

[2017-08-16 08:43] clement-lefevre commented on #517
![Screenshot of the link](https://user-images.githubusercontent.com/1701721/29354990-9d091866-826f-11e7-9c39-1691d805cd6b.png)

[2017-08-16 12:38] SoftVision-CiprianMuresan opened #519 "Drag and Drop to upload does not work on the Dev page"
[Notes]:
- The issue is not reproducible on the Stage and Prod pages.

[Affected versions]:
- Firefox Release, Beta, Nightly
- Chrome

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Open the browser and navigate to https://send.dev.mozaws.net/.
2. Drag and drop a file in the drop area.
3. Observe the behavior.

[Expected result]:
- Upload starts.

[Actual resul

[2017-08-16 17:27] dannycoates commented on #517
Thanks for the report :)

I think this is a duplicate of #478 and will be fixed in the next release

[2017-08-16 17:27] #517 closed

[2017-08-16 17:40] wresuolc commented on #518
There is a Feedback link that goes to the survey currently.  Marking needs:product

[2017-08-16 17:42] wresuolc commented on #512
The password mentioned above should help address this.

[2017-08-16 17:42] #512 closed

[2017-08-16 17:46] wresuolc commented on #494
thanks for finding the root cause. closing this

[2017-08-16 17:46] #494 closed

[2017-08-16 17:48] wresuolc commented on #475
@youwenliang are we done with the UX here or is there more to do?

[2017-08-16 18:11] #519 closed

[2017-08-17 00:44] #389 closed

[2017-08-17 01:09] dannycoates commented on #150
done in #516

[2017-08-17 01:09] #150 closed

[2017-08-17 02:12] youwenliang commented on #475
@wresuolc We are good to go!

[2017-08-17 06:17] lufficc opened #521 "Delete file from AWS when expired"
When uploaded a file, no one downloads it.  After it expired, this record will delete from redis, **but not delete from AWS , right**?

[2017-08-17 11:38] SoftVision-CiprianMuresan opened #522 ""Copy to clipboard" button is wrongly not transformed into a "✓" symbol after being clicked"
[Notes]:
- The issue is also reproducible on the Dev page.
- The issue is not reproducible on the Prod page.

[Affected versions]:
- Firefox Release, Beta, Nightly
- Chrome

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Open the browser and navigate to https://send.stage.mozaws.net/.
2. Upload a file.
3. Click the "Copy to clipboard" button and observe the beh

[2017-08-17 11:54] SoftVision-CiprianMuresan opened #523 ""Copy and Share" string and file information are not displayed after successfully uploading a file"
[Notes]:
- The issue is also reproducible on the Dev page.
- The issue is not reproducible on the Prod page.

[Affected versions]:
- Firefox Release, Beta, Nightly
- Chrome

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Open the browser and navigate to https://send.stage.mozaws.net/.
2. Upload a file.
3. Observe the "Link copy" page.

[Expected result]:
- "Cop

[2017-08-17 13:03] SoftVision-CiprianMuresan opened #524 "Percentage is not displayed when downloading a .txt file"
[Notes]:
- The issue is also reproducible on the Dev page.
- The issue is not reproducible on the Prod page.
- I've tried to reproduce this with many other files with different extensions and it seems to only happen with .txt files.

[Affected versions]:
- Firefox Release, Beta, Nightly
- Chrome

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Open the browser a

[2017-08-17 14:18] ehuggett commented on #524
I was able to reproduce with the following on dev and stage
- Firefox 52.3.0 (64-bit) from debian package repositories
- Firefox Developer Edition 56.0b3 (64-bit) from Mozilla (tarball)

Using a file created as follows:
`dd if=/dev/urandom of=101kb.txt bs=1024 count=101` did trigger the bug

- But the progress bar works when I change the file extension to rzr
- I have not tested files with no exte

[2017-08-17 14:26] SoftVision-CiprianMuresan commented on #519
The issue is no longer reproducible on the Dev page. Marking as verified.

[2017-08-17 14:35] ehuggett commented on #521
I can't find it now but i remember seeing some discussion about this, i think it was suggesting something similar to https://aws.amazon.com/blogs/aws/amazon-s3-object-expiration/ was in use?

The expiry is rounded up to the "next midnight" and the link seems to suggest the only guarantee is that they will be deleted by the midnight after that one (as the rules are only applied once per day at an u

[2017-08-17 16:03] dannycoates commented on #521
@ehuggett is correct. We use S3 lifecycle expiration to delete the file from AWS.

Here's our exact portion of configuration for this bucket:
[code]

[2017-08-17 16:03] #521 closed

[2017-08-17 16:16] #522 closed

[2017-08-17 16:27] #523 closed

[2017-08-17 17:07] ehuggett commented on #524
Somebody seems to have set the content-type header to something other than octet stream, why? (not yet on production)

[2017-08-17 17:29] ehuggett commented on #524
oh dear... this also breaks if you upload an html file, I strongly suspect the Content-Type header is related

That header will be set to "text/html" on the response from https://send.dev.mozaws.net/assets/download/<file-id>, does this violate "Web APIs must set a non-HTML content-type on all responses, including 300s, 400s and 500s (APP-NOHTML)" from #202? (remember encryption is technically opti

[2017-08-17 17:47] dannycoates commented on #524
This should be fixed as of e9405f49eee5653c8dcebb46e69c6bd03d5183d4 and is up on https://send.dev.mozaws.net

The content-type was added to support mobile browsers but only the decrypted blob should have that type. The encrypted download should just be application/octet-stream.

[2017-08-17 17:47] #524 closed

[2017-08-17 22:05] klint opened #525 "Extend download beyond 24hrs or 1st download?"
I understand there must be limit for security or resource management reasons, but 24 hours and one download only seems really too short to me.
In my own experience, even the current limit of wetransfer is almost too short actually! I may use my smartphone whole day long, but some files will be downloaded on a specific computer only, which I may not visit often enough: I maybe using a my work compu

[2017-08-18 00:00] ehuggett commented on #521
Would there be any financial benefit to deleting from AWS sooner?
- Delete rule only runs once every 24 hours
- Assuming **every** 24 hours, then up to <24 hours worth of expired data is in storage.
- so up to 48 hours "worth" of storage is used to run the service

It should be possible to avoid it
- Delete requests are free (and a single request [can delete 1000 objects](https://aws.amazon.com/bl

[2017-08-18 01:18] dannycoates commented on #521
Possibly. Cost cutting isn't our top priority at this point but I think we'd welcome patches that saved us money :)

[2017-08-18 09:23] SoftVision-CiprianMuresan commented on #522
The issue is no longer reproducible on the Dev and Stage pages. Marking as verified.

[2017-08-18 09:23] SoftVision-CiprianMuresan commented on #523
The issue is no longer reproducible on the Dev and Stage pages. Marking as verified.

[2017-08-18 09:23] SoftVision-CiprianMuresan commented on #524
The issue is no longer reproducible on the Dev and Stage pages. Marking as verified.

[2017-08-18 15:07] ehuggett commented on #403
I have a working collection of python scripts for download/decrypt/encrypt/upload, compatible with the browser/js send client (browser can download python uploads and vice versa), but I am very hesitant to share it at this stage as it does many dangerous things (such as not sanitizing inputs, from the user or the server/uploader).

However, for the time being, The following should be of help to an

[2017-08-18 21:01] LuFlo opened #526 "Private Upload Page"
It should be possible to secure the upload page in a private area while the download pages are still available for everyone. This is when you want to run a "send"-server only for sharing your own files

[2017-08-18 21:03] LuFlo commented on #525
You can actually change the time on your own, see server configuration file:
[ send/server/config.js](https://github.com/mozilla/send/blob/master/server/config.js)
I think "expire_seconds" is the parameter you are searching for :-)

[2017-08-18 23:42] ehuggett commented on #69
and now the content-type? (added in #489 )

I had a bash at learning enough JavaScript just to attempt to encrypt the filenames the other day. Lets just say both it and my knowledge of JavaScript still need a lot of work... 😆

https://github.com/ehuggett/send/commit/170c0470887de499f82adf980d63fc9cf9e35674
- It now conflicts with master
- Doesn't decrypt filename for display on download page (just

[2017-08-20 00:23] ehuggett commented on #496
https://support.mozilla.org/en-US/kb/filelink-large-attachments

two examples
https://github.com/meganz/filelink (MPL v2)
https://github.com/DownloadTicketService/dl/tree/master/client/thunderbird-filelink-dl (GPL v2)

Should the plugin also prompt to download send urls? Supporting privately hosted Sends would not be impossible but probably can't guarantee no false positives (http or https, hostna

[2017-08-20 11:12] Lxxyx commented on #525
Same problem. How to download file multiple times.

[2017-08-20 12:30] ehuggett commented on #525
Increasing both would make Send more susceptible to the issues https://mega.nz/takedown "have to deal with", they can cover their legal costs with the fee's they charge.

I am not a lawyer, but I think the short expiry may be important in avoiding the need to process [take-down notices ](https://en.wikipedia.org/wiki/Notice_and_take_down) and the single download limit makes it redundant anyway, Ho

[2017-08-20 19:21] ehuggett commented on #403
I've made it available at https://github.com/ehuggett/send-cli

Watch out, it still has sharp edges such as
- overwriting any existing file without additional warning if you accept one as the download name
- uses a huge amount of memory when handling large files (much like the official client!)
- your probably going to need to install at least pycryptodomex with pip3, sorry, i don't think its avoi

[2017-08-20 21:02] klint commented on #525
I agree that the legal aspect is one of the reasons. But as you say, both restrictions taken together are redundant in a way.
In my opinion, having a greater time slot to proceed to download is more important than allowing multiple downloads, in order to have a 'send' feature that is really usable but that is not a 'store and make it available for everybody for a while' feature.

[2017-08-21 16:16] pdehaan opened #530 "Send should have a webapp manifest"
Submitted to #TestPilot Slack channel via @snorp on Sat Aug 19 @ 12:10pm:

[2017-08-21 21:43] pdehaan commented on #530
<img width="1439" alt="lighthouse_report" src="https://user-images.githubusercontent.com/557895/29539480-dc0d59e2-867e-11e7-9764-97a504bace63.png">

[2017-08-21 22:36] pdehaan opened #532 "Move `<script>` tags into bottom of `<body>`"
Per https://github.com/mozilla/send/pull/516#discussion_r133370602

@pdehaan says:

@dannycoates replies:

[2017-08-22 00:39] pdehaan commented on #532
I'm struggling a bit with this one.
I copied the two `<script>` tags from webpack/layout.hbs from `<head>` into `<body>`, but the injected scripts still appear in `<head>`:

https://github.com/mozilla/send/blob/8f1c404724c5d586a6dca54b17b56c0b594d4b75/webpack/layout.hbs#L30-L31

---

If I inject the Webpack-ified `<script>`s into `<body>` instead of `<head>`, things get broken:

https://github.com

[2017-08-22 02:11] dannycoates commented on #532
I'm rearranging some stuff that should fix this...

[2017-08-22 14:58] ehuggett commented on #525
I also call the combination very effective in the linked issue, it is only redundant if everyone sees the futility of demanding content be taken down that will be deleted within 24 hours anyway (which they could delete themselves, by downloading it) as they do have a legal right to make such a demand.

I also think we both know there will be some copyright holders don't have the same standard for

[2017-08-22 15:34] ehuggett commented on #518
Would this also allow malicious content to be reported? (I will move this to a separate issue if not)

I propose that a user should be able to report ('claim') that a link they have received violates Sends terms of service, specifically targeting attempts to abuse the service Send offers.

### 'standard' report
1. Should not contain any metadata or plaintext the server did not already posses/have

[2017-08-22 17:03] sevaan commented on #220
I don't think a red button is the right choice here. We don't use a solid red button for anything else in Firefox as it implies errors/warnings as oppose to a delete action.

Also, it's so bright it feels like it draws attention away from the most important element on the page: the copy URL button.

Maybe it is better if it is just red text.

[2017-08-22 19:28] ehuggett commented on #220
If red is used at all, should the intensity of the red increase in #delete-file:hover ? I know buttons generally darken when you hover over them, but if red is being used to indicate caution i was wondering if it would make sense to disregard this convention in favour of reinforcing this message (currently decreases the intensity from `#d00000` to `#b80603` in :hover)

Deleting a file is not norma

[2017-08-23 06:48] youwenliang commented on #381
Measurements for Proposal 1:
https://mozilla.github.io/testpilot-assets/Send/Send_Password_1/

Measurements for Proposal 2:
https://mozilla.github.io/testpilot-assets/Send/Send_Password_2/

I think we can either plan for A/B tesing the two proposals or go with Proposal 2 to test out the password idea first.

[2017-08-23 16:45] sevaan opened #534 "Copy link confirmation is too light"
I feel like the background of this confirmation checkmark button is either a) too light and should be greener, or b) should have the same green border around it as the rest of the field or c) both.

![screen shot 2017-08-23 at 12 41 54 pm](https://user-images.githubusercontent.com/473531/29627566-76704d6e-8800-11e7-9941-1c5e3c64eb56.png)

What do you think, @youwenliang?

[2017-08-23 17:16] dannycoates commented on #534
It currently has `opacity: 0.3`

Here's 100%:

<img width="289" alt="screen shot 2017-08-23 at 10 15 08 am" src="https://user-images.githubusercontent.com/87619/29628969-18478e96-87ec-11e7-8239-d71779a20ae3.png">

[2017-08-23 17:30] sevaan commented on #534
Let's make it full opacity (which also happens to be how the button is shown in Peko's visual design work). Thanks!

[2017-08-23 17:43] sevaan commented on #381
I just went through Proposal 1, and it feels awkward to set a password before you upload a file. Shouldn't the password options be on the Copy URL page like the hash stuff in option 2?

Also, the confirmation states when copying the password/hash should be a checkmark, instead of the word "copied" to match the confirmation action when copying the URL.

[2017-08-23 17:59] johngruen commented on #526
@LuFlo, are you trying to host your own send server? you could use htaccess or some other server config to password protect the upload page.

[2017-08-23 18:00] johngruen commented on #525
We've added this to our prioritization, and it seems important. Will have a spec for this feature soon.

[2017-08-24 02:17] youwenliang commented on #534
@sevaan I've changed it in my pull request #533 !

[2017-08-24 02:23] youwenliang commented on #381
@sevaan Agreed, seems a bit awkward to set a password before uploading. We've talked to John and learned that there might be some feasibility issues if we set the password after uploading.

Anyway, I suggested we can test out option 2 first.

[2017-08-24 02:41] sevaan commented on #534
Ah, awesome. Thanks!

[2017-08-24 03:53] mterron commented on #381
Why don't you generate the pin, no input from the user.

6 digits should be plenty.

On 24/08/2017 2:23 pm, "You-Wen Liang (Mark)" <notifications@github.com>
wrote:

[2017-08-24 04:15] ehuggett commented on #381
If the users password is used as part of the data used to generate/derive the file encryption key this would be a technical requirement, The details ended up being quite long so I've put them here https://gist.github.com/ehuggett/e1e3b4c8f73cd793cfc114c570187212 to keep the noise down a bit

[2017-08-24 07:23] LuFlo commented on #526
@johngruen Yeah, I forgot to mention that this is an idea especially for those who want to host their own servers. I know you can use htaccess but it is hard to figure out which URL to protect if you only want to protect the upload page. It would be kind of handy if you could use pluggable UserProvider or so to fetch credentials from a DB or LDAP. In addition it would be nice looking if the login

[2017-08-24 14:32] ehuggett commented on #526
You need to prevent access to /send from unauthenticated clients even if they cannot access the "upload webpage" (https://github.com/ehuggett/send-cli)

[2017-08-24 15:15] ehuggett commented on #47
Is there any way of going about this on Android (and iOS) without requiring a local app? (to register the Send service an an option for sharing files).

An app for iOS might be desirable anyway to address the usability issues with Safari on iOS. Namely the user being unable to save the file and being forced to preview or pass it to a app that can handle the files content, a little risky with only

[2017-08-24 18:27] LuFlo commented on #526
AFAIK the server doesn't serve any routes on /send, so my guess was to keep /upload and / (only page) private (see [](https://github.com/mozilla/send/blob/master/server/server.js))
. The other way around would be to keep everything but /download and /resources private but there are some js in the root folder.

I will do some testing in the next days and try to find other possibilities to abuse the

[2017-08-24 22:55] #287 closed

[2017-08-24 23:15] ehuggett commented on #526
sorry, i completely missed the type and you trying to point it out to me. It is indeed /upload and not /send you need to restrict, sorry

[2017-08-25 00:24] dannycoates commented on #405
done at some point

[2017-08-25 00:24] #405 closed

[2017-08-25 15:17] #534 closed

[2017-08-25 15:39] dannycoates opened #538 "Localize expire countdown?"
Our expire countdown is currently hard coded to the form `12h 34m`, decreasing to 0 as time passes.

@flodolo, is there a standard for localizing a timer like this? `Intl.DateTimeFormat` is the closest thing I could find, but the timer shouldn't be mistaken for a "wall clock" time.

<img width="598" alt="screen shot 2017-08-25 at 8 27 16 am" src="https://user-images.githubusercontent.com/87619/297

[2017-08-25 15:57] dannycoates commented on #381
Setting the password after upload isn't totally infeasible but would be harder to implement. An option that would not be any harder technically is to set the password after you've selected the file, but before uploading. We could do this with a modal dialog or an intermediate screen.

[2017-08-25 15:59] flodolo commented on #538
Intl.RelativeTimeFormat might help, but it's not there yet…
https://bugzilla.mozilla.org/show_bug.cgi?id=1270140

You could make this localizable with two strings and a detailed localization comment

[code]

[2017-08-25 16:51] #376 closed

[2017-08-25 16:51] #441 closed

[2017-08-25 16:51] #476 closed

[2017-08-25 16:51] #509 closed

[2017-08-25 16:51] #532 closed

[2017-08-25 16:56] dannycoates opened #539 "Copy and Delete should be collapsed for responsive"
The sole remaining issue from #303

[2017-08-25 16:57] dannycoates commented on #303
closing in favor of #539

[2017-08-25 16:57] #303 closed

[2017-08-25 21:03] dannycoates commented on #434
fixed maybe

[2017-08-26 21:16] thomcc opened #540 "Sending the link from send using "Send Tab" is awkward."
This is a mouthful of an issue title. Sorry. I don't see an issue for this, but it's related to #511, sort of.

Currently, the URL only appears in `<input>` and so if you want to use it with Send Tab, a user has to copy the link, open it in a tab, and then send that tab. This is kind of annoying and would be relatively easy to make better:

If it appeared in an `<a>` (maybe below the `<input>`?),

[2017-08-26 22:29] ehuggett commented on #540
I can highlight a text that is not a link such as send.firefox.com and when I right click it I see "bookmark this link", "save link as" etc options, but when I highlight the send link (in the input box with the "copy to clipboard" button) I am not offered this option

(I assume Send to tab options are offered in the same circumstances? I've never used it)

I just copied the input box into a blank

[2017-08-26 23:37] thomcc commented on #540
@ehuggett Filed https://bugzilla.mozilla.org/show_bug.cgi?id=1394158 for the same reason. It might be nice for that not to need to ride the trains to remove the awkwardness, though.

[2017-08-27 21:03] ehuggett opened #543 "Self hosting with local file storage"
https://github.com/mozilla/send/blob/182bde30fa3a5321e97dbe0a3480c6e40e531b7d/server/storage.js#L47

- a "random" local directory now appears to be used for storage? ie (`/tmp/send-EfYM9A` where `EfYM9A` changes every time i run `npm run build && npm run prod`),
- /tmp is a risky location for data potentially wanted for 24 hours (reboot), but its unlikely to impact dev usage

[2017-08-27 23:51] ehuggett commented on #383
I can upload 0byte files on production and dev.

I did manage to grab this screenshot from dev
![send_nan](https://user-images.githubusercontent.com/8090731/29754963-d874219a-8b87-11e7-98cb-3d5cc94fb0c3.png)

234B sounds plausible for posting an "empty" encrypted file (probably 32Bytes itself?) as an attachment on a form that also has a few metadata fields and headers (filename, content-type etc),

[2017-08-28 09:07] abinabrahamanchery opened #544 "Muliple download option"
There should be an option to send multiple download links
currently the link is valid only for 24 hours or Only 1 Download (which ever comes first)
make the link active for 24 and multiple download option instead of one download option

[2017-08-28 09:29] ehuggett commented on #544
duplicate?/related https://github.com/mozilla/send/issues/420 https://github.com/mozilla/send/issues/98 https://github.com/mozilla/send/issues/525

[2017-08-28 16:13] pdehaan commented on #544
Yep, thanks @ehuggett!

Closing as duplicate of previously mentioned bugs.

[2017-08-28 16:13] #544 closed

[2017-08-28 17:14] dannycoates commented on #543
We should add a config variable for this. The filesystem storage is mainly used for development, hence the change to temp, but I see how it's useful for self hosting.

[2017-08-28 17:22] dannycoates commented on #539
Instead of collapsing, could we transform the table into something more like a "card" (more vertical space) for each file with nice big touch targets for mobile?

[2017-08-28 17:34] johngruen commented on #540
@thomcc we definitely have not optimized for this usecase. I'll add this to stretch for now while we figure out our path forward here.

[2017-08-28 17:39] johngruen commented on #539
So, let's resolve this by no-wrapping the file and using an ellipse to overflow, changing the second column to copy, and center aligning `td` elements

[2017-08-28 17:51] johngruen commented on #423
@ousui could you give a concrete example of when you would want a QR code? Is this sending to a friend or sending a file to yourself?

[2017-08-28 19:15] #434 closed

[2017-08-29 01:45] ousui commented on #423
@johngruen
In China, many people use PC with vpn/proxy to download files like apk, videos.
When I have not  usb-cable, I'll download these files with send.firefox.com. But the url is too long to input.

[2017-08-29 11:33] ehuggett commented on #423
I was about to suggest a firefox addon, but the first 3 i have looked at from the addons search results (including "JavaScript QR Code, Make QR Codes in pure JavaScript" and one marked "featured") rely on or expose the data to an external service (some of them over plain http!) and don't necessarily make this obvious to the user.

Might be worth considering? (Many QR addons don't seem to give any

[2017-08-29 13:45] SoftVision-CiprianMuresan opened #545 "Link copy box border is not turned green when the "Copy to Clipboard" button is clicked"
[Notes]:
- The issue is not reproducible on the Prod and Stage pages.

[Affected versions]:
- Firefox Release, Beta, Nightly
- Chrome

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Open the browser and navigate to https://send.dev.mozaws.net/.
2. Upload a file.
3. Click the "Copy to Clipboard" button and observe the link box border.

[Expected result]:
- Link

[2017-08-29 13:51] sevaan commented on #381
Here's another take on separating the decryption key: https://mozilla.invisionapp.com/share/DVD8UDI75#/screens/250844186_Separate_Decryption_Key

On the sender side I downplayed the option since it's more of an advanced feature and added an info tooltip which explains why you might want to do it.

On the receiver side, I removed the image of happy flying file from the view where the receiver has t

[2017-08-29 14:12] SoftVision-CiprianMuresan opened #546 "Drag and Drop feedback animation is lost if you hover the Send upload image, text or button"
[Notes]:
- The issue is not reproducible on the Prod and Stage pages.

[Affected versions]:
- Firefox Release, Beta, Nightly
- Chrome

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Open the browser and navigate to https://send.dev.mozaws.net/.
2. Drag a file over the "Select a file to upload" button and observe the behavior.

[Expected result]:
- Drag and Drop

[2017-08-29 14:21] SoftVision-CiprianMuresan opened #547 ""Send another file" is missing from the "Something went wrong!" page"
[Notes]:
- The issue is not reproducible on the Prod and Stage pages.

[Affected versions]:
- Firefox Release, Beta, Nightly
- Chrome

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Open the browser and navigate to https://send.dev.mozaws.net/error.
2. Observe the page under the error image.

[Expected result]:
- "Send another file" link is displayed.

[Actual

[2017-08-29 18:25] #545 closed

[2017-08-29 18:36] #546 closed

[2017-08-29 18:46] dannycoates commented on #547
@sevaan I took "send another file" out because it doesn't make sense in all the areas we show this. The back button or logo link are how you'd recover. If we want more text here we'll need new strings since the current set only accounts for upload errors. Our error strings should be generic enough to work for any error.

[2017-08-30 07:57] SoftVision-CiprianMuresan commented on #547
I have to point out that the back button does not go back to the Upload page. Logo link works as expected and you can also refresh (F5) to get back to the Upload page.
That being said, I think we should at least have a more suggestive message like "Something went wrong, try again".

[2017-08-30 13:29] SoftVision-CiprianMuresan commented on #545
The issue is no longer reproducible on the Dev page.

[2017-08-30 13:29] SoftVision-CiprianMuresan commented on #546
The issue is no longer reproducible on the Dev page.

[2017-08-30 13:32] SoftVision-CiprianMuresan commented on #476
The issue is no longer reproducible on the Dev page.

[2017-08-30 17:24] dannycoates commented on #547
Thanks, I'll change it so the back button works

[2017-08-30 22:41] pdehaan opened #548 "Check `npm run format` paths"
Currently (as of ef9bfae3196df8f72521f0b65d89f39359555dfa), when I run `npm run format`, it seems to only format _one_ file. Seems fishy. 🐟

[code]

I think if we upgrade to latest **prettier**, we can use some new .prettierignore and .prettierrc config files to simplify some globbin'.

[code]

[code]

I do believe that'd let us slightly simplify our config to:

[code]

... which would do the foll

[2017-08-30 23:26] dannycoates commented on #548
what version of prettier are you running? I'm on 1.5.3 and running `npm run format` does all the files I expect:

[code]

[2017-08-31 14:44] ehuggett commented on #18
I'm now doing this in python(send-cli, not pushed the changes yet), memory usage is now irrelevant even with 2Gb files, but I don't think its possible with the webCryptoAPI? (I'm also using temp files, also unavailable in javascript?)

There are some javascript crypto libraries which seem to support it, but it would seem a shame to have to use them for this (presumably the webCryptoAPI was intende

[2017-08-31 17:32] pdehaan commented on #548
Wacky. I recloned to a clean directory and `npm run format` and it did all paths. Seems like I made some questionable change in my local repo which caused some downstream chaos.

Closing.

[2017-08-31 17:32] #548 closed

[2017-08-31 18:21] sevaan commented on #381
Based on a team discussion yesterday I've made the following changes:

Option A:
- Increased the size of the text next to the checkbox
- Increased size of [question mark](http://design.firefox.com/icons/viewer/) icon
- Removed hidden characters from decryption key field on download page
- Created [second option](https://mozilla.invisionapp.com/share/BVDAJOQPE) where info text appears once box is c

[2017-09-01 14:49] ehuggett opened #549 "Uploading a file close to but less than max_file_size always fails"
- Observed on a local v1.1.2 server
- Uploading a file exactly equal to max_file_size always fails
- Files which are not rejected by the client (as they are less than max_file_size) are rejected by the server after the user has posted the data
- with max_file_size set to 1024 (bytes) I was unable to send a file larger than 1008 bytes
- with max_file_size set to 1040 (bytes) I was unable to send a

[2017-09-01 16:55] johngruen opened #550 "A/B Test Beefy Upload UI"
#
In order to inaugurate a new era of A/B testing we propose the following test:

### Hypothesis
The primary CTA/Interaction points on the send home page are too small and faint, and that making them easier to see will increase overall usage of the service.

### Test
This can be proven by conducting an A/B test wherein the control branch is the current UI and the experiment branch makes the follow

[2017-09-02 04:57] hbakhtiyor opened #551 "any possible way to integrate tus.io for resumable file upload?"
[Open protocol for resumable file uploads](https://tus.io/)

[here's](https://github.com/psi-4ward/psitransfer) similar `send` project which used tus.

[2017-09-02 09:49] ehuggett commented on #551
That looks really interesting, thanks, I've bookmarked it for future reference (/use in other projects).

This would be related to #18, as larger files take longer to upload (and the probability and consequences of network issues increase with filesize).

#174 would result in the file(s) being uploaded in "chunks", each of which could be retried individually should any of them fail to upload (most

[2017-09-02 10:35] Acconut commented on #551
Hello, I am the project lead on the tus protocol and would like to offer my help. Even if I don't have much experience with Firefox Send, I am more than happy to answer your questions regarding tus. :)
Depending on your requirements, the tus-js-client (https://github.com/tus/tus-js-client) may already be usable for you.

[2017-09-03 02:26] hbakhtiyor commented on #551
btw, reasonable also to integrate uppy here?

[2017-09-03 12:22] ehuggett commented on #551
(personal opinion) not yet at least?

You can only upload one file and the the OS open file dialogues from any modern desktop (windows, osx, gnome, kde etc) will display content previews. Perhaps once the user can upload multiple files? As we would presumably wait for the user to say "done, now upload it" they could be displayed at this stage. But I think we should be careful how content-previews

[2017-09-03 13:19] Jackychans commented on #431
agree, we should have this

[2017-09-04 09:28] istrwei opened #552 "I think you can integrate mzl.la short link service, make url more beautiful!"
I think you can integrate mzl.la short link service, make url more beautiful!

[2017-09-04 13:12] hbakhtiyor opened #553 "p2p mode"
would be nice to add p2p option too,

[2017-09-04 14:03] ehuggett commented on #552
I can't actually find a link shortening service from Mozilla? Perhaps I've misinterpreted, but the clear goal appears to be shorter URL's so I've outlined why the links are currently the length they are and what could potentially be done about it

`https://send.firefox.com/download/987baba32f/#hNYoNIbyxDm4F-1WByhwKA`

The following points are formatted as "[current length, potential minimum length

[2017-09-04 14:33] ehuggett commented on #553
There seem to be plenty of working examples for this (in no particular order, only from the first page of search results)

https://github.com/cowbell/sharedrop / https://www.sharedrop.io/
https://github.com/KodeKraftwerk/reepio / https://www.reep.io/
https://github.com/kern/filepizza / https://file.pizza/

If we kept the file encryption (I didn't look closely, but I believe all of the examples rel

[2017-09-04 15:03] istrwei commented on #552
I thought the suffix is randomly generated string, the original is the key, understand, understand the principle, it is very cool!

[2017-09-04 15:05] #552 closed

[2017-09-04 16:53] pdehaan commented on #552
Ref #87

[2017-09-06 12:08] hbakhtiyor opened #554 "render media files"
would be nice to show media files in browser

[2017-09-06 17:39] wresuolc commented on #554
Would you expand on this idea a bit?  Where would you like to see media files?  As a preview when uploading?  Or before downloading?

[2017-09-06 17:41] wresuolc commented on #553
duplicate of #424

[2017-09-06 17:41] #553 closed

[2017-09-06 17:45] wresuolc commented on #547
Let's make it "Send a file"

[2017-09-06 17:47] wresuolc commented on #475
Danny would like to do this after the passwords code lands.  Moving target to Hippo

[2017-09-06 18:02] pdehaan commented on #554
Also, which type of "media files"?

- [ ] PNG / GIF / JPEG
- [ ] MOV / MP4 / AVI
- [ ] SWF
- [ ] MP3 / OGG
- [ ] DOC / DOCX

I imagine this could get very tricky since it confuses the concept of "download once then delete from server" since I would theoretically be able to see a JPEG preview, but then never need to download the file, making it available for others to view the preview until the fil

[2017-09-06 20:25] #543 closed

[2017-09-06 20:40] sevaan opened #555 "Check Russian language localization"
Just going through survey feedback and saw this one:

**просрачиваются на русском это звучит двусмысленно )))**

Which in Google Translate reads:
**they are skewed in Russian, this sounds ambiguous)))**

How do we check if it is localized correctly?

[2017-09-06 21:09] #539 closed

[2017-09-06 21:11] dannycoates commented on #539
I left "Copy URL" to save an l10n cycle. The ellipsis seems like enough to me.

[2017-09-06 23:47] pdehaan commented on #555
/cc @mathjazz @flodolo

[2017-09-07 01:57] hbakhtiyor commented on #554
yeah, before downloading or maybe after download? (not saving to local drive)

images, videos, audios, pdf, otherwise which support by browser

[2017-09-07 06:52] flodolo commented on #555
You need to identify another Russian speaker…

Honestly, as it stands the issue is not actionable, we need something more detailed to do anything, even get back to localizers.

[2017-09-07 09:11] TemaSM commented on #555
Native Russian speaker & Node.js dev already arrived 👌
Will send PR with fixes for :ru: locale very soon

@sevaan @pdehaan @flodolo & other contributors, thank you guys for creating awesome Fiefox Send service, keep going!

[2017-09-07 09:15] flodolo commented on #555
Great! CC @unghost and @BychekRU

Ideally we would take corrections via Pontoon, so they're correctly attributed, a PR would work too
https://pontoon.mozilla.org/ru/test-pilot-firefox-send/

[2017-09-07 14:45] sevaan commented on #554
Some survey feedback also asked if text files could be displayed instead of downloaded, like with Pastebin.

[2017-09-07 14:52] sevaan opened #557 "Possible Spanish localization correction"
From Survey feedback:

However, in Google Translate both translate to "encrypted". Not sure if one is more common than the other.

@mathjazz @flodolo

[2017-09-07 14:53] sevaan commented on #557
Just came across another comment about it with some more information:

[2017-09-07 14:54] flodolo commented on #557
@jesferman @jvadillo @avelper

Transvision seems to agree
https://transvision.mozfr.org/?recherche=encrypted&repo=central&sourcelocale=en-US&locale=es-ES&search_type=strings_entities

[2017-09-07 21:20] sevaan commented on #381
After more discussion we are no longer doing split-hash, and instead are doing straight-up password protection. Here are revised mocks of the UX for the [sender](https://mozilla.invisionapp.com/share/CTDDQDXME#/252367497_Password_Protection_-_Sender), and the [receiver/downloader](https://mozilla.invisionapp.com/share/CTDDQDXME#/252367496_Password_Protection_-_Receiver).

[2017-09-08 03:02] ehuggett commented on #381
The secret on the URL does not change when the password is updated, implying no key wrapping etc, so the server will have knowledge of the password?

If this is the case, Perhaps the server should specify the password to avoid handling any 'sensitive' information? (no need to have a big collection of password hashes, which unlike the encrypted data is vulnerable to brute force if obtained/stolen)

[2017-09-08 17:03] avelper commented on #557
Yes, you are right.

Where are those strings so I can change them?

Thanks!

[2017-09-08 17:14] pdehaan commented on #557
@avelper Thanks for the help. You can find some more information on our Localization workflow at https://github.com/mozilla/send#localization.

[2017-09-08 17:22] flodolo commented on #557
https://pontoon.mozilla.org/es-ES/test-pilot-firefox-send/send.ftl/?search=encrypted&string=168988

[2017-09-08 17:39] adamopenweb opened #558 "Home screen icon is blurry"
Minor issue. When adding to home screen on Android, the icon is kind of blurry.

STR:
1. Open Firefox for Android
2. Navigate to https://send.firefox.com
3. Go to the Firefox Menu, then Page, then Add to Home Screen

Expected Result:
Icon is high res

Actual Result:
Icon is low res (blurry)

(Loving this experiment btw)

[2017-09-08 18:38] avelper commented on #557
Done!

2017-09-08 19:22 GMT+02:00 Francesco Lodolo <notifications@github.com>:

--
Angela Velo (avelper)
http://www.mozilla-hispano.org
http://twitter.com/mozilla_hispano
http://facebook.com/mozillahispano

[2017-09-08 18:40] flodolo commented on #557
Thanks. We're having some issue with Pontoon's sync, so it will land in the repo as soon as those are fixed.

[2017-09-08 19:40] sevaan commented on #381
Updated the UX for the Sender and have removed the edit password feature for now and will save it for later. This keeps it simpler, and I don't think editing passwords will be required much until longer expiry times and multiple downloads are implemented. So consider this MVP for p/ws.

I'm not sure of the implementation with regards to the server knowing it or not so have left that as is until I

[2017-09-08 19:59] sevaan commented on #381
However the user would have to share those numbers with someone then and there, or write them down somewhere before leaving that page. Otherwise access to that file could be lost.

I wouldn't want to put the passkey in the list on the homepage for security reasons, unless it's behind an account.

Since a custom password is user-entered, it makes it potentially much easier to memorize, so I could s

[2017-09-08 21:44] ehuggett commented on #381
I've given my thoughts on 3 different approaches, I'll try to summarise them concisely (ignoring difficulty and focusing on what is technically possible)
1. the password is used as part of the secret that encrypts the file. The server has no knowledge of the password. This is not possible with the proposed UX, as we don't ask for the password before encrypting the file.
2. the password is used to

[2017-09-09 13:11] Acconut commented on #551
In case you are wondering, Uppy is capable of uploading multiple files at the same time. You can try out their demo: https://uppy.io/examples/dashboard/

[2017-09-09 14:58] ehuggett commented on #558
Its not as sharp as it could be for the "tile size" of my home screen, the edges also appear slightly clipped?

send.firefox.com offers two icon files, a 16x16px image with a white background and a 32x32px png with a transparent background. I assume we're both ended up with the transparent logo on our home screens? (I used a Firefox nightly)

note: the 16x16px favicon was removed in 53e8229 and is

[2017-09-11 18:11] BychekRU commented on #555
@sevaan @TemaSM Thank you very much for indentifying problems with translations. Fixes were submitted through Pontoon.
Also we use "Загрузить" instead of "Скачать". You can check your glossary [https://wiki.mozilla.org/L10n:Teams:ru:Words](https://wiki.mozilla.org/L10n:Teams:ru:Words)

[2017-09-12 17:39] #550 closed

[2017-09-12 17:49] sevaan opened #560 "Upload videos causes errors"
Noticing some survey feedback from users trying to upload video files and receiving errors. I just tried uploading an mp4 video and it didn't work.

[2017-09-12 18:08] sevaan commented on #555
One more comment from the survey. Was this resolved as well?

[2017-09-12 18:23] sevaan opened #561 "Footer links on "file uploading" page should open in a new tab"
When a file is uploading, a user may click on one of the links in the footer. Those links should open in a new tab on this step so as not to interrupt the uploading process.

[2017-09-12 18:39] TemaSM commented on #555
@sevaan, yep info from feedback resolved, but there is one weird thing:
![image](https://user-images.githubusercontent.com/5501615/30342268-ee2ae1e6-9801-11e7-82e7-a298f526b15f.png)
How about to truncate label for URL copying and simply add title-like caption on button hover?
or
@BychekRU how do you think, is short form "Истекает" better than "Срок действия истекает через"?

[2017-09-12 18:41] sevaan opened #562 "Possible Italian localization correction"
From survey feedback:

@mathjazz @flodolo

[2017-09-12 18:43] sevaan opened #563 "Cannot access "Select file to upload button" using keyboard"
The button to upload a file is not accessible via the keyboard...but should be!

[2017-09-12 19:02] flodolo commented on #562
I have no idea where they found "crittica", but "crittata" is a specific choice.
http://www.apogeonline.com/webzine/2012/08/01/cifrare-o-crittare-questo-e-il-problema
https://forum.mozillaitalia.org/index.php?topic=67103.0
http://blog.terminologiaetc.it/2011/04/11/decifrare-decodificare-decrittare-decrittografare/

[2017-09-12 19:02] #562 closed

[2017-09-12 20:05] sevaan opened #564 "After cancelling an upload, the file should not appear on the homepage file list"
STR:

- Upload a file and cancel it before it completes.
- Refresh home page.
- File appears with the ability to copy the link to the file

If you visit the URL, it appears to be a valid download, complete with the full file-size.
You can download, but it freezes once it hits the point where you cancelled the upload.

[2017-09-12 20:07] sevaan commented on #560
So I had trouble uploading a video, but now when I do it I can't reproduce the error. Sorry!

[2017-09-12 20:08] sevaan commented on #564
I put some STR here, but now I follow them again the file name isn't appear on the home page.

[2017-09-12 20:35] dannycoates commented on #561
This seems like a regression on prod. Dev works as expected for me

[2017-09-13 00:30] ehuggett commented on #563
The current method sets display:none on the form input and styles the label, this works because form labels redirect click events to input specified by the "for" attribute. Unfortunately, a label is not something the browser will let us tab too and we've hidden the button we could have tabbed too (Has anyone tried to use Send with a screen reader? )

This change hides the input button without usin

[2017-09-13 11:11] SoftVision-CosminMuntean opened #565 "The tooltip is no longer displayed when the "Select a file to upload" button is hovered"
[Notes]:
- The issue is also reproducible if you are on the "Beefy" experiment.
- The issue is not reproducible on production.

[Affected versions]:
- Firefox 55.0.3 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Start the Firefox browser and navigate to "https://send.stage.mozaws.net/" page.
2. Hover the "Select a file to upload" button and observe the

[2017-09-13 12:25] SoftVision-CosminMuntean commented on #319
It seems that we have a regression here. This issue is now reproducible on dev and stage server.
The "Browser not supported" page is no longer displayed on Firefox 49 and below. However, the UI is correctly displayed on older versions of Firefox (<49), but the upload/download is not working.

Here is screen recording with the issue:
![browser not supported](https://user-images.githubusercontent.co

[2017-09-13 13:14] SoftVision-CosminMuntean commented on #565
It seems that all the buttons from "Copy Link"page, "Download" page and the "Cancel Upload" button do not have a tooltip.
Here is a screen recording with all buttons:
![tooltips send buttons](https://user-images.githubusercontent.com/19226534/30379243-7d1de60e-989e-11e7-99cd-351b3fc06225.gif)

[2017-09-13 13:57] ehuggett commented on #563
I'm not sure the current transition from `#0297f8` to `#0287e8` used for the (mouse) :hover event is suitable by itself for visual feedback with the (keyboard) :focus event as its too subtle.

I think we should apply the standard/expected dotted outline for a button to the label, even if the dotted outline applied to the upload-window div may distract from this.

[2017-09-13 15:01] SoftVision-CosminMuntean opened #566 "The upload/download percentage is no longer displayed as the tab title when the tab is not focused"
[Notes]:
- On production the upload/download percentage is correctly displayed on the tab title when it's not focused.

[Affected versions]:
- Firefox 55.0.3 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Start the Firefox browser and navigate to "https://send.stage.mozaws.net/" page.
2. Upload a large file.
3. Focus another tab and observe the the tab

[2017-09-13 16:03] SoftVision-CosminMuntean opened #567 "The blue progress bar is no longer displayed while uploading/downloading a file on Microsoft Edge"
[Notes]:
- This issue is not reproducible on production.

[Affected versions]:
- Microsoft Edge 25.10586.672.0

[Affected Platforms]:
- All Windows

[Steps to reproduce]:
1. Start the Microsfot Edge browser and navigate to "https://send.stage.mozaws.net/" page.
2. Upload a large file.
3. Observe the progress bar.

[Expected result]:
- The progress bar is filling up with a blue color.

[Actual resu

[2017-09-13 16:19] SoftVision-CosminMuntean commented on #199
I have retested this issue on dev and stage servers and the behavior is a little bit changed. If you lose the internet connection while uploading/downloading a file, you are automatically redirected to the Send upload page.
With this behavior the user is not informed that the upload/download failed due to the internet connection.

Here is a screen recording with the issue:
![internet connection](h

[2017-09-13 17:52] johngruen commented on #567
"I hate edge" - @dannycoates

[2017-09-13 17:52] johngruen commented on #567
Lemmie verify that we're not seeing a lot of traffic on edge

[2017-09-13 17:53] johngruen commented on #566
We may wind up pushing this up today

[2017-09-13 17:54] johngruen commented on #565
This is fixed on @dannycoates machine, will be merged soon

[2017-09-13 17:54] #565 closed

[2017-09-13 17:55] johngruen commented on #564
@sevaan would be good to have console logs when you cancel and maybe video evidence.

[2017-09-13 17:57] johngruen commented on #563
@sevaan we might want a specific focus state for the buttons. care to propose something?

[2017-09-13 17:57] johngruen commented on #561
If it works on dev, it WFM

[2017-09-13 17:57] #561 closed

[2017-09-13 18:00] johngruen commented on #560
Try to repro? @sevaan

[2017-09-13 18:04] johngruen commented on #555
@flod, @sevaan is filing a separate issue to deal with the above comment. can we close this?

[2017-09-13 18:04] #555 closed

[2017-09-13 18:04] johngruen commented on #557
@flod can we close this?

[2017-09-13 18:05] flodolo commented on #557
I think so

[2017-09-13 18:05] #557 closed

[2017-09-14 00:20] ehuggett commented on #199
ref: #551

[2017-09-14 00:50] ehuggett commented on #563
I've included the js from the same article the css came from in https://github.com/ehuggett/send/tree/tab-upload and it seems to work ok (inline script, as i wasn't sure where best to include it)

[2017-09-14 17:09] sevaan commented on #563
I like this solution and see it commonly used around the web. The colour should change to the active #0287e8 when focus is on the label.

[2017-09-14 17:24] sevaan opened #568 "Cancel button does not work when upload reaches 100%"
When an uploaded file reaches 100%, there is still an opportunity to hit the cancel button, showing the message "Your upload was cancelled", however it still goes to the URL page and the upload is visible on your home page.

**[Video showing issue](http://i.sevaan.com/3D3U3s0y1l0C)**

Solutions:
a) Hitting cancel even after the upload hits %100 should actually delete the file
b) Remove the cancel

[2017-09-14 17:26] sevaan commented on #564
Tried with numerous video files and have been unable to duplicate my original issue. Recommend closing for now and see if it arises again.

[2017-09-14 17:28] sevaan commented on #560
Tried with numerous video files and have been unable to duplicate my original issue. Recommend closing for now and see if it arises again.

[2017-09-14 18:18] dannycoates commented on #566
fixed

[2017-09-14 18:18] #566 closed

[2017-09-14 18:18] #560 closed

[2017-09-14 18:19] #564 closed

[2017-09-14 18:24] sevaan commented on #558
It looks like the actual asset is blurry, probably due to it's size: https://send.firefox.com/favicon-32x32.48de2a43.png

According to [some research](http://www.emergeinteractive.com/insights/detail/The-Essentials-of-FavIcons-in-2017), a 32x32 icon just isn't good enough for the purposes of desktop/homescreen shortcuts. It turns out you need 13 different sizes to cover most cases.

<img width="75

[2017-09-14 18:31] ehuggett commented on #563
The button itself or the dotted outline?

[2017-09-14 18:39] sevaan commented on #563
Example:

![slice](https://user-images.githubusercontent.com/473531/30447567-85ac6a18-995a-11e7-98b2-6b29ed11e555.png)

[2017-09-14 18:54] sevaan opened #569 "Set max-width property on home page file list"
In Issue #555 @TemaSM showed us that with the updated Russian localization, the filename column on the homepage gets pretty squished. We should set some max-width properties to prevent this.

![image](https://user-images.githubusercontent.com/473531/30448340-890ac1e4-995c-11e7-97bb-814199d9ee73.png)

[2017-09-14 19:06] dannycoates commented on #569
this was already done in fddc415c861e68e71bc050eab8d34942b5f3f63f

[2017-09-14 19:06] #569 closed

[2017-09-14 19:40] ehuggett commented on #563
(I think you just replied to a incomplete comment i made by accident and then deleted? Thanks for clarifying)

What i have is very close, but the keyboard focus outline is applied to the button and not the text
[code]
But despite 'Highlight' being marked as deprecated in https://www.w3.org/TR/css3-color/#css-system , I was thinking about changing this so that gecko/firefox would also use the syste

[2017-09-14 23:40] ehuggett commented on #558
Is send_logo.svg the source of ultimate truth for the logo? 🐵

- According the to svg data the send logo should be `#3E3D40` but i see `#4f4e51` in favicon-228.png?
- The edges of the cloud appear a little clipped/flat, but my exports are the same, this seems to be as simple as we can't show a nice curve at these resolutions. Its a real shame we can't just use the svg for the favicon http://canius

[2017-09-15 01:00] sevaan commented on #558
Great catch! I just pulled the logo out of one of our Sketch files and used that, but now that I compare it to other sketch files, the stroke has been changed. I must have turned off the borders of the shapes at some point in the past.

[Here is a re-export of all the icons.](http://i.sevaan.com/090E0H34270U)

I manually created these, but recorded a Photoshop action while doing it, so it will be

[2017-09-15 13:50] sevaan commented on #563
That looks great, ehuggett!

[2017-09-15 14:04] ehuggett commented on #558
Thanks, but I just happened to notice while looking at the round edges of the cloud.

The new favicon-228 looks good. I think the differences are now deliberate choices, the logo in the svg not actually being centered probably accounts for all them.

![send_logo_diff_newzip](https://user-images.githubusercontent.com/8090731/30485830-85900df6-9a26-11e7-9275-e5b259af604d.png)

(I'll see what I can d

[2017-09-15 15:03] ehuggett commented on #558
Adding `transform="translate(-0.231,0.11948695)"` to the `g` element appears to be the most significant difference after trying this with inkscape, but the xml it produces is quite verbose (and for a different version of the standard?). I simply added the transform to the current svg with a text editor

note: I left inkscape to determine the centre of the logo, its the literal half heigh half widt

[2017-09-15 16:25] sevaan commented on #558
I think that looks great. Please go ahead and make a PR, thanks so much!

[2017-09-16 01:28] ehuggett commented on #563
- I've moved the JS into dragManager, if this seems OK the file should probably be renamed.
- I have set the tabindex on the download button
- I tried to add tabindex on the upload link page (share.js), but strangely it resulted in not being able to tab to either the text or the copy to clipboard button
- rebased on master

Any other changes? I'll open a PR after having another bash at setting the

[2017-09-16 13:08] BychekRU commented on #555
@TemaSM Sorry for the delay. I don't think that just simply "Истекает" will be better than "Срок действия истекает через". May be "Срок хранения"?

[2017-09-18 17:55] johngruen commented on #568
b) seems easier

[2017-09-18 20:14] wresuolc opened #572 "Set up a DMCA process"
- [x] Add a "Report IP Infringement" link to the footer which links to https://www.mozilla.org/about/legal/report-infringement/ (see Screenshots for an example)
- [x] We need the ability to remove a file based on a DMCA complaint.  Either disable temporarily or completely delete.
- [x] If a visitor tries to view a file that has been disabled/removed they see a regular not available page.
- [x] We

[2017-09-21 14:57] ehuggett commented on #563
It seems positive tabindex values [may do more harm than good](http://adrianroselli.com/2014/11/dont-use-tabindex-greater-than-0.html), while I like the most useful element on the page receiving focus first the resulting tab navigation order is somewhat confusing

https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA appears to be the appropriate method for making Send more accessible (s

[2017-09-26 14:07] SoftVision-CosminMuntean opened #575 "The password field is displayed for a moment at page refresh, even if the file doesn't have a password"
[Affected versions]:
- Firefox 55.0.3 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Open the browser and navigate to "http://54.190.37.119" page.
2. Upload a file and copy the download link.
3. Paste the link in a new tab and press enter.
4. Refresh the page and observe the behavior.

[Expected result]:
- The page is correctly refreshed.

[Actual resul

[2017-09-26 14:08] SoftVision-CosminMuntean opened #576 ""Try Firefox Send" button wrongly redirects to the "Uploading" page"
[Affected versions]:
- Firefox 55.0.3 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Open the browser and navigate to "http://54.190.37.119" page.
2. Upload a file and copy the download link.
3. Paste the link in a new tab and press enter.
4. Click the "Try Firefox Send" button and observe the behavior.

[Expected result]:
- You are redirected to the Se

[2017-09-27 14:08] SoftVision-CosminMuntean opened #578 "The "File size" error message is no longer displayed when uploading a file over 2GB"
[Affected versions]:
- Firefox 55.0.3 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Open the browser and navigate to "send.stage.mozaws.net" page.
2. Upload a large file over 2GB.
3. Observe the browser behavior.

[Expected result]:
- An error message is displayed to warn you that the file size limit is 2GB.

[Actual results]:
- You are redirected to t

[2017-09-27 17:50] johngruen commented on #578
Let's add this back in soon.

[2017-09-27 17:50] johngruen commented on #576
This is fixed in the password branch...

[2017-09-27 17:51] johngruen commented on #575
Fixed in the password branch

[2017-09-27 17:51] #575 closed

[2017-09-27 17:55] johngruen commented on #563
There's an open PR for this @ericawright can provide review!

[2017-09-28 09:08] youwenliang commented on #525
@johngruen Implementation-wise are we going to change the shared url if a user changes the expiration or the download times? And do we need a confirmation once a user sets the expiration?

[2017-10-03 00:15] #563 closed

[2017-10-04 03:55] grahamperrin commented on #101
Found:

- https://github.com/mozilla/send/blob/master/docs/faq.md#why-is-my-browser-not-supported

– but it took a few minutes, and a little knowledge of GitHub, for me to find that page. Prior to searching, I more than half-expected to find a suitably prominent link both:

- from the main page <https://send.firefox.com/>; and
- from <https://testpilot.firefox.com/experiments/send>.

I assume that

[2017-10-04 04:05] grahamperrin commented on #101
## Plain English (or locale)

In lieu of:

… something like:

[2017-10-04 12:12] ehuggett commented on #101
A polyfill for gcm mode was introduced in https://github.com/mozilla/send/commit/2dfbee090a6848f367a30deb1e41cb2adb11b3a7 (so it may no longer be the limiting factor, https://github.com/PeculiarVentures/webcrypto-liner/blob/master/BrowserSupport.md ).

Its difficult to make blanket statements about Android devices. I've only just stopped using a Samsung S2 from 2011, It would definitely have worke

[2017-10-04 20:37] ericawright commented on #558
Fixed by #571

[2017-10-04 21:41] ehuggett commented on #558
The issue might not be resolved? @sevaan did you mean to commit something (your favicons?) or did i imply i would work work out how to use them

Either I'm confused or i've caused some confusion, but either way i think it would have been avoided if i had opened a separate issue. Apologies @ericawright

[2017-10-04 21:47] ericawright commented on #558
that's okay, my bad

[2017-10-05 20:25] sevaan commented on #558
[Cleaner export of icons for Erica.](http://i.sevaan.com/260w3T07162c)

[2017-10-06 18:40] #558 closed

[2017-10-06 18:41] #568 closed

[2017-10-09 11:38] SoftVision-CiprianMuresan commented on #558
The issue is no longer reproducbile if I add the Dev page to the homescreen.

[2017-10-09 11:38] SoftVision-CiprianMuresan commented on #568
The issue is no longer reproducible on the Dev page. There still is a fraction of a second when the upload reaches 100% and the cancel button can be clicked, but if I click it, the upload is canceled.

[2017-10-09 21:18] dannycoates commented on #306
We won't fix this. We can't reliably change the cursor when dragging from off the page.

[2017-10-09 21:18] #306 closed

[2017-10-10 17:36] #576 closed

[2017-10-10 19:42] #69 closed

[2017-10-10 19:42] #381 closed

[2017-10-11 15:36] SoftVision-CiprianMuresan opened #584 "Files are no longer uploaded when dragged and dropped, after clicking the "Try Firefox Send" link from a download page"
[Affected versions]:
- Firefox 56.0 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Receive a download link and navigate to it.
2. Click the "Try Firefox Send" link button.
3. Drag and drop a file in the drop area.
4. Observe the behavior.

[Expected result]:
- The file is uploaded.

[Actual results]:
- The file is opened in the browser.

[Notes]:
- The

[2017-10-11 16:44] inondle commented on #442
I'd like to look into this.

[2017-10-11 16:47] ericawright commented on #442
thanks @inondle

[2017-10-11 17:12] Fastidious opened #585 "Running in own server"
Could instructions on how to get it working on a private server be written? Or, can anyone submit them (PR)? Thanks!

[2017-10-11 18:05] uncleyo opened #586 "Incorrect 'Accept-Language' header handling"
When page is requested with `Accept-Language: en,uk;q=0.7,da;q=0.3` it should render in English and not Ukrainian.

[2017-10-11 18:12] dannycoates opened #587 "Remaining password UI bits"
There's a few remaining things from the design spec that aren't done and some areas where I intentionally didn't follow the spec that should be reviewed. https://mozilla.invisionapp.com/share/CTDDQDXME#/screens/252367497

### Differences
- The 'add password' input box is plain text so the dots for the placeholder seemed to imply the text would be hidden or was already set to something. I changed i

[2017-10-11 18:27] avinoth opened #588 "Able to upload files more than 1 GB"
Tested on:

Chrome - 61.0.3163.100
Firefox - 55.0.3

OS - Mac OS Sierra 10.12.6

Expected - To throw File size exceeded, or redirect to `Something went wrong` page pertaining to this issue - #578

Gif of the issue.

![exceeding-file-size](https://user-images.githubusercontent.com/7291330/31458913-11817a58-aedf-11e7-8a52-bde17167545c.gif)

[2017-10-11 18:39] avinoth opened #589 "Cancelling an upload while "encrypting" does not work."
Tested on:

Chrome - 61.0.3163.100
Firefox - 55.0.3

OS - Mac OS Sierra 10.12.6

[Steps to Reproduce]

1. Open https://send.firefox.com
2. Upload a big file (so the app will take a while for encrypting)
3. When the upload nears encryption (after couple of seconds `encrypting` message becomes visible), press `Cancel upload`

[Expected behavior]

The upload should be cancelled and the file uploader

[2017-10-11 18:43] dannycoates commented on #588
Thanks for the report 👍

The actual limit is currently 2GB. We recommend 1GB because performance can suffer on some devices with files that large at the moment but we don't want to be too strict about it.

[2017-10-11 18:43] #588 closed

[2017-10-11 19:32] ericawright commented on #587
Nice change!

[2017-10-12 15:08] SoftVision-CosminMuntean commented on #319
This issue is still reproducible on all Send servers, but the behavior is changed. If you navigate to the Send page, the "https://send.stage.mozaws.net/unsupported/outdated" link is correctly displayed but the "Browser not supported" page is displayed only if the page is refreshed.

Here is a screen recording with the issue:
![browser unsuported at refresh](https://user-images.githubusercontent.co

[2017-10-12 15:21] SoftVision-CosminMuntean opened #590 "Upload stops near completion on Firefox 50 & 51"
[Affected versions]:
- Firefox 50 & 51

[Affected Platforms]:
- All Windows
- All Linux
- All Mac

[Steps to reproduce]:
1. Open the Firefox 50 or 51 version and navigate to https://send.stage.mozaws.net/.
2. Upload a file.
3. Observe the browser behavior.

[Expected result]:
- The file is successfully uploaded.

[Actual results]:
- Upload starts, but before it's completed you are redirected to th

[2017-10-12 16:37] Softvision-CristinaBadescu opened #591 "The added password is wrongly displayed when there are more than two consecutive spaces in it"
[Affected versions]:
- Firefox 56 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Open the browser and navigate to https://send.dev.mozaws.net.
2. Upload a file and select the "Require a password to download this file" checkbox.
3. Add a password that contains at least two consecutive spaces and observe the displayed password.

[Expected result]:
- All p

[2017-10-13 06:35] crocodanser commented on #525
Some news ?

[2017-10-13 11:17] SoftVision-CosminMuntean commented on #576
I have retested this issue on Send dev server and the issue is no longer reproducible. Marking as verified.

[2017-10-13 11:28] SoftVision-CosminMuntean commented on #575
I have retested this issue on Send dev page and the issue is no longer reproducible. Marking as verified.

[2017-10-13 12:52] Softvision-CristinaBadescu commented on #587
Hello,

I've went through the mock-ups in order to write test cases for password functionality and I've observed certain differences between the mock-ups and the experiment on dev server. For example:
- The "edit password" mode doesn't exists at the moment.
- When user checks box, the link field is not disabled.
- The title is different from the mock-ups: "The link to your file will expire after 1

[2017-10-13 14:09] Softvision-CristinaBadescu opened #592 "Inform the user that he cannot add a password for a previously sent download link"
[Affected versions]:
- Firefox 56 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Open the browser and navigate to https://send.dev.mozaws.net.
2. Upload a file and click on the "Copy to clipboard" button.
3. Open a new tab and navigate to the copied link.
4. Switch back to the "Copy link" tab.
5. Click on the "Require a password to download this file" c

[2017-10-13 14:09] SoftVision-CosminMuntean opened #593 "The password field is not validated if it's empty"
[Affected versions]:
- Firefox 56 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Open the browser and navigate to "https://send.dev.mozaws.net" page.
2. Upload a file and select the "Require a password to download this file" checkbox.
3. Leave the password field empty.
4. Click the "Add Password" button and observe the behavior.

[Expected result]:
- A

[2017-10-13 15:04] Softvision-CristinaBadescu opened #594 "The "Password" and "Copy to clipboard" fields are misaligned"
[Affected versions]:
- Firefox 56 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Open the browser and navigate to https://send.dev.mozaws.net.
2. Upload a file and click on the "Require a password to download this file" checkbox.
3. Observe the "Password" field position in comparison with "Copy to clipboard" field.

[Expected result]:
- The "Password" a

[2017-10-16 05:52] unl1k3ly opened #595 "HKDF not supported - Chrome"
Last commit is causing an error on Chrome when upload files.

[code]

[2017-10-16 07:59] unl1k3ly opened #596 "TSL/SSL CERTS"
Hi all, this is more a questions rather than an issue...

Would be possible to explain how to deploy a TSL/SSL built in on SEND application ?

Thanks

[2017-10-16 12:44] ehuggett opened #597 "nonce is overwritten by subsequent authentication attempts"
The nonce is overwritten by subsequent authentication attempts, this causes a user to be "deauthenticated" when a second (sucessful or otherwise) authentication attempt is made for that file.

server: https://send.dev.mozaws.net/
version: {"commit":"402ab35","source":"https://github.com/mozilla/send/","version":"v1.2.4"}

Steps to reproduce
1. upload a file, set a password. copy the Send link to y

[2017-10-16 13:21] ehuggett commented on #595
I was unable to reproduce this with Chromium on https://send.dev.mozaws.net/ (I had the console open expecting to see the error you provided, but the file uploaded successfully).

Chromium - `Version 61.0.3163.100 (Developer Build) built on Debian 9.1, running on Debian 9.2 (64-bit)`
Send - {"commit":"402ab35","source":"https://github.com/mozilla/send/","version":"v1.2.4"} (this was the latest com

[2017-10-16 17:43] wresuolc commented on #587
Thanks for the feedback.  Replying to your bullet points:

- We're not planning on putting an 'edit password' mode in at this point
- This sounds like a bug, thanks for finding it.  I'll add that to the original post
- We think the one we have already translated is ok
- Thanks for finding this too.  I'll update that in the original post as well.

The password is hidden when entering the password w

[2017-10-16 17:48] wresuolc commented on #596
Are you trying to set up a copy of Send on your own server?  If not, can you explain more what you're wanting to know?  Thanks.

[2017-10-16 17:48] sevaan commented on #594
The password box should be aligned to be underneath the checkbox. Also, it should be blue (same blue as the URL field outline) to show it as active.

<img width="653" alt="screen shot 2017-10-16 at 1 48 06 pm" src="https://user-images.githubusercontent.com/473531/31626697-bf2cb644-b278-11e7-8ddf-078c56693213.png">

[2017-10-16 17:49] wresuolc commented on #595
@SoftVision-CosminMuntean @SoftVision-CiprianMuresan @Softvision-CristinaBadescu -- anyone seeing this?

[2017-10-16 18:02] wresuolc commented on #592
This isn't a scenario we want to implement for this experiment. Thanks

[2017-10-16 18:02] #592 closed

[2017-10-16 21:37] unl1k3ly commented on #596
Hi @wresuolc, I'm sorry for the lack of information... Yes,  I'm setting a dedicate environment from a git fork. Do you have instructions or any idea on how to set the certs up ? Thanks a lot

[2017-10-16 21:59] unl1k3ly commented on #595
It's funny because, when I run a prod env and access it from localhost it works... when I access it from an external interface or even internal interface it shows the "HKDF" error when using Chrome. It works as great on Firefox. Am I doing something stupid ?! Thanks for all support guys.

[2017-10-16 22:51] unl1k3ly commented on #596
In fact, I can do that by adding a rev proxy at the front. So, my question is if is there a way to add certs from send configs ? Thanks mate

[2017-10-16 22:59] unl1k3ly commented on #595
Steps to reproduce is simple as:
- git clone  https://github.com/mozilla/send/
- add .aws/creds
- add  s3 bucket name on server/config.js
- do npm install && npm run build && npm run prod
- access the $ip:1443 and upload anyfile using Chrome.

It works if i access it from localhost:1443

Cheers

[2017-10-17 01:57] unl1k3ly commented on #595
Hi all, Ive found the issue...

It needs to run over TLS/SSL! Simple as that! I've created a selfsign cert, and deployed using a revproxy.... it works as great!

Thank you

[2017-10-17 01:57] #595 closed

[2017-10-17 07:38] Softvision-CristinaBadescu commented on #593
This issue is also reproducible for the "Unlock" button, when downloading an encrypted file.

[2017-10-17 07:43] Softvision-CristinaBadescu commented on #587
Hello,

Thanks for your reply. Also, do you think I should file separately the issues in order to track them or is it sufficient that you included them in the original post?

[2017-10-17 11:37] Softvision-CristinaBadescu opened #598 "Password checkbox remains checked after restarting the browser"
[Affected versions]:
- Firefox 56 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Open the browser and navigate to https://send.dev.mozaws.net.
2. Upload a file and click on the "Require a password to download this file" checkbox.
3. Restart the browser using the Developer Toolbar and observe the behavior of the require password checkbox.

[Expected resu

[2017-10-17 12:31] Softvision-CristinaBadescu opened #599 "Password isn't wrapped if it is very long"
[Affected versions]:
- Firefox 56 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Open the browser and navigate to https://send.dev.mozaws.net.
2. Upload a file and click on the "Require a password to download this file" checkbox.
3. Type in the "Password" field an excessive number of characters (at least 75 characters) and click on "Add password" button

[2017-10-17 13:58] Softvision-CristinaBadescu opened #600 "[Enhancement] Unchecking the require password checkbox should also clear the typed password"
[Affected versions]:
- Firefox 56 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Open the browser and upload a file to https://send.dev.mozaws.net.

[Steps to reproduce]:
1. Check the require password checkbox and type something in the "Password" field.
2. Uncheck the require password checkbox.
3. Check again the require password checkbox.
4. Observe the "Pas

[2017-10-18 03:59] youwenliang commented on #587
@dannycoates A few couple things about the UI:

1. The styled checkbox can follow the checkboxes in Preference
![image](https://user-images.githubusercontent.com/8919308/31700378-82e03aba-b3fb-11e7-87b8-695224c88b82.png)

2. The password input field should align left with other components
![image](https://user-images.githubusercontent.com/8919308/31700393-a98dc7a4-b3fb-11e7-9ff1-6386edfde5c8.png)

[2017-10-18 15:36] SoftVision-CarmenFat opened #601 ""NaNundefined of 1.0B" string is wrongly displayed for 1 second when uploading a small size file"
[Affected versions]:
- Firefox 56.0 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Open the browser and navigate to "https://send.firefox.com" page.
2. Drag and drop a file in order to upload it.
3. Observe the string underneath the progress circle.

[Expected result]:
- The uploading progress of the file is updated constantly.

[Actual results]:
- "NaN

[2017-10-18 17:32] wresuolc commented on #587
Thanks!  I'll add the first to the original post.  The second is tracked at https://github.com/mozilla/send/issues/594

[2017-10-18 17:42] wresuolc commented on #599
Lets cap passwords at 64 characters.

[2017-10-18 17:43] wresuolc commented on #598
Since this is reloading the same page, this just seems like a feature of the browser (remembering form state).  We're going to close this.

[2017-10-18 17:44] wresuolc commented on #596
Any certs you add will probably have to be done at the web server level.  Good luck!

[2017-10-18 17:44] #596 closed

[2017-10-18 17:46] wresuolc commented on #590
ESR is 52, these are unsupported.

[2017-10-18 17:46] #590 closed

[2017-10-18 21:16] johngruen opened #602 "Cohort Tests for Firefox Promos"
# Hypothesis

Non Firefox Users who have successfully downloaded a file on Send may be interested in downloading Firefox.

# Proposed Experiment

We should implement a series of FF download links on the `/completed` page in Send with CTAs to download firefox. Each button would be shown to a cohort of non-FF users who reach this page and we would measure their efficacy against one another.

here's

[2017-10-19 08:03] Softvision-CristinaBadescu commented on #598
I've tried to reproduce again this issue on Chrome but the behaviour is different than on Firefox. On Chrome, after restarting the browser, the password checkbox is no longer checked.
On Firefox the password checkbox is unchecked if the page is manually refreshed.

[2017-10-19 09:08] Softvision-CristinaBadescu commented on #587
During testing I have encountered another scenario that seems a bit off. When a user checkes the "Require password..." checbox, his/her intention is to write a password. In order to do that the user must do two actions: 1-check the password checkbox, 2-click inside the password field.
This behaviour could be more simpler and resume it to only 1 action. The password field should be autofocused afte

[2017-10-19 15:23] ericawright commented on #587
@Softvision-CristinaBadescu I like it, and I agree.

[2017-10-19 15:28] SoftVision-CarmenFat opened #604 "[Enhancement] A warning message should be displayed when typing inside the "Password" field with "Caps Lock" functionality enabled."
[Affected versions]:
- Firefox 56.0 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- "Caps Lock" function is enabled.

[Steps to reproduce]:
1. Open the browser and navigate to "https://send.firefox.com" page.
2. Upload a file.
3. Click on the "Require a password to download this file" checkbox.
4. Type some characters in the Password field and observe the beha

[2017-10-19 19:51] ehuggett commented on #604
note: The password does not appear to be masked when the uploader sets it, but the downloader cannot see the password they are typing

It seems some browsers do implement this functionality (adding our own may give a redundant warning?), but Firefox has a 13 year old open bug for it https://bugzilla.mozilla.org/show_bug.cgi?id=259059

Working example (for me at least) of caps lock detection http:/

[2017-10-19 20:17] wresuolc commented on #598
This is still a feature of the browser.  It remembers form state unless you hard-refresh.  Eg. https://stackoverflow.com/questions/7377301/firefox-keeps-form-data-on-reload for someone running into the same issue.  This is working as expected.

[2017-10-19 20:17] #598 closed

[2017-10-20 10:20] Pekochen commented on #587
[Send_password.zip](https://github.com/mozilla/send/files/1401546/Send_password.zip)
Hi, We found that something is not consistent with other pages and also we would like to sync photon style.
so I slightly revise a little bit some details, please see attached file for measurement.
Thanks for your help : )

[2017-10-20 20:30] ericawright opened #606 "Disable copying link when password not completed"
from #587.

And mocks from https://github.com/mozilla/send/issues/587#issuecomment-338167607

[2017-10-21 12:03] ehuggett opened #607 "Password hashing / Insufficent PBKDF rounds"
The `newAuthKey` is derived from the users password and submitted to the server, effectively a password hash. Only 100 rounds/iterations are used.

https://github.com/mozilla/send/blob/9410defab6156d29bb705f73aefbd09ec588678e/app/fileSender.js#L239-L261
https://github.com/mozilla/send/blob/9410defab6156d29bb705f73aefbd09ec588678e/app/fileSender.js#L288

Stackoverflow user "Tails" has [compiled a l

[2017-10-21 23:55] ehuggett commented on #607
I missed something important

https://github.com/mozilla/send/blob/9410defab6156d29bb705f73aefbd09ec588678e/app/fileSender.js#L249

file.url is the complete download link, including the base64 encoded secretKey. Therefore the newAuthKey is already derived from a secretKey AND password and should be quite safe from brute force.

100 rounds is more than sufficient, as the encoded secretKey is adding

[2017-10-21 23:55] #607 closed

[2017-10-22 02:18] inondle commented on #442
I'm unable to reproduce the "Links must have discernible text" error on https://send.dev.mozaws.net/ or https://fileshare.stage.mozaws.net. Is anyone else still getting those errors using the sonar tool?

[2017-10-23 15:43] sevaan opened #609 "Text in fields should be middle-aligned"
The text in the URL and the password fields are slightly higher than the text in the attached labels:

![image](https://user-images.githubusercontent.com/473531/31898474-49c7b7d6-b7e7-11e7-98b0-80915d065860.png)

They should all be middle-aligned.

[2017-10-23 15:43] sevaan opened #610 "P in "Add Passwords" should be lowercase"
The P in the Add Passwords button should be lowercase, to match the casing of the button label above it:

![image](https://user-images.githubusercontent.com/473531/31898623-7f2b852e-b7e7-11e7-8424-f3a9c9bfbf8c.png)

[2017-10-23 17:31] #594 closed

[2017-10-23 17:39] johngruen commented on #604
Let's stretch this...

[2017-10-23 17:40] johngruen commented on #319
Boy, this feels wontfixy

[2017-10-23 17:41] johngruen commented on #319
will look at metrics

[2017-10-23 17:47] stasm opened #611 "Avoid using MessageContext's internal APIs"
Hi. Thanks for using fluent!

I noticed that the code in `build/fluent_loader` makes use of `ctx._messages` which is meant as an internal property. The proper way of adding translations to a `MessageContext` is via the `addMessages` method. It takes a string as the argument. What is the purpose of using `toJSON` here? Are you trying to inline parsed translations into a dist file?

https://github.c

[2017-10-23 19:47] sevaan commented on #602
Initial Designs:

- [Home Page](https://mozilla.invisionapp.com/share/W7E3CXRCE#/259876096_Home_Page)
- [Download Page](https://mozilla.invisionapp.com/share/W7E3CXRCE#/259876095_Download_Page)

[2017-10-24 08:09] Softvision-CristinaBadescu commented on #594
I can confirm that this issue is not reproducible anymore on Send dev server, using latest Nightly build 58.0a1 (2017-10-23) on Windows 10x64, Mac 10.12 and Ubuntu 14.04 x64.

[2017-10-24 11:04] Softvision-CristinaBadescu opened #613 ""Copy to clipboard" and "Add Password" buttons are wrongly rendered when changing the page zoom level"
[Affected versions]:
- Firefox 56 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Open the browser and navigate to https://send.dev.mozaws.net.
2. Upload a file and click on the "Require a password to download this file" checkbox.
3. Zoom in or zoom out the page.
4. Observe how the "Copy to clipboard" and "Add Password" buttons render.

[Expected result]

[2017-10-24 13:27] Softvision-CristinaBadescu opened #614 "[Dev] The "Unlock" button does not work on Edge"
[Affected versions]:
- Edge 40.15063.674.0
- Edge 25.10586.672.0

[Affected Platforms]:
- All Windows

[Prerequisites]:
- Have a password protected file download link.

[Steps to reproduce]:
1. Navigate to the link from prerequisites.
2. Type the password in the "Password" field and click on the "Unlock" button.
3. Observe the behavior.

[Expected result]:
- You are redirected to the download file

[2017-10-24 13:27] Softvision-CristinaBadescu opened #615 "[Dev] Upload/ Download does not work on Edge"
[Notes]:
- When trying to download a non-protected password file, the "Download" button redirects you to the "Something went wrong!" error page.
- When trying to download a protected password file, the "Unlock" button is not actionable (issue: #614).

[Affected versions]:
- Edge 40.15063.674.0
- Edge 25.10586.672.0

[Affected Platforms]:
- All Windows

[Steps to reproduce]:
1. Navigate to https://

[2017-10-24 13:28] Softvision-CristinaBadescu opened #616 "[Dev] Upload/ Download does not work on Safari"
[Notes]:
- When trying to download a non-protected password file, the "Download" button is not actionable.
- When you have a password protected download file link, after clicking the "Unlock" button, the "Download" button redirects you to the "Something went wrong!" error page.

[Affected versions]:
- Safari 10.1.2

[Affected Platforms]:
- All Mac

[Steps to reproduce]:
1. Navigate to https://send

[2017-10-24 14:05] johngruen commented on #525
@youwenliang dusting this off since we are about to land the password thing:
* No the URL would not change AFAIK
* Some kind of passive confirmation notice would be good. I don't think the user would need to submit anything here.

@crocodanser sorry our lead engineer has been on a much needed holiday! we're on it :)

[2017-10-24 19:06] ericawright commented on #584
I can't seem to reproduce on production, but I CAN reproduce locally

[2017-10-25 02:34] ehuggett commented on #602
- Suggest Firefox as a solution to users with unsupported browsers?
- Suggest Firefox as an improvement to users with browsers depending upon webcrypto-liner? (i would expect the native webcrypto api to be noticeably faster for larger files, i don't have an unsupported browser to compare... )

[2017-10-25 13:48] ehuggett opened #618 "Include nonce & password status in /api/exists response"
Context: for 3rd party clients / I'm updating my python send client to support passwords https://github.com/ehuggett/send-cli/issues/4

As far as know, to check if a password is required it is currently necessary to parse the html from `/download/$fileID/` for the value of the `data-requires-password` attribute belonging to the span with id `dl-file` (below)

[code]

It would be very convenient to

[2017-10-25 14:33] ericawright commented on #589
@avinoth I can't reproduce this using Mac: Firefox 57, nor Chrome 61. Can you still reproduce it? And, does it cancel properly during the importing and uploading phase?

[2017-10-25 15:03] ericawright commented on #304
@SoftVision-CiprianMuresan is this still reproducible? I don't see it anymore.

[2017-10-25 15:17] ericawright commented on #586
@uncleyo can you give me some steps to reproduce the issue here?

[2017-10-25 15:17] sevaan commented on #602
More details:

**Option A:** Subtle link in the page footer throughout the site. Can try orange (#ff9400) and blue as a secondary option (#0297F8)

**Option B:** Notification Bars. Bars slide in 1 second after the page loads. For downloaders, the bar slides in once the user clicks the download button. If user clicks the close button, the bar is dismissed and is never shown to the user again (drop

[2017-10-25 15:23] uncleyo commented on #586
Sure,

`curl https://send.firefox.com -H "Accept-Language: en,uk;q=0.7,da;q=0.3"`.
`curl https://send.firefox.com -H "Accept-Language: en-GB,uk;q=0.7,da;q=0.3"`.

Please note that `curl https://send.firefox.com -H "Accept-Language: en-US,uk;q=0.7,da;q=0.3"` works correctly, so it's probably not a problem with parsing, but with actually handling some locale names.

[2017-10-25 17:55] johngruen commented on #602
We're going to start with a test of options B1 and C1. Neither should be animated. Both should persist across all all screens. C1 should almost always be the bottom-most UI element (besides the footer, or list of stuff)

[2017-10-25 17:57] johngruen commented on #602
`xvar: control/promo-b1/promo-c1`

we'll need a new event action:
`ea: close-promo`

[2017-10-26 01:39] ehuggett commented on #589
Using Firefox ESR 52.4.0 (64-bit) on Debian, I can reproduce this on send.firefox.com (837747f) but not send.dev.mozaws.net (acbf9fc)

On send.dev.mozaws.net, when the message changes to "Encrypting" there is a slight delay after clicking cancel (not long enough that I think it finished encrypting the 1GB file, that takes longer if I  allow it to start uploading) but it does cancel the download, I

[2017-10-26 12:59] SoftVision-CosminMuntean opened #619 "[Annotations] If the shot is not completely loaded and you quickly click the "Edit this image" button, the image is not displayed"
[Affected versions]:
- Nightly 58.0a1
- Screenshots 22.0.0

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- The "xpinstall.signatures.required" boolean pref is set to "false".
- The "extensions.legacy.enabled" boolean pref is set tot "true".
- Have the Screenshots dev version installed on a new clean profile.
- The Screenshots Onboarding tour was already visited.

[St

[2017-10-26 12:59] SoftVision-CosminMuntean commented on #619
Wrong repository.

[2017-10-26 12:59] #619 closed

[2017-10-26 13:15] ehuggett commented on #602
At 'startup' the browser is tested for [AES-GCM support](https://github.com/mozilla/send/blob/acbf9fc32f21773a35ee9f5babc37e93f5c16c1c/app/main.js#L31), If the test fails, a [polyfill is loaded ](https://github.com/mozilla/send/blob/e56d92334f822cbe2f8108ecafc6bda38a9ad7f2/app/utils.js#L64-L65)(webcrypto-liner / asmcrypto.js #411 ). The general idea was as Firefox does not require asmcrypto for AE

[2017-10-26 15:05] SoftVision-CosminMuntean commented on #304
I have retested this issue on latest Nightly (58.0a1) build and the issue is no longer reproducible. Tested with Send dev and production versions.

[2017-10-27 21:57] ehuggett opened #620 "Set a default MIME type in metadata?"
I'm not aware of any problems this is causing (noticed by chance), but if I upload a file that does not have an extension then the "type" field in the (encrypted) metadata is empty.

Server version: 5211339
Browser: Firefox 52.4.0 (64-bit) on Debian

https://github.com/mozilla/send/blob/52113395db7ffd8c2b25804908743d68bfe8f0e5/app/fileSender.js#L195-L197

I added `|| 'application/octet-stream'` to

[2017-10-29 13:01] tulikavijay commented on #609
I would like to work on this.

[2017-10-29 13:38] tulikavijay commented on #609
I am new to open source so please guide me a bit. I want to ask, Where should I make changes?

[2017-10-30 14:15] tdtgit commented on #616
I think it relate to Safari 10.1.2 but I can't test on it.

With MacOS High Sierra, Safari 11.0 works well, both upload and download.

[2017-10-30 14:18] ericawright commented on #609
Hi @tulikavijay, Thank you!
When you open the project you can find the styling in `/assets/main.css`, this can likely be fixed with a few css changes. Once you have it committed, push it up to your fork of the project and make a pull request to us.
You can ping me or @dannycoates if you get stuck.

[2017-10-30 14:42] #600 closed

[2017-10-30 14:42] #606 closed

[2017-10-30 15:32] Softvision-CristinaBadescu commented on #616
Hello,
I can confirm this issue is not reproducible on Mac 10.13, using Safari 11.0.

This issue is reproducible on older Safari versions. For example, on Safari 9.1.2, after you click on "Select a file to upload" button and select a file, the content disappears and nothing happens.

See a screen recording with the behavior here:
![send](https://user-images.githubusercontent.com/31244235/32179513-

[2017-10-30 17:20] #584 closed

[2017-10-30 17:34] johngruen commented on #602
@johngruen will provide UTM params

[2017-10-30 17:37] johngruen commented on #593
let's just use HTML 5 validation with a tool tip that says `Please enter a password`

[2017-10-30 17:44] johngruen commented on #620
@g-k do you have any thoughts on this? Would adding a default type cause any problems here?

[2017-10-30 17:46] johngruen commented on #613
@ericawright "that should be fixed" in a PR

[2017-10-30 19:01] g-k commented on #620
@johngruen I can't think of any problems this would cause.  Apache and Nginx default to `application/octet-stream` so that's a good choice.

[2017-10-30 19:59] #587 closed

[2017-10-30 19:59] #591 closed

[2017-10-30 19:59] #599 closed

[2017-10-30 19:59] #610 closed

[2017-10-30 19:59] #613 closed

[2017-10-31 12:25] Softvision-CristinaBadescu opened #621 "The "Password:" string is no longer displayed after adding a password"
**[Affected versions]:**
- Firefox 56 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Steps to reproduce]:**
1. Open the browser and navigate to https://dev.send.mozaws.net.
2. Upload a file and select "Require a password to download this file" checkbox.
3. Type a password and click the "Add password" button.
4. Observe the password preview.

**[Expected result]:**
- The

[2017-10-31 12:34] Softvision-CristinaBadescu commented on #600
I can confirm this issue is no longer reproducible on Send dev server, on latest Nightly build 58.0a1 (2017-10/30) using Windows 10 x54, Mac 10.12 and Ubuntu 14.04 x64.

[2017-10-31 12:38] Softvision-CristinaBadescu commented on #599
I can confirm that this issue is no longer reproducible and the password has a 64 characters limit, on Send dev server, on latest Nightly build 58.0a1 (2017-10-30) using Windows 10 x64, Mac 10.12 and Ubuntu 14.04 x64.

[2017-10-31 12:40] Softvision-CristinaBadescu commented on #613
I can confirm that this issue is no longer reproducible on Send dev server, on latest Nightly build 58.0a1 (2017-10-30) using Windows 10 x64, Mac 10.12 and Ubuntu 14.04 x64.

[2017-10-31 12:41] Softvision-CristinaBadescu commented on #591
I can confirm that this issue is no longer reproducible on Send dev server, on latest Nightly build 58.0a1 (2017-10-30) using Windows 10 x64, Mac 10.12 and Ubuntu 14.04 x64.

[2017-10-31 13:38] SoftVision-CosminMuntean opened #622 "The password preview should be bold"
[Notes]:
- Based on [mock-ups](https://mozilla.invisionapp.com/share/CTDDQDXME#/screens/252367497) the password preview should be bold.

**[Affected versions]:**
- Firefox 56 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Steps to reproduce]:**
1. Open the browser and navigate to https://dev.send.mozaws.net.
2. Upload a file and select "Require a password to download thi

[2017-10-31 13:55] Softvision-CristinaBadescu opened #623 "The "Password" field isn't displayed after restarting the browser"
[Affected versions]:
- Firefox 56 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Open the browser and navigate to https://send.dev.mozaws.net.
2. Upload a file and click on the "Require a password to download this file" checkbox.
3. Restart the browser using the Developer Toolbar and observe the "Password" field.

[Expected result]:
- The "Password" fie

[2017-10-31 18:09] #620 closed

[2017-10-31 18:13] dannycoates commented on #593
I'd prefer this:
![pwd](https://user-images.githubusercontent.com/87619/32240965-03f09188-be2c-11e7-8a13-b3723689e91d.gif)

[2017-10-31 23:59] ehuggett commented on #593
Some (alternative) examples reusing the "disabled button" style used for "Copy to clipboard" (and increasing the border px from 1 to 2).
![Disable the button and increase the border size](https://user-images.githubusercontent.com/8090731/32253520-459fccea-be93-11e7-9af1-cd697dcfc757.png)
[Disable the button (without increased border)](https://user-images.githubusercontent.com/8090731/32253522-45d7

[2017-11-01 17:45] johngruen commented on #593
Let's go with @dannycoates suggestion here

[2017-11-02 02:43] ehuggett commented on #623
I'm not going to attempt the expected action of 'The "Password" field is displayed.', but I will open a PR as this partially addresses the issue

Two changes https://github.com/ehuggett/send/commits/623-password-field
1. `togglePasswordInput()` was setting the state of the "copy" button based on the state of the checkbox but would always invert the visibility of the password form. Having both set

[2017-11-02 15:22] wresuolc opened #627 "Drop deprecated CSP headers"
The first header is good.  The other two are long over.

[2017-11-02 15:23] wresuolc opened #628 "Some pages missing cache-control and pragma headers"
Pages like these are missing `cache-control` and `pragma`:

But some pages have them, like https://send.firefox.com/favicon-32.4efdbe5a.png .  All pages should have `cache-control` and `pragma`.

[2017-11-02 15:23] wresuolc opened #629 "Some pages missing X-Content-Type-Options"
Some pages are missing `X-Content-Type-Options`.  Examples:

But some pages have them, like https://send.firefox.com .  We should send `X-Content-Type-Options` everywhere.

[2017-11-02 15:23] wresuolc opened #630 "Some pages missing Strict-Transport-Security header"
Some pages are missing Strict-Transport-Security like

But pages like https://send.firefox.com has it.  We should send it everywhere.

[2017-11-02 15:26] wresuolc opened #631 "Add data-no-csrf to our form"
Let's add `data-no-csrf` to the form on https://send.firefox.com/.  It would become:

[code]

[2017-11-02 20:01] dannycoates commented on #623
We'll WONTFIX persisting the state of the checkbox across browser restarts, but #626 fixes the issue of the checkbox state not matching the input visibility.

[2017-11-02 20:01] #623 closed

[2017-11-02 20:34] wresuolc commented on #631
Technically, it doesn't do anything anyway. :)  It's just a flag that says "we know there isn't a csrf token here and we're doing it on purpose".  It's a mozilla policy, not a web thing.

[2017-11-03 00:11] ehuggett commented on #627
I fetched the headers from `https://send.firefox.com` with Firefox Developer Edition 57.0b13 (64-bit) and only the first was included (copied and pasted in full from "raw headers" in the dev console)
[code]

I Think the headers are being set by "helmet" as a fallback behaviour for an "unknown" browser, as I can see all 3 with `curl -I` and `wget --server-response`. https://github.com/helmetjs/csp/

[2017-11-03 01:33] ehuggett commented on #630
#109 set HPKP, a related/complementary header, in the nginx config. This could be done for HSTS, I think having both configured in the same place might be convenient.

[2017-11-03 09:25] Softvision-CristinaBadescu commented on #623
I can confirm that this issue is no longer reproducible on Send dev server, on latest Nightly build 58.0a1 (2017-11-02) using Windows 10 x64, Mac 10.12 and Ubuntu 14.04 x64.

[2017-11-03 16:38] ehuggett commented on #614
"Microsoft Edge Web Cryptography API Standards Support
Document" 2017-04-25 http://interoperability.blob.core.windows.net/web/MS-WEBCRYPTO/[MS-WEBCRYPTO].pdf states "not supported" for PBKDF2 or HKDF (sections 2.1.7 & 2.1.8)

This issue is probably very closely related to #615, as HKDF is required to generate the encryptKey, authKey and metaKey (aka all of them, with the exception of the random se

[2017-11-03 19:43] wresuolc commented on #630
that'd make sense.  @relud what do you think?

[2017-11-03 19:45] wresuolc commented on #627
Ah.  I mean, it's not a big deal, I just noticed it when curl'ing for those other issues.  I guess it could be a problem if we ever enable more aggressive caching and browsers start getting cached results from other browsers

[2017-11-03 20:30] relud commented on #630
yeah, it could be added here: https://github.com/mozilla-services/cloudops-deployment/blob/master/projects/send/puppet/modules/send/templates/http_send.conf.erb#L36

[2017-11-04 02:14] ehuggett commented on #630
That link 404's for me, I'd guess its a private repository.

Stopping Send from setting the header can de done by deleting these lines
https://github.com/mozilla/send/blob/f48159dc0b11597d459d4ad8fb50648e14b561c8/server/routes/index.js#L19-L24

[2017-11-06 17:41] #593 closed

[2017-11-06 17:41] #621 closed

[2017-11-06 17:41] #622 closed

[2017-11-06 18:08] dannycoates opened #634 ""Add Password" button looks wrong on mobile safari"
![img_0275](https://user-images.githubusercontent.com/87619/32456405-54a0eb2a-c2da-11e7-946a-72ea5ce129ca.PNG)

[2017-11-06 20:11] dannycoates commented on #627
I think we should just let `helmet` do its thing.

[2017-11-06 20:11] #627 closed

[2017-11-06 20:12] wresuolc commented on #627
👍 thanks for the explanation @ehuggett

[2017-11-06 21:55] dannycoates commented on #631
fixed in 2e233da16d1b62b569e99802b494a3765ef04d64

[2017-11-06 21:55] #631 closed

[2017-11-06 21:55] dannycoates commented on #630
fixed in 2e233da16d1b62b569e99802b494a3765ef04d64

[2017-11-06 21:55] #630 closed

[2017-11-06 21:55] dannycoates commented on #629
fixed in 2e233da16d1b62b569e99802b494a3765ef04d64

[2017-11-06 21:55] #629 closed

[2017-11-06 22:09] #319 closed

[2017-11-07 09:00] Softvision-CristinaBadescu commented on #621
I can confirm that this issue is no longer reproducible using latest Nightly build 58.0a1 (2017-11-06) on Windows 10 x64, Mac 10.12 and Ubuntu 14.04 x64.

[2017-11-08 09:20] SoftVision-CosminMuntean opened #635 "The require password checkbox doesn't have a hover effect"
**[Affected versions]:**
- Firefox 56 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Steps to reproduce]:**
1. Open the browser and navigate to https://send.stage.mozaws.net.
2. Upload a file and hover the "Require a password to download this file" checkbox.
3. Observe the checkbox.

**[Expected result]:**
- The checkbox is highlighted with a light blue color.

**[Actual

[2017-11-08 14:21] piatra opened #636 "Download button does not work in FFx"
Clicking the download button doesn't seem to do anything in latest FFx 57/58.

<img width="1201" alt="image" src="https://user-images.githubusercontent.com/810040/32553894-6506e824-c498-11e7-8b24-43be007b611d.png">

[2017-11-08 15:00] SoftVision-CosminMuntean commented on #636
I cannot reproduce this issue on latest Nightly (58.0a1) build and latest Dev Edition (58.0b1). The download button works as expected. Tested on Windows and also on Mac OS.

@piatra can you please retest this issue in Safe Mode? Probably there is an add-on that cause this.

[2017-11-08 15:06] piatra commented on #636
Upload fails in FFx 57 Safe Mode.

<img width="1012" alt="image" src="https://user-images.githubusercontent.com/810040/32555900-3ba87190-c49e-11e7-93d2-2e949fe82965.png">
<img width="756" alt="image" src="https://user-images.githubusercontent.com/810040/32555909-407a27f4-c49e-11e7-8830-2dc4252abc49.png">

Similar download error.
<img width="1012" alt="image" src="https://user-images.githubusercont

[2017-11-08 15:10] ehuggett commented on #636
note: there were no replies when started (the extra confirmation can't hurt, but this comment doesn't seem to contain any new information)

Using Firefox Developer Edition `58.0b1 (64-bit)` I was unable to reproduce this on send.firefox.com (837747f) or send.dev.mozaws.net (837747f). I was also unable to reproduce this with Firefox Nightly `58.0a1 (2017-11-08) (64-bit)`. Both were run on Debian 9

[2017-11-08 15:22] SoftVision-CosminMuntean commented on #636
@piatra is this also reproducible on a new clean profile? Also, do you use a different version than en-US build? Or do you have any different languages set in about:preferences than default ones?

[2017-11-08 15:23] piatra commented on #636
Not reproducible on clean profile. Will try to see if I can find the about:config combination that made this happen.

[2017-11-08 15:26] piatra commented on #636
[1 means reject all third party cookies](http://searchfox.org/mozilla-central/source/browser/components/preferences/in-content/privacy.js#643)

[2017-11-08 16:03] SoftVision-CosminMuntean commented on #636
I set the "network.cookie.cookieBehavior" pref to "1", but I cannot reproduce the issue. Tested also with a clean profile with the pref set to "1", but Send website works as expected.

[2017-11-08 16:10] #636 closed

[2017-11-09 16:24] da2x opened #637 "Uploads and downloads fail for Accept-Language headers with quality scores"
1. Open about:config
2. Set `intl.accept_languages` to `en-US, en;q=0.8`
3. Try to upload or download a file from https://send.firefox.com

Error in console from  app.c3b20d92.js:1:32367:
RangeError: invalid language tag: en;q=0.8

ORIGINAL ISSUE:

TL;DR: Please also tell people about failed downloads, and not just silently log it.

Firefox nightly, 58.0a1 (2017-11-09) (64-bit), macOS 10.13

I’ve

[2017-11-09 16:40] ericawright commented on #637
Hi @da2x ,
"download-stopped" - is not necessarily an error message, we use that just to indicate it ending, whether through success or cancelling.
 "e.transfer is null" seems to be the problem here.
I can't reproduce. Do you have any other steps to reproduce, or things you are suspicious of? And does this happen consistently?

[2017-11-09 16:45] SoftVision-CarmenFat opened #638 "The link for download can be selected and copied while it's greyed out"
[Affected versions]:
- Firefox 56.0.2 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Open the browser and navigate to https://send.dev.mozaws.net.
2. Upload a file and click on the "Require a password to download this file" checkbox.
3. Triple click on the greyed out link and observe the behavior.
**_Bonus:_**
4. Press "Ctrl"+"C" keys and go to an edito

[2017-11-09 18:25] da2x commented on #637
@ericawright, I identified the issue and updated the original issue with steps to reproduce that works from a clean Firefox profile.

[2017-11-09 18:27] da2x commented on #637
This is a duplicate of issue #586.

[2017-11-09 18:27] #637 closed

[2017-11-09 18:27] da2x commented on #586
Steps to reproduce the issue from within Firefox:

1.  Open `about:config`
2. Set `intl.accept_languages` to `en-US, en;q=0.8`
3. Try to upload or download a file from https://send.firefox.com

[2017-11-09 18:30] dannycoates commented on #637
@da2x thanks for digging into this. 😀

#586 is the next thing on my list to work on so it should get fixed within then next week or so.

[2017-11-09 18:43] da2x commented on #637
Much appreciated, @dannycoates. 👍

We Europeans do like our long and complex Accept-Language headers. For testing purposes, my exact request header is: `en-US, en, nb;q=0.8, no;q=0.8, da;q=0.6, sv;q=0.5, de;q=0.4, es;q=0.4` (en-US is often the first for compatibility with websites running old versions of IIS).

[2017-11-10 01:25] ehuggett commented on #638
Two approaches that don't quite work perfectly (only tested in firefox)

I tried applying `user-select: none` when waiting for a password https://github.com/ehuggett/send/commit/3835b407df4e2d373927e2a7c0afae2216f2880a
- if the text is already highlighted before ticking the box you can still copy the link (but you have to click on the input/url box first to show that its still selected).

adding/r

[2017-11-10 21:01] #586 closed

[2017-11-10 21:16] dannycoates commented on #589
I was able to reproduce this on v1.2.3 but not v2.0.0 which is now in production. Please reopen if it's still broken for you.

[2017-11-10 21:16] #589 closed

[2017-11-13 18:39] wresuolc commented on #602
utm_campaign=send-acquisition&utm_medium=referral&utm_source=send.firefox.com

[2017-11-13 18:45] johngruen commented on #638
We should just not grey the link out since the URL doesn't change.

[2017-11-13 21:50] ehuggett commented on #638
Greying out the link would make a lot of sense if 'require a password' was set by default (globally or perhaps remembering a users preference?). If you don't think the greying out is currently essential, but you want to keep this possible, I would just add `user-select: none`
- If require a password is set by default, it will prevent copying the link until either the password is set or disabled (w

[2017-11-15 00:51] ehuggett commented on #540
The bugzilla link shows this made it into Firefox 57 👍 (released yesterday)

I can see the "bookmark this link" etc options in Firefox 58.0b1 that I previous said were missing from the context menu for the send link

[2017-11-15 02:59] #602 closed

[2017-11-15 03:07] #638 closed

[2017-11-15 03:10] dannycoates commented on #638
Disabling the copy originated when we weren't sure if the link would change once the password was added. Since the link stays the same there's no harm in copying at any time.

[2017-11-15 09:23] ehuggett commented on #597
I've just noticed I've linked completely the wrong file & a password isn't required to reproduce this (still present today in `{"commit":"490a1e8","source":"https://github.com/mozilla/send/","version":"v2.0.0"}` )

The original steps still reproduce the error, but it also be triggered without a password
1. Upload a file
2. Open the download link in two tabs (A and B)
3. Attempt to download the fil

[2017-11-15 13:54] SoftVision-CiprianMuresan opened #642 "There is no way to dismiss the Firefox Promo"
[Notes]:
- The issue is reproducible on both variants.
- The issue is not reproducible on the Prod page.

[Affected versions]:
- All Browsers - Stage and Dev

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Open the browser and navigate to https://send.stage.mozaws.net.
2. Observe Firefox Promo.

[Expected result]:
- An "x" button is displayed in the right part

[2017-11-15 14:10] SoftVision-CiprianMuresan opened #643 "C variant of the Promo is not displayed on all Send screens"
[Notes]:
- The issue is also reproducible on https://send.stage.mozaws.net/error/404, https://send.stage.mozaws.net/error and Link expired pages.
- The issue is not reproducible on the download page and while downloading a file.
- The B variant is displayed on all of the Send screens.
- The issue is not reproducible on the Prod page.

[Affected versions]:
- All Browsers - Stage and Dev

[Affected

[2017-11-15 15:28] SoftVision-CiprianMuresan opened #644 "Firefox icon from the Browser not supported page is not rendered correctly on Edge and Firefox"
[Notes]:
- In Edge's case, the promo is also affected by this issue.
- The issue is not reproducible on the Prod page.

[Affected versions]:
- Firefox 52 and under - Stage and Dev
- Edge - Stage and Dev

[Affected Platforms]:
- All Windows

[Steps to reproduce]:
1. Open an unsupported version of Firefox or Edge and navigate to https://send.stage.mozaws.net.
2. Observe the Firefox icon in the Downl

[2017-11-15 17:21] dannycoates commented on #643
This is as _I_ intended it. @sevaan may have other ideas.

[2017-11-15 17:22] dannycoates commented on #642
We talked about this on slack and decided to go without the close button.

[2017-11-15 17:22] #642 closed

[2017-11-15 17:25] dannycoates commented on #644
Same on firefox. The new logo svg has some style attributes that I didn't notice, which our CSP rules don't like. I'd prefer to allow inline styles in our CSP.

[2017-11-15 17:50] sevaan commented on #643
Yes, this is intended. If a user does not stop to interact with the promo on the homepage, they're probably going to ignore it in subsequent steps where they are doing something. The notification bar is kind of out of the way so it can carry through, but this element is a bit more in-your-face so we can just use it on the home page and keep the layout clean afterwards.

[2017-11-15 18:42] johngruen commented on #643
Closing due to @sevaan

[2017-11-15 18:42] #643 closed

[2017-11-15 18:54] #644 closed

[2017-11-15 20:00] ariestiyansyah commented on #385
@pdehaan what is the status of `needs:product` flag of this issue? I think we should publish send firefox addons to quantum since it's really helpful.

If yes, I will do PR or you guys create new repo in mozilla github so this addons can be published on behalf of mozilla. let me know your feedback

[2017-11-15 20:06] #19 closed

[2017-11-15 20:06] #24 closed

[2017-11-15 20:07] #64 closed

[2017-11-15 20:07] #190 closed

[2017-11-15 20:07] #220 closed

[2017-11-15 20:10] #325 closed

[2017-11-15 20:10] #413 closed

[2017-11-15 20:19] dannycoates commented on #585
Deployments can vary a lot based on your environment. App parameters can all be set with environment variables. We use docker so it's documented in https://github.com/mozilla/send/blob/master/docs/docker.md

Also our Dockerfile has some useful setup commands for reference https://github.com/mozilla/send/blob/master/Dockerfile

[2017-11-15 20:20] dannycoates commented on #604
wontfix, sorry

[2017-11-15 20:20] #604 closed

[2017-11-16 09:12] ehuggett commented on #585
In addition to the provided documentation
- you will also need a reverse proxy to handle https
   - **beware HSTS headers are set in Send itself** with an expiry of 1 year (not configurable)
   - you should configure HPKP here if you wish to use it
- If you don't want to use s3 (and i suspect private servers will prefer local storage) you should probably take a look at modifying the docker config

[2017-11-16 10:08] youwenliang commented on #525
@johngruen
Here's a quick idea Peko created, only one dropdown for download times and users can pick from 1 to 10 or unlimited times:
![send_dropdown](https://user-images.githubusercontent.com/8919308/32885594-e3d8e66e-caf8-11e7-9f84-3e34edf7f224.png)

Any thoughts? We should probably also show the number of download times left for receivers when they open the link.

[2017-11-16 15:55] SoftVision-CiprianMuresan opened #646 "C variant of the promo is not in a fixed position in the page"
[Notes]:
- On some browsers (Opera) the footer section is also moved.
- The issue is not reproducible on B variant.
- The issue is not reproducible on the Prod page.

[Affected versions]:
- All Browsers - Stage and Dev

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have the C variant of the promo.

[Steps to reproduce]:
1. Open the browser and navigate to https://se

[2017-11-16 16:25] ehuggett commented on #385
From https://developer.mozilla.org/en-US/Add-ons/WebExtensions/manifest.json/sidebar_action

The extension currently has the "tab" and "storage" permissions in addition to whatever is accessible by default, does this mean these permissions are also being granted to send.firefox.com? (as the extension loads this url directly into the sidebar)

[2017-11-16 16:28] ariestiyansyah commented on #385
@ehuggett Indeed, I will remove that attribute.

[2017-11-16 17:16] sevaan commented on #646
Yeah, that looks a bit broken and will be unavoidable for anyone seeing this variation.

[2017-11-16 18:50] dannycoates commented on #646
not *unavoidable* @sevaan jeez 😉

Only for the drag-droppers, not the button clickers... anyway I fixed it.

[2017-11-16 18:52] dannycoates commented on #646
Looks like I forgot the issue number in the commit message... fixed in https://github.com/mozilla/send/commit/d78fcd3721df7cf114ba255513ea8f79af3d9864

[2017-11-16 18:52] #646 closed

[2017-11-16 20:48] dannycoates commented on #525
I like how this looks, but I'm dreading implementing it...

Putting number variables in sentences makes localization more difficult (nevermind having controls in the strings). Fluent has [selectors](http://projectfluent.io/fluent/guide/selectors.html) but I'm not sure pontoon supports them. Does it @flodolo?

If there was a way we could do it that didn't mix the strings with controls it would be e

[2017-11-17 00:06] ehuggett commented on #597
This could be triggered by #525 as your likely to have multiple users trying to download the file in short succession

No download limit (Unlimited) would allow posting links to twitter etc so simply retrying with the new nonce as i suggested could exasperate this issue (to the point where the round trip time could exceed the interval at which the nonce is changing).

[2017-11-17 01:59] flodolo commented on #525
Yes, Pontoon supports plural forms (Screenshots is [already using them](https://github.com/mozilla-services/screenshots/blob/master/locales/en-US/server.ftl#L154)).

[2017-11-17 04:33] tradewatcher opened #647 "Feature: Upload Button Addon"
An addon would be great to provide an upload button. Click on the button, open an explorer window and open upload-site after file is selected. "Shortcut"...

[2017-11-17 10:43] johngruen commented on #525
@dannycoates @youwenliang i dig the UI,

let's ditch _unlimited_ tho and do the following:
1-10, 25 and 50.

[2017-11-17 10:44] johngruen commented on #525
@youwenliang also WRT timing, i think the same style control could work maybe?

[2017-11-20 02:42] youwenliang commented on #525
@johngruen yes the same style should work. What would be the options by the way? Did we get requests for shorter expiration time or longer?

[2017-11-20 22:33] zaksoup commented on #585
Hi @dannycoates, I am interested in potentially deploying send on a private server. I feel comfortable with the infrastructure requirements but I'm curious as to how Send uploads to an s3 bucked given only a named bucket. How does Send have access to the bucket without IAM keys?

[2017-11-20 23:29] dannycoates commented on #585
@zaksoup we run the app server on EC2 and use an IAM role so we don't need to pass credentials to the app (its automatically handled by aws-sdk). See http://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/loading-node-credentials-iam.html

[2017-11-21 18:12] whitneyh2 opened #648 "encryption and key mgmt info"
curious to understand if the key management practices and encryption technology has been discussed or documented in any way.  Certainly anyone who uses this type of platform would want to understand these aspects.  I haven't found anything related and thought I would inquire.

[2017-11-23 09:53] ovlb commented on #634
Hej,
this also happens in Firefox 10.2, Chrome 62 and every other browser I just tested. My iOS version is 11.1.1.
The easy fix seems to be changing `<input type="submit" value="Add password" …>` to `<button type="submit" …>Add password</button>`. Is this acceptable? If so, I would open a pull request.

Screenshot Firefox
![img_1924](https://user-images.githubusercontent.com/7645967/33166639-3c8e8

[2017-11-23 10:04] youwenliang commented on #634
Should probably also add "-webkit-appearance: none" to the button class.

[2017-11-23 10:15] ovlb commented on #634
In Safari this also fixes the issue, making it superfluous to change the markup. I would create a fix for this. Then it should probably be merged in a dev branch to test it across browsers? Or is your Webpack config (I just can’t get my head around Webpack) creating a local dev server which I can access on my iPhone to test it? In the moment I just have the Safari remote debugger available.

[2017-11-23 11:47] ovlb commented on #634
I’ve tested `-webkit-appearance: none` against Firefox, Chrome, Safari, Opera and the Apple WebViews and it fixes the layout issue. Thanks, @youwenliang. Would open a PR later on.
Results can be seen in this CodePen: https://codepen.io/ovl/full/qVYgoO/

[2017-11-24 14:31] SoftVision-CiprianMuresan commented on #609
@sevaan, the text in the box and the text in the label are now aligned with each other, but the text from the label was moved up a bit instead of moving the text from the box down.
Is this a suitable solution?

[2017-11-24 19:00] sevaan commented on #609
@SoftVision-CiprianMuresan No, it should be the opposite: The label is too high, and the button is correct.

[2017-11-27 18:35] johngruen opened #651 "Add banner color A/B test"
@sevaan we want to compare the grey top bar against a more colorful option...what colors should we use?

[2017-11-27 18:40] johngruen commented on #648
Let's make sure the docs are up to date here

[2017-11-28 11:35] DRN88 commented on #525
May I ask what's the up to date status of the multidownload "feature"? Thanks.

[2017-11-28 16:14] sevaan commented on #651
Let's go with Photon blue: #0098F7 with white text.

![image](https://user-images.githubusercontent.com/473531/33330610-4b921c98-d42d-11e7-93cf-ed9aced676a9.png)

[2017-11-28 19:26] dannycoates commented on #525
@DRN88 multidownload is in development right now and should be released before the new year.

[2017-11-29 18:43] johngruen opened #652 "Add ver query param to survey gizmo link"
we should add ver={n} to the surveygizmo URL where n = the version number of Send

[2017-12-01 21:31] dannycoates opened #653 "Fix 'exit' event reporting"
I disabled the exit analytics event in v2.1 because some of them were under reporting, leading to misleading stats.

Let's fix it and start sending them again

[2017-12-04 18:46] johngruen opened #655 "Add count remaining to the homepage file list"

[2017-12-04 18:47] johngruen opened #656 "Verify reason for stopped events"
confirm that this fires when fatal errors happen when `reason transfer stopped` is an error

[2017-12-05 15:45] anavgupta commented on #609
Hi @sevaan, I am looking to contribute to my first Open Source Project. Could you please point out the issue after the previous merge so that I can try to fix it.

[2017-12-05 21:27] dannycoates commented on #652
added in 1849d712b108af22de06fe45fae15bfbc4119e13

[2017-12-05 21:27] #652 closed

[2017-12-05 21:28] dannycoates commented on #634
fixed

[2017-12-05 21:28] #634 closed

[2017-12-05 22:21] dannycoates commented on #651
added b2c1daa6c7cd1ba3584eed29352631df62032a1c

[2017-12-05 22:21] #651 closed

[2017-12-06 21:26] johngruen opened #657 "Add browser name to survey gizmo URL"
something like `browser={browser}`

[2017-12-07 13:16] Softvision-CristinaBadescu opened #658 "All the drop area text resizes twice when you drag a file over it"
[Affected versions]:
- Firefox 57.0.1 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Navigate to the https://send.stage.mozaws.net/
2. Drag a file over the Drop area and observe the text size.

[Expected result]:
- The text is bigger.

[Actual result]:
- The text is smaller, then it becomes bigger.

[Notes]:
- On Linux, this issue isn't as visible as on

[2017-12-07 16:23] Softvision-CristinaBadescu opened #659 "The share link field is wrongly active when the "Require a password" checkbox is selected"
[Affected versions]:
- Firefox 57.0.1 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a file uploaded to https://send.stage.mozaws.net/.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites and navigate to the Share file page.
2. Select the "Require a password" checkbox.
3. Observe the share link field.

[Expected result]:
- The

[2017-12-07 16:40] sevaan commented on #609
@anavgupta Great! Welcome aboard and thanks for contributing. Could you provide a screenshot of the issue after the previous merge (I'm not set up to build at the moment), and I'll give you the details on the fix.

[2017-12-07 22:42] dannycoates commented on #658
🤷‍♂️ It's scaling with a css transform, but I don't see anything weird with it. I imagine this is a browser painting / font rendering issue. @ericawright any suggestions?

[2017-12-07 22:45] dannycoates commented on #659
Since the link doesn't change by adding a password we decided it's ok to keep it enabled. It's working as we now intend it to.

[2017-12-07 22:45] #659 closed

[2017-12-08 12:41] TwizzyDizzy opened #660 "Define listen address"
Hi folks,

I was wondering whether it is possible to bind send to an IPv4 address explicitly. On starting, it currently seems to only listen on `::1`, not on `127.0.0.1`.

As I have seen that you're using [node-convict](https://github.com/mozilla/node-convict) for configuration, I tried adding this to `server/config.js` - unfortunately to no avail - still listening on `::1` only:

    ...

    con

[2017-12-08 13:45] SoftVision-CiprianMuresan opened #661 "[Enhancement] Show number of remaining downloads"
[Affected versions]:
- Firefox 57.0 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Start the Firefox browser with and navigate to "https://send.stage.mozaws.net/" page.
2. Upload a file and set it to expire after 20 downloads.
3. Navigate to the homepage and observe the newly uploaded file in the file info table.

[Expected result]:
- The number of rema

[2017-12-08 13:45] SoftVision-CiprianMuresan opened #662 "The upload/download progress bar does not update itself while in a background tab"
[Affected versions]:
- Firefox 57.0 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Start the Firefox browser with and navigate to "https://send.stage.mozaws.net/" page.
2. Upload a medium to large file (>100 MB).
3. Switch to a different tab and wait for the download to reach about 50%.
4. Switch back and observe the upload progress bar.

[Expected resu

[2017-12-08 13:45] SoftVision-CiprianMuresan opened #663 "Restrict the banner from showing on unsupported browsers"
[Notes]:
- Since the Download Firefox page is already displayed instead, we could do without the banner showing.

[Affected versions]:
- Firefox 57.0 and up

[Affected Platforms]:
- All Windows

[Steps to reproduce]:
1. Start the Edge browser with and navigate to "https://send.dev.mozaws.net/" page.
2. Observe the top part of the page.

[Expected result]:
- The download banner is not displayed.

[

[2017-12-08 13:46] SoftVision-CiprianMuresan opened #664 "Password is only set on the 2nd attempt if the file was already downloaded once"
[Affected versions]:
- Firefox 57.0 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Start the Firefox browser with and navigate to "https://send.stage.mozaws.net/" page.
2. Upload a medium to large file (>100 MB) and set it to expire after at least 2 downloads.
3. Download the file on a different computer once.
4. Check the password checkbox and write a

[2017-12-08 15:46] ericawright commented on #658
I played with some numbers with our scaling, it seems like it does not happen if we scale greater than ~1.2, but it happens if it is less than that.
With safari - it is roughly the same behavior, but the scale is around 1.7 before it stops happening to the smaller italic test.
I also tried it on Chrome, and the issue is not there, so I believe it is also a browser issue, something with how we scal

[2017-12-08 17:45] #664 closed

[2017-12-08 20:11] claudijd opened #666 "When hosting http:// based instance, download links are https:// (scheme confusion)"
I tried deploying and instance on the bench to play around with send and noticed that when the docker instance is hosting content over http:// and I drag and drop a link, the download URL that's offered is https:// on the same http:// hosting port, resulting in a bad link.

Now, if send is running behind an ssl termination proxy, this is all well and good, but if you are testing locally, this pres

[2017-12-08 20:53] dannycoates commented on #666
This is sort of a "feature" of using the `NODE_ENV=production` environment variable in that it forces the generated link to be https. We should probably change `docker-compose.yml` to not set `NODE_ENV`

[2017-12-08 21:00] claudijd commented on #666
Yeah, I can confirm, removing that and rebuilding and docker-compose up that that addresses the issue.  Happy to send a PR for the docker-compose.yml (assuming prod deployment over-write this env var)

[2017-12-08 21:11] #666 closed

[2017-12-09 01:25] TwizzyDizzy commented on #660
After a bit of [digging](http://expressjs.com/en/api.html#app.listen), it turns out you can set the address in `prod.js`, though not in `config.js`. I did the following PR to suggest a solution: https://github.com/mozilla/send/pull/668

Any comment is appreciated. I'm not well versed in nodejs/express.

Cheers
Tomas

[2017-12-11 12:09] SoftVision-CosminMuntean commented on #664
I have retested this issue and is no longer reproducible on latest Send 2.2.1 version.

[2017-12-11 18:09] BrunoScheufler commented on #663
I tried to reproduce it with Edge multiple times but the header didn't show up for me 😕 Does it still show up for you? I'm really curious about this know.

[2017-12-12 09:11] Softvision-CristinaBadescu commented on #663
Hello @BrunoScheufler ,
I've managed to reproduce this issue using Microsoft Edge 40.15063.674.0 on Windows 10x64, using English (United States) Language and US keyboard layout. Can you please provide the version of the Microsoft Edge you are using and also the set language and keyboard? Maybe due to this setting you didn't encounter this issue.
Below you can see a screenshot with the issue:
![sen

[2017-12-12 15:35] BrunoScheufler commented on #663
Hello @Softvision-CristinaBadescu ,
I've tried again using Win10 (1709) using the German language and German/DE keyboard layout. The header did not show up for me in any of the tests, that might be because of the language or some other factor. It looks like this to me:
![edge](https://user-images.githubusercontent.com/4772980/33892730-d3720e02-df59-11e7-8026-b7d6042fc70e.png)

[2017-12-12 19:50] dannycoates commented on #663
The banner is en-US only for now

[2017-12-12 20:27] BrunoScheufler commented on #663
@dannycoates well that explains it all, thank you 🙂

[2017-12-13 06:09] sukeesh opened #670 "Password should be hidden while typing"
After uploading a file, Password while typing is not hidden.

[2017-12-14 02:12] derektamsen opened #671 "Share page generated with hard coded '24 hours' TTL"
When changing the file TTL via the environment variable, `EXPIRE_SECONDS=N`, the text on the share page still says 24 hours.

This appears to be due to the following in `app/templates/share.js`:
[code]
![screenshot-2017-12-13 firefox send](https://user-images.githubusercontent.com/828329/33972140-316ddb58-e031-11e7-8623-29da7db588da.png)

[2017-12-19 14:34] johngruen opened #674 "Download not working on Safari for iOS"
![img_5456](https://user-images.githubusercontent.com/3323249/34161814-0bee7a22-e4d2-11e7-80fc-5fbe2cabd2e8.png)

[2017-12-19 14:35] johngruen opened #675 "Downloading (and presumably uploading) UI not responding correctly on iOS browsers"
![img_5455](https://user-images.githubusercontent.com/3323249/34161863-30c5f9c4-e4d2-11e7-8e3f-51b624fe2068.png)

[2017-12-19 14:48] johngruen commented on #674
@dannycoates the problem here is that the failure happens AFTER download. If we can't support Safari for iOS, we should display the warning before we download and possibly trigger a blocking prompt for users to download FXiOS (for which downloads work).

@sevaan what do you think?

[2017-12-19 14:59] johngruen opened #676 "Download Firefox button fonts look wrong in Edge"
Should be Sans Serif

<img width="1083" alt="screen shot 2017-12-19 at 3 58 21 pm" src="https://user-images.githubusercontent.com/3323249/34162890-8fe82866-e4d5-11e7-8ada-ec563a19382b.png">

[2017-12-20 03:49] dannycoates commented on #525
multiple downloads is now live on https://send.firefox.com v2.2.2

[2017-12-20 03:49] #525 closed

[2017-12-20 03:55] dannycoates commented on #674
I think this is dependent on the file type. If it's something iOS knows what to do with, like an image, it should work, though I haven't done extensive testing. I don't imagine Firefox for iOS would be able to do any better than Safari

[2017-12-20 10:53] swarnava opened #677 "Add ability to upload from clipboard"
It would be great if Firefox send have ability to upload directly from keyboard upon pressing CTRL/CMD + V :smile:

[2017-12-20 18:39] johngruen commented on #677
sounds cool...want to write a patch?

[2017-12-20 18:44] johngruen commented on #674
Looks like this needs investigation :(

[2017-12-20 18:45] johngruen commented on #670
...arguably :)

[2017-12-20 18:45] johngruen commented on #663
stretch!

[2017-12-20 18:49] johngruen commented on #658
i think this is fine.

[2017-12-20 18:49] #658 closed

[2017-12-20 19:17] swarnava commented on #677
I wish I could. Sadly, I don't have much expertise to work on this. 😅

[2017-12-21 00:45] ehuggett commented on #677
Its probably worth making a distinction between _data_ and _files_ on the clipboard
- For text on the clipboard, There is an open PR trying to add support for uploading data from a text field https://github.com/mozilla/send/pull/573
- For images on the clipboard, see below
- For files on the clipboard, not sure. My first attempts have failed
---

uploading image data when pasted from the clipboard

[2017-12-21 02:34] sukeesh commented on #670
Hi @johngruen, Can I work on this issue?

[2017-12-21 09:06] shikhar-scs commented on #609
@sevaan If this issue ( bringing the fields down ) isnt fixed till now , then may I do that and file a pr?

[2017-12-21 10:04] himanish-star commented on #635
@SoftVision-CosminMuntean , working on it

[2017-12-21 10:48] shikhar-scs commented on #661
@SoftVision-CiprianMuresan I am working on this. Though I had a doubt.
Do we need the information of `after downloads` to be dynamic ( i.e. that it should decrease after every download ) or not.

[2017-12-21 11:55] bmintz commented on #609
@shikhar-scs of course!

[2017-12-21 12:05] shikhar-scs commented on #609
Actually I'm stuck upon another issue in mozilla send so I wouldn't mind @himanish-star taking over this issue

[2017-12-21 12:06] himanish-star commented on #609
@bmintz , I'll take over this issue

[2017-12-21 12:43] himanish-star commented on #635
@SoftVision-CosminMuntean , is there any IRC channel for mozilla/send where I can ask some doubts.

The current problem is that if I try to use onmouseover attribute to the input element it doesn't get rendered to the front end as when I open up the browser console and see the html page code then I see that the changes made in the uploadPassword.js files don't show up here. All other changes show

[2017-12-21 13:16] SoftVision-CosminMuntean commented on #635
Unfortunately, I can't help you with this, but @dannycoates is the right person and can help you.
You can try on #testpilot channel, but all the developers are from US and probably they will be online in a few hours.

[2017-12-21 15:14] himanish-star commented on #635
@SoftVision-CosminMuntean , thanks a lot

[2017-12-21 15:55] ehuggett commented on #618
I'm going to submit a PR for this.

api/exists
- indicate password status
- Include current nonce in WWW-Authenticate response header (Perhaps it should set a new nonce first? However iirc the client calls exists after upload but before the user sets a password so it may attempt to use the out of date nonce)

api/metadata
- include current download limit (dlimit)
- include total number of download

[2017-12-21 19:04] dannycoates commented on #635
Hi @himanish-star, thanks for working on this. 😄

Our team is about to start our end of year holiday so we'll be offline until January, but if you could post the code you're talking about somewhere I can have a look at it.

[2017-12-21 20:34] #609 closed

[2017-12-21 20:42] #671 closed

[2017-12-21 21:01] bmintz commented on #65
Why would you do this on a privacy oriented site?

[2017-12-21 21:17] sevaan commented on #661
Yes, that's correct. It's a running tally of how many downloads are left.

On the home page, please let's change the "Expires In" header to "Time" and add a column to the right with the header "Downloads". The number in the download column should be center aligned.

<img width="649" alt="image" src="https://user-images.githubusercontent.com/473531/34275226-521e2ad0-e66a-11e7-99e3-0fafe38db900.png"

[2017-12-21 21:46] TwizzyDizzy commented on #660
Closing, since merged to master.

Cheers
Thomas

[2017-12-21 21:46] #660 closed

[2017-12-22 01:09] himanish-star commented on #635
@dannycoates , This is with respect to the file https://github.com/mozilla/send/blob/master/app/templates/uploadPassword.js

This is the code snippet from the file mentioned above

` <div id="addPasswordWrapper">
      <input id="addPassword" type="checkbox" autocomplete="off" onchange=${
        togglePasswordInput
      }/>
      <label for="addPassword">
        ${state.translate('requirePasswo

[2017-12-22 04:12] shikhar-scs commented on #661
@sevaan I've made the required changes and also have filed a PR #681 . Please review.

[2017-12-22 06:43] dannycoates commented on #635
I think all we really need is this:

[code]

With regard to the mouse event handlers not showing up in devtools... This is caused by the the library we're using for html templating, [bel](https://www.npmjs.com/package/bel). It actually parses the template strings and creates DOM nodes like you would if you were to use js like `document.createElement('div')`. Also, [it sets event handlers directly

[2017-12-22 07:08] himanish-star commented on #635
Oh , Thanks a lot @dannycoates . I finally understood how it works. Actually I am contributing newly to this repository so I had no idea of how things were working. Now I have a better stance, thanks again. I will soon file the PR

[2017-12-22 10:51] himanish-star commented on #635
@dannycoates , I directly copied and pasted your code snippet but unfortunately it doesn't work

[2017-12-23 03:09] himanish-star commented on #217
@pdehaan , I'm on it

[2017-12-23 03:28] himanish-star commented on #655
@johngruen , on it

[2017-12-23 05:40] himanish-star commented on #655
@sevaan , @johngruen aren't #661 and this issue the same

[2017-12-23 05:40] shikhar-scs commented on #655
I guess this issue gets covered by PR #681

[2017-12-23 07:35] shikhar-scs commented on #670
As the previous pr has been closed, I'll soon post one to correct the issue

[2017-12-23 16:20] sevaan commented on #661
I don't do code reviews, I'm afraid. My programming skills are lacking. @dannycoates do you mind taking a look?

[2017-12-23 17:18] himanish-star commented on #578
@SoftVision-CosminMuntean , @johngruen . I would like to fix this issue

[2017-12-24 06:12] himanish-star commented on #578
@SoftVision-CosminMuntean I face another issue as the page doesn't redirect me and moreover files of size more than 500MB also don't get uploaded in my case

![simplescreenrecorder-2017-12-24_11 19 16](https://user-images.githubusercontent.com/30361728/34324619-64eac66e-e89f-11e7-8fe3-327a12179bcf.gif)

[2017-12-25 08:40] arunsathiya opened #687 "Suggestion: An ability to change password"
Currently when you upload a file, you have an option to set a password. Type a letter wrong, and you cannot change the password.

It would make sense to have an ability to change the password after setting one.

Especially when the file you upload is very large. You cannot upload the file again, just to select a new password.

[2017-12-26 01:07] ehuggett opened #688 "Don't put passwords in localStorage"
Plaintext passwords are being stored in LocalStorage.

[screenshot](https://user-images.githubusercontent.com/8090731/34343827-24bad652-e9d4-11e7-98ec-97e4060f3d43.png)
https://github.com/mozilla/send/blob/f08dd5960b7280403eac3baa7ee69b605ae4d6dd/app/fileManager.js#L180-L181

The only use of this value appears to be as a parameter to passwordComplete which displays the users password on their scre

[2017-12-26 01:24] ehuggett commented on #687
I think the **server** currently lets you do this (see send/server/routes/password.js, an authenticated request overwrites the auth key) but the **client** has no UI for it

Users may also expect to be able to unset/remove the password if they can edit it (which the server does NOT currently allow).

[2017-12-27 16:28] SoftVision-CosminMuntean commented on #578
@himanish-star this is a known issue. Chrome crashes when you try to upload a file larger than 1 GB, see issue #170. But, I suggest you to use Firefox x64 build.

[2017-12-28 01:45] himanish-star commented on #578
Thanks @SoftVision-CosminMuntean , I will do this as soon as possible

[2017-12-28 13:59] bmintz opened #689 "The string 'Firefox Send' is hardcoded everywhere"
I'm trying to make my own fork of Firefox Send that's more privacy/anonymity oriented (ie no Google Analytics, no "Experiments" code, etc). I also wanted to change the title of it. I'd think that just changing state.title to `SendCrew` would be enough, but alas, not enough stuff uses it.

Even though I removed metrics, I still thought you'd like to know. Also this one would be a real pain to chang

[2017-12-28 14:22] himanish-star commented on #687
@ehuggett  could I work on this issue

[2017-12-28 14:35] himanish-star commented on #578
@SoftVision-CosminMuntean , My firefox version is 57.0.1 (64bit) , even now the same problem persists and my firefox browser gets hanged up on uploading and then I got to restart my laptop

[2017-12-29 14:18] SoftVision-CosminMuntean opened #691 "High memory usage while a large file (~1GB) is encrypted"
[Notes]:
- If you have a machine with 4 GB RAM the computer freeze while the file is encrypting. I have tested this using a iMac with 4 GB RAM and after the file started to be encrypted the system froze.
- For the first upload in a new Firefox session, the memory usage stabilizes when the upload reaches ~15-30%.
- For next uploads in the same Firefox session, the memory usage stabilizes when the u

[2017-12-29 14:19] SoftVision-CosminMuntean opened #692 "Used memory takes too long until it's released, if an upload is cancelled before it reaches 5%"
[Notes]:
- This issue is not reproducible on Mac OS.
- The used memory is released after a few seconds if the Send tab is closed.
- Depending on your system, the issue can be reproducible even when you cancel the upload after 5%.

[Affected versions]:
- Firefox 57.0 and up

[Affected Platforms]:
- All Windows
- All Linux

[Prerequisites]:
- The Task Manager/System Monitor is opened.

[Steps to rep

[2017-12-30 11:45] himanish-star commented on #687
@ehuggett , I am stuck I need some help. I have created the UI to reset password and I have used the same part of code as the add password button does. So the submission uses the same mechanism as add Password.

After two days I still can't find my way through the authentication.
I always get a 401 error in this part as the verification fails. Could you help me ? I just want to know how to get the

[2018-01-02 19:48] ehuggett commented on #687
(as you can see) I just referenced this issue from my own project (a 3rd party client written in python),  I had previously said I "think" the server allows this, I now _know_ that the server allows it as I was able to change the password for a previously uploaded file with some modifications to my client

---

I have no rights or control within this project (or Mozilla) so that's nothing to do wi

[2018-01-03 00:51] himanish-star commented on #687
@ehuggett , thanks for the help. I should be able to proceed now and in case I get stuck I will surely push my commits so that you as well as others can help me.

[2018-01-03 10:25] shikhar-scs commented on #547
@SoftVision-CiprianMuresan @wresuolc @dannycoates if this issue is still up, can i work on it ?

[2018-01-03 10:29] shikhar-scs commented on #578
@himanish-star  you still working on this issue ??

[2018-01-03 10:58] shikhar-scs commented on #661
@dannycoates Yes Please

[2018-01-03 11:26] himanish-star commented on #578
@shikhar-scs , you can go ahead. My window crashes everytime I upload above 1GB

[2018-01-03 11:44] SoftVision-CosminMuntean commented on #578
@himanish-star I think you encounter issue #391. If you have a machine that has < 4 GB RAM when you try to upload a large file > 1 GB the website will crash or the system will freeze.

[2018-01-03 11:54] himanish-star commented on #578
@SoftVision-CosminMuntean ,yes I do have RAM less than 4GB

[2018-01-03 12:36] shikhar-scs commented on #578
Thanx @himanish-star for handling me this. I'll work on it and file a PR soon.
@SoftVision-CosminMuntean just wanted to confirm that only a warning is to be declared or do I also need to cancel the upload for >2GB.

[2018-01-03 13:58] SoftVision-CosminMuntean commented on #578
After the warning is displayed the upload should be automatically canceled.

[2018-01-03 17:31] shikhar-scs commented on #578
@SoftVision-CosminMuntean I've filed the PR, keeping all these things in mind. Please review it  #695

[2018-01-03 18:23] #635 closed

[2018-01-03 18:45] wresuolc commented on #692
We think this is just firefox garbage collection doing its thing.  If your computer is short on memory and it's not releasing, that's more concerning, but periodically cleaning up seems right.

[2018-01-03 18:45] #692 closed

[2018-01-03 18:49] wresuolc commented on #689
Thanks for the bug, but I'm going to close this -- that's the name of the product and since it's an experiment we're keeping the code simple and trying to move quickly on features.  Thanks!

[2018-01-03 18:49] #689 closed

[2018-01-04 04:02] shikhar-scs commented on #691
As a user I would suggest that we remove the option of uploading files > ~ 1-1.5 GB because it always freezes the system.
Moreover @SoftVision-CosminMuntean  you have mentioned a cause [here](https://github.com/mozilla/send/issues/578#issuecomment-354993486) but my system's RAM is ~6GB. So its not advisable that we anyhow enable the ability to upload such large files.

At PR #695  I have introduce

[2018-01-05 15:11] Softvision-MariusComan commented on #635
The issue is no longer reproducible on https://send.dev.mozaws.net/ website.

[2018-01-05 20:57] wresuolc commented on #572
@dannycoates and I talked about this and he's going to write the doc based on https://github.com/mozilla-services/screenshots/blob/master/docs/takedown.md

[2018-01-05 21:43] dannycoates commented on #572
doc added in 46f641aaec4d3fae636fdcbf0229e781a34e24e2

[2018-01-05 21:43] #572 closed

[2018-01-07 11:58] shikhar-scs commented on #217
I guess we still are missing a pop-up for delete button on the set password page. May I work on that ?

[2018-01-07 12:32] himanish-star commented on #217
@shikhar-scs , I have done that too !

[2018-01-08 13:20] TwizzyDizzy opened #696 "Protocol not taken into account in resulting URL"
Hi folks,

I use my send-instance via reverse-proxy in apache (proxying to 127.0.0.1:PORT). When uploading a file over https://my.send.instance, the resulting URL that is schon after that uses `http` as protocol.

This happens despite having set the `X-Forwarded-Proto "https"` header.

I would vote for the ability of send to take into account
* the HTTPS header
* or the X-Forwarded-Proto header in

[2018-01-08 17:49] #670 closed

[2018-01-08 18:28] wresuolc commented on #572
@dannycoates what happens to the file on disk?

[2018-01-08 18:32] dannycoates commented on #696
Setting the `NODE_ENV` environment variable to `production` will force https

[2018-01-08 18:32] #696 closed

[2018-01-08 18:56] TwizzyDizzy commented on #696
Argh... you're right, I could have looked that up. Sorry for that!

Cheers
Thomas

[2018-01-08 19:23] dannycoates commented on #572
updated https://github.com/mozilla/send/blob/master/docs/takedowns.md

[2018-01-09 10:59] SoftVision-CiprianMuresan commented on #217
I have to reopen this issue, while the confirmation dialog does appear when the button is clicked, the buttons (Cancel, Yes) do not work and the dialog can't be dismissed by clicking away from it:

![delete dialog buttons do not work](https://user-images.githubusercontent.com/18304511/34717061-72b883e2-f53a-11e7-9a5e-aa9170d46604.gif)

[2018-01-09 11:10] himanish-star commented on #217
@SoftVision-CiprianMuresan , you can see my PR all works fine.  It may be due to some small errors with new commits that it's not working. But don't worry I'll fix it in a while

[2018-01-09 11:19] SoftVision-CiprianMuresan commented on #217
@himanish-star, it seems to work fine on Chrome, Safari and Opera, but it does not work on Firefox Release, Beta or Nightly.

[2018-01-09 13:10] himanish-star commented on #217
@SoftVision-CiprianMuresan , OK I'll see to this

[2018-01-09 16:25] sevaan opened #697 "Gradient Firefox promotion banner test"
As discussed in our last Send meeting, the Grey Firefox promotion banner is performing better than the blue. Now we'd like to try some gradients to see if they are more or less noticeable.

[Mocks](https://mozilla.invisionapp.com/share/W7E3CXRCE#/272542748_Send_Promo_Gradients)

CSS for Orange-Pink: `background-image: linear-gradient(-180deg, #FF9400 0%, #FF1AD9 94%);`
CSS for Blue-Teal: `backgrou

[2018-01-09 18:58] #217 closed

[2018-01-09 19:31] #676 closed

[2018-01-10 04:51] himanish-star commented on #217
@SoftVision-CiprianMuresan , are you now satisfied with the changes.

[2018-01-10 09:26] SoftVision-CosminMuntean commented on #692
It seems that the firefox garbage collection is not working properly in Firefox 57 release. If an upload is cancelled before it reaches 5%, than the Firefox memory is only released if the page is closed or refreshed.
But, this issue is not reproducible on Beta 58 and latest Nightly 59.0a1 build. The memory is released in a few seconds after the upload is cancelled. So, probably this is a Firefox i

[2018-01-10 10:38] SoftVision-CiprianMuresan opened #699 "The Delete dialog from the Link copy page is not correctly displayed in mobile view"
[Affected versions]:
- Firefox 57 and up

[Affected Platforms]:
- All Platforms

[Steps to reproduce]:
1. Open the browser and resize it's width to the minimum.
2. Navigate to https://send.dev.mozaws.net and upload a file.
3. Click the delete button and observe the dialog.

[Expected result]:
- The dialog is fully displayed.

[Actual results]:
- The left side of the dialog box is cut off.

[Notes]

[2018-01-10 12:58] SoftVision-CiprianMuresan opened #700 ""Download Firefox" banner is wrongly displayed on the homepage after using Responsive Design Mode"
[Notes]:
- The banner persists after exiting Responsive Design Mode, after the browser is restarted and will still appear if you visit the page in a different tab.
- The issue is also reproducible on Dev and Stage.

[Affected versions]:
- Firefox 57 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Open the browser and navigate to https://send.firefox.com.

[2018-01-10 13:18] SoftVision-CiprianMuresan commented on #217
![image](https://user-images.githubusercontent.com/18304511/34774749-3db8b10a-f619-11e7-8d91-63121b83f763.png)

Yes.

The dialog box and its buttons now work correctly on Firefox too. Thank you for all your hard work.

[2018-01-10 13:23] shikhar-scs commented on #217
I'm laughing harder than I should :smile: :smile: :smile:

[2018-01-10 13:41] SoftVision-CiprianMuresan commented on #676
The issue is no longer reproducible on the Dev server using Edge.

[2018-01-10 14:12] SoftVision-CiprianMuresan commented on #670
The issue is no longer reproducible. Passwords are now hidden when typed and hidden after being set.

[2018-01-10 16:31] shikhar-scs commented on #691
Any thoughts on this @SoftVision-CosminMuntean ?

[2018-01-10 16:37] shikhar-scs commented on #697
@sevaan The purpose of this issue is to generate different gradients and check whether they are more or less noticeable right ?

[2018-01-10 16:38] sevaan commented on #697
Yes. Just want to compare the efficacy of this visual compared to say our regular grey bar.

[2018-01-10 16:40] shikhar-scs commented on #697
Ok, I'll try over some designs and post the here

[2018-01-10 18:29] dannycoates commented on #700
The experiment metadata is stored in `localStorage` so once you're in, you're in. The thing that's triggering it here is that changing the device in RDM changes the user agent.

I'd say this is a good find but a wontfix.

[2018-01-10 18:29] #700 closed

[2018-01-11 02:43] shikhar-scs commented on #699
I'm working on it :+1:

[2018-01-11 04:06] shikhar-scs commented on #688
@ehuggett Yeah that's true. I'll work on this and file a PR soon.
Also should I completely remove the password or put an encrypted text in its place ?

[2018-01-11 05:49] dannycoates commented on #688
@shikhar-scs do not work on this yet

[2018-01-11 06:02] shikhar-scs commented on #688
Umm Okay

[2018-01-11 06:09] himanish-star commented on #663
I would like to work on this issue . May I ?

[2018-01-11 06:27] akuckartz commented on #688
That should never have been done.

[2018-01-11 10:11] SoftVision-CosminMuntean commented on #691
We already have a message displayed in the drop area which suggests that you upload files under 1GB for the most reliable operation:
`For the most reliable operation, it’s best to keep your file under 1GB.`

In my opinion we should not restrict uploading files between 1 and 2 GB since there are also users that have better systems and the issue is no reproducible for them.
But, we should also wait

[2018-01-11 10:21] shikhar-scs commented on #691
@SoftVision-CosminMuntean Yep that's true. However, my opinion was meant for the general users

I guess some more stricter warning would do.
So yeah lets wait for the mentors' advice.

[2018-01-11 18:12] dannycoates commented on #663
@himanish-star yes. The way I recommend approaching it is to check `state.route` in `app/routes/index.js` and not render the `fxPromo` if it equals `'/unsupported/:reason'`

[2018-01-11 19:24] dannycoates commented on #688
We store the password locally so that the sender can come back to the page later (after closing the tab) and see the password if they need to and also to allow the password to be changed without manually re-entering the old one.

We take precautions to prevent XSS attacks that could allow a remote attacker to read the local storage. If it can be demonstrated that this is not the case we will chang

[2018-01-11 21:57] #618 closed

[2018-01-12 01:01] himanish-star commented on #663
Ok , Sure I'll keep this in mind while fixing it.

[2018-01-12 01:31] ehuggett commented on #688
Store the authKey instead of the password; it can be used to reset the password in combination with the ownerToken (a change password option).

And increase the number of PBKDF2 rounds when calculating the authKey as its would then be stored with its salt #607

Being able to unmask it before you set it can be useful, but if it can be reset then I don't think it's necessary or even desirable to be

[2018-01-12 04:59] dannycoates commented on #688
@ehuggett what threat are you concerned about wrt having the password in local storage?

[2018-01-12 05:51] shikhar-scs commented on #656
@johngruen If you could be a bit more clear, I could work on this.

[2018-01-12 07:15] dannycoates commented on #656
@shikhar-scs this is more of a Mozilla internal accounting thing, not a code thing.

[2018-01-12 10:04] shikhar-scs commented on #656
Oh :+1:

[2018-01-13 22:50] #663 closed

[2018-01-14 02:04] himanish-star commented on #615
@Softvision-CristinaBadescu , I know what I'm going to ask is very stupid and nothing related to this issue. How is `send` working on `edge` without showing the unsupported page

[2018-01-14 17:01] himanish-star commented on #383
Can I work on this issue ?

[2018-01-15 09:30] shikhar-scs commented on #657
If this issue is still up  may I work on this ? Also, if you could be a bit more clear

[2018-01-15 12:46] Softvision-CristinaBadescu commented on #615
@himanish-star, don't worry, it's not stupid what you're asking. Some months ago, Firefox Send was working in Edge, but something changed and caused this issue. Until this is fixed, it has been decided that the best solution is to display the unsupported browser page.

[2018-01-15 12:55] himanish-star commented on #615
@Softvision-CristinaBadescu , thanks a lot

[2018-01-15 22:39] dannycoates commented on #383
Empty files can no longer be uploaded so this was already fixed at some point.

[2018-01-15 22:39] #383 closed

[2018-01-16 00:38] himanish-star commented on #324
@dannycoates , If this issue is still up, May I work on it ?

[2018-01-16 10:38] Softvision-CristinaBadescu opened #703 "The revealed password font is too small"
[Affected versions]:
- Firefox 57.0.4 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Open the Firefox browser and navigate to https://send.dev.mozaws.net/.
2. Upload a file and select the "Require a password" checkbox.
3. Type something in the password field and click "Add password" button.
4. Hover over the masked password and observe its font.

[Expec

[2018-01-16 14:33] shikhar-scs commented on #703
@Softvision-CristinaBadescu This functionality of masking the password was added by me in #686 .
I had ensured that the font remains the same (you can have a look at the gif files attached there).

However, later [here](https://github.com/mozilla/send/commit/1741b1c6866496e02c8ec4ccf11290e3ca069dc8#diff-46d5644ae6b8906c8a35d46be22427f9) it was chaged to `monospaceFont` by dannycoates( the main mem

[2018-01-16 17:38] nadav123 opened #704 "2 feature requests"
Hi ,

i want to integrate the solution in my portal and to do so i need to make sure the following tasks are applied:

1. Password will be required (not optional) - users have to put in a password to share data.
2. Password will be send in a separate email to the receiver.
3. Minimum Password Length: 6 Characters and complex (with special characters)
4. The ability to obtain logs which contain:

[2018-01-16 18:41] dannycoates commented on #703
I did change the password font on purpose so that the masked password and revealed password take up the same amount of space. It does look a bit to small now so I can bump up the size, but I think it should remain monospaced.

[2018-01-16 19:11] johngruen commented on #476
@dannycoates was there an explicit fix here or did it just kind of go away?

[2018-01-16 19:32] dannycoates commented on #476
It's a long story, but TLDR; With great effort and personal suffering... https://github.com/mozilla/send/blob/master/build/fluent_loader.js

[2018-01-16 19:48] nadav123 commented on #704
Is it posdible to change the password option to a must at least . If so
where?

On 16 Jan 2018 9:00 PM, "Danny Coates" <notifications@github.com> wrote:

[2018-01-16 20:25] dannycoates commented on #704
It is possible, but the current UI makes it awkward since the file is already uploaded and the link is sharable before the password is added. The `app/templates/share.js` file has the UI for the page with the share link and password input. You'd probably want to hide the link until after the password is set. That'd make it more difficult, but not impossible, to share a file without a password. It

[2018-01-16 21:21] #657 closed

[2018-01-16 21:52] #675 closed

[2018-01-17 06:53] axelburks opened #705 "Upload not working on Safari for iOS"
When I upload a file it would say that "A problem occurred with this web page so it was reloaded".

[2018-01-17 09:56] Softvision-CristinaBadescu commented on #703
@shikhar-scs, @dannycoates I'm sorry, somehow I've missed that.

I agree with Danny that we should make the revealed password font bigger so it will be more visible. Considering this, I'm going to edit this issue so that it suits our situation.

[2018-01-17 12:55] nadav123 commented on #704
Do you think its possible to get your assistance and tell me exactly where
to change in the code:

1. hiding / removing the "Require a password to download this file"
checkbox.
2. hiding the link until password is filled?

Thanks so much for your generous help !

On Tue, Jan 16, 2018 at 10:25 PM, Danny Coates <notifications@github.com>
wrote:

[2018-01-17 23:02] dannycoates commented on #705
Thanks for the report @axelburks and sorry it didn't work. It'll help us track down the problem if you can answer as many of these as possible:

- What device this was? (iPhone 6, iPad Pro, etc)
- What version of iOS?
- How big the file was?
- What type of file? (jpeg, video, text)
- Were you uploading on Wifi or cellular?

[2018-01-18 01:59] dannycoates commented on #704
umm, I'm a little busy for a few days, but I'll try to get back to you. Ping me again if I don't reply in a week or so.

[2018-01-18 06:04] axelburks commented on #705
- What device this was? (iPhone 6, iPad Pro, etc)
iPhone X and iPhone 7P
- What version of iOS?
iOS 11.2.2 and 11.2.5b6
- How big the file was?
293M
- What type of file? (jpeg, video, text)
mp4
- Were you uploading on Wifi or cellular?
wifi and cellular

[2018-01-18 06:17] axelburks commented on #705
@dannycoates
And download dosen't work too. When download is complete, it shows the file as unknown file which dosen't have filename and extension name.
![img_5622](https://user-images.githubusercontent.com/11376445/35083337-9c1416c2-fc59-11e7-997a-f3c46e25caaa.PNG)
![photo_2018-01-18_14-13-13](https://user-images.githubusercontent.com/11376445/35083358-bd86f9d2-fc59-11e7-8b4b-e78425b5d630.jpg)

E

[2018-01-18 07:26] nadav123 commented on #704
Thanks a lot danny - your a life saver

On Thu, Jan 18, 2018 at 3:59 AM, Danny Coates <notifications@github.com>
wrote:

[2018-01-18 11:34] lifenautjoe opened #706 "Metadata encryption static initialization vector possible security vulnerability?"
I've noticed [here](https://github.com/mozilla/send/blob/master/app/fileSender.js#L246) that the initialization vector for the metadata encryption is set to an Array of 12 zero's.

Given that ([from Wikipedia](https://en.wikipedia.org/wiki/Block_cipher_mode_of_operation#Initialization_vector_.28IV.29))

Can this in some way pose a risk to the encryption of the data?

I do understand that the same

[2018-01-18 22:10] dannycoates commented on #656
Ok, so the `upload-stopped` and `download-stopped` events that have reason `errored` all look like genuine errors.

Some of them were suspicious because the error was `ProgressEvent` which doesn't seem right for an error. However I found that Chrome will sometimes throw this as an error if it runs out of memory while loading the file with `FileReader`.

[2018-01-18 22:10] #656 closed

[2018-01-19 06:17] dannycoates commented on #324
@himanish-star I think we still have some UX design things to work out before we start writing code

[2018-01-19 07:55] himanish-star commented on #324
Ok,  cool.

[2018-01-19 12:49] TheAdnan commented on #139
Hi, are these issues still open, I'd like to help :)

[2018-01-19 23:07] #653 closed

[2018-01-19 23:08] dannycoates commented on #655
duplicate of #661

[2018-01-19 23:08] #655 closed

[2018-01-20 00:54] #703 closed

[2018-01-21 18:46] ehuggett commented on #688
I don't think a specific threat is relevant, even if you do feel there is no risk of injected JavaScript, plaintext passwords are being written to disk.

[code]

Its worth noting that the plaintext passwords may remain in localStorage for significantly longer than the 24 hour file expiry if the user never returns to Send for them to be "actively" deleted (IIRC localStorage has no configurable expi

[2018-01-21 23:41] ehuggett commented on #706
Yes it would appear so, it also piqued my interest when I first saw it and you seem to have come to the same conclusion; that it's not a problem as its still a unique value.

It also conveniently avoids the need to submit the nonce to the server, have the server store it (etc).

Yes, An attacker would need two different messages encrypted with the same key and nonce.

about 1 in 340282366920938463

[2018-01-22 03:18] shikhar-scs commented on #688
Also, the way I had set it, I realised just now that it also is visible in the inspector (`toggle Ctrl+Shift+I`).

Here is a preview
![screenshot from 2018-01-22 08-46-06](https://user-images.githubusercontent.com/25258877/35203967-f91488a8-ff50-11e7-843f-14e1035652df.png)

[2018-01-22 09:06] lifenautjoe commented on #706
Yes it does!

Thanks! Closing issue now.

[2018-01-22 09:06] #706 closed

[2018-01-22 17:13] dannycoates opened #708 "Refactor CSS"

[2018-01-22 17:14] dannycoates opened #709 "Move crypto documentation from gdocs to repo"

[2018-01-22 17:16] dannycoates opened #710 "Modularize the frontend API code"

[2018-01-22 17:18] dannycoates opened #711 "Create frontend test suite"

[2018-01-22 17:18] dannycoates opened #712 "Create backend test suite"

[2018-01-22 17:19] dannycoates opened #713 "Add code coverage tests"

[2018-01-22 17:19] dannycoates opened #714 "Consider adding types with typescript or flow"

[2018-01-22 17:21] dannycoates opened #715 "Document experiment process"

[2018-01-22 17:22] dannycoates opened #716 "Use fetch API where possible"

[2018-01-22 17:22] dannycoates opened #717 "Ensure dependencies are up to date"

[2018-01-22 17:24] dannycoates opened #718 "Document build process"

[2018-01-22 17:47] dannycoates opened #719 "Update crypto polyfill"

[2018-01-22 17:49] dannycoates opened #720 "Document l10n process"

[2018-01-22 18:37] wresuolc commented on #616
Newer versions of Safari work, I'm going to close this.

[2018-01-22 18:37] #616 closed

[2018-01-22 18:44] wresuolc commented on #705
@SoftVision-PaulOiegas - can softvision try to reproduce this?

[2018-01-22 18:47] wresuolc commented on #442
Closing.  Please re-open if it's reproducible.

[2018-01-22 18:47] #442 closed

[2018-01-22 18:51] wresuolc commented on #435
danny says this is done

[2018-01-22 18:51] #435 closed

[2018-01-22 18:55] wresuolc commented on #98
This exists now

[2018-01-22 18:55] #98 closed

[2018-01-22 18:57] wresuolc commented on #91
@g-k are you still interested in writing a patch for this? :)

[2018-01-23 02:24] #661 closed

[2018-01-23 02:49] himanish-star commented on #597
So can I work on this ?

[2018-01-23 03:51] dannycoates commented on #597
Since this was reported we've changed the nonce behavior to only change after a successful authentication, and added a retry on the frontend for authed requests. I think that's probably enough to consider this issue closed.

[2018-01-23 03:51] #597 closed

[2018-01-23 04:10] dannycoates commented on #688
Thanks for your thoughts @ehuggett, as always. The most compelling parts of your argument (to me) are that 1) people reuse passwords 2) it can reside on disk for an indeterminate amount of time.

Since the password is optional I wonder if we should take that as a signal that the user is willing to trade some convenience features for safety? That'd open the way for not storing the password (and may

[2018-01-23 06:41] himanish-star commented on #597
Ok, @dannycoates. I'll find another one :disappointed:

[2018-01-23 06:43] himanish-star commented on #547
@dannycoates , Can I take over this issue ?

[2018-01-23 09:02] SoftVision-PaulOiegas commented on #705
Summoning @Softvision-MariusComan with his rose gold iPhone to test this and share the results. 😆

[2018-01-23 09:09] g-k commented on #91
@wresuolc I can. Is Send graduating from Testpilot?

[2018-01-23 13:42] Softvision-MariusComan commented on #705
Indeed, the download page UI is not adapting to screen resolution and you need to swipe the page to see it all (no responsive UI). Haven't seen any issues on the upload page however.

Also, I can confirm that the file looses the name after download is finished, but on my end the file type is kept. I don't understand the language in the screenshots to tell for sure if it's the same on my end.
I thi

[2018-01-23 14:05] axelburks commented on #705
@Softvision-MariusComan
About apk files, I know that iOS can not regonize it. I just want to keep the file's name wih the extension name, e.g., "abc.apk".

And please check the upload issue above.

[2018-01-23 15:39] SoftVision-CosminMuntean opened #723 "The download limits menu/the password filed is wrongly dismissed, if you quickly open the download limits menu or set a password"
[Affected versions]:
- Firefox 57.0 and up

[Affected Platforms]:
- All Windows
- All Linux
- All Mac

[Steps to reproduce]:
1. Start the Firefox browser and navigate to "https://send.dev.mozaws.net/" page.
2. Upload a any file.
3. After the page is loaded, quickly click the "1 download" button link.
4. Observe the behavior.

[Expected result]:
- The download limits menu remains opened.

[Actual r

[2018-01-23 15:57] SoftVision-CosminMuntean opened #724 "The download link appears to have "expired" after setting a password"
[Notes]:
- This issue is also reproducible if you don't set a password and you refresh the page multiple times (~5 times).
- If you previously copied the uploaded file link to clipboard, you can observe that the link still works if you navigate to it.

[Affected versions]:
- Firefox 57.0 and up

[Affected Platforms]:
- All Windows
- All Linux
- All Mac

[Steps to reproduce]:
1. Start the Firefox b

[2018-01-23 15:58] SoftVision-CosminMuntean opened #725 "The uploaded files wrongly disappear if you hold "F5" key on Send homepage for a few seconds"
[Notes]:
- I am not sure, but probably is related to issue: #724

[Affected versions]:
- Firefox 57.0 and up

[Affected Platforms]:
- All Windows
- All Linux
- All Mac

[Prerequisites]:
- Have multiple files uploaded.

[Steps to reproduce]:
1. Start the Firefox browser and navigate to "https://send.dev.mozaws.net/" page.
2. Hold "F5" key for a few seconds.
3. Observe the file info table.

[Expecte

[2018-01-23 16:30] wresuolc commented on #91
I think it's going to stay in Test Pilot for the short term.  @johngruen is there a party line for Send graduation?

[2018-01-23 19:17] dannycoates commented on #547
@himanish-star yep!

[2018-01-24 00:08] himanish-star commented on #547
Thanks, but I think @shikhar-scs asked for it first. So if it's okay with @shikhar-scs , only then will I tackle this

[2018-01-24 01:52] vladikoff commented on #139
@TheAdnan Cool! please !

[2018-01-24 02:01] shikhar-scs commented on #547
Thanks @dannycoates . I'll get started with it now and in case I dont manage to, @himanish-star can always take over :+1:

[2018-01-24 02:36] bmintz commented on #91
Isn't the whole point of end to end crypto that users can send whatever they want? How would we tell if people upload malware, short of them sharing the link online? What if a security researcher repeatedly uses the same IP to send samples to a friend? Just my two cents here.