[2019-02-19 17:05] fzzzy opened #1159 "sendBeacon calls need to use the android prefix"
It looks like the calls to sendBeacon are using relative urls, but on android the base href is file:/// so it fails.

[2019-02-19 17:08] johngruen commented on #1157
@6a68 is there a way to suppress this? You're a firefox password manager wizard these days, right?

[2019-02-19 17:17] johngruen opened #1160 "Update Favicon to match new icon"

[2019-02-19 17:38] pdehaan opened #1161 "Update dev+stage URLs in README and contribute.json"
Looks like https://github.com/mozilla/send#testing and the [/public/contribute.json](https://github.com/mozilla/send/blob/d6bfb8b1fdf6d758764c00422c72b2b63162ed05/public/contribute.json#L16-L20) point to some old mozaws.net URLs that were 404ing when I clicked on them.

https://github.com/mozilla/send/blob/d6bfb8b1fdf6d758764c00422c72b2b63162ed05/public/contribute.json#L16-L20

[2019-02-19 18:47] dannycoates commented on #1150
fixed in fd3caa3

[2019-02-19 18:47] #1150 closed

[2019-02-19 18:48] dannycoates commented on #1145
fixed in a42cec9

[2019-02-19 18:48] #1145 closed

[2019-02-19 18:49] dannycoates commented on #1159
fixed in 41bfe31d614039d51343ede6aa01170e371b4b70

[2019-02-19 18:49] #1159 closed

[2019-02-19 19:28] dannycoates commented on #1143
I _think_ this is fixed as of c1df061669cf2c565b90cfbe818ae004a5d5adc7

[2019-02-19 19:28] dannycoates commented on #1083
this should be fixed as of c1df061669cf2c565b90cfbe818ae004a5d5adc7

[2019-02-19 19:28] #1083 closed

[2019-02-19 19:30] dannycoates commented on #1156
I think this is fixed in c1df061669cf2c565b90cfbe818ae004a5d5adc7

[2019-02-19 19:30] #1156 closed

[2019-02-19 21:26] dannycoates commented on #1160
done in 2c27665e39eb03f13a0e6a0ade220aeb1d5f9168

[2019-02-19 21:26] #1160 closed

[2019-02-19 21:28] dannycoates opened #1162 "update twitter and og images"

[2019-02-20 20:00] dannycoates commented on #1157
this might be fixed by 060b6835f1afbd79e5ed0d7a39e2a21589a7047c but I was having trouble reproducing

[2019-02-20 20:16] dannycoates commented on #1157
nevermind, i had save passwords globally disabled

[2019-02-21 00:15] 6a68 commented on #1157
There's no clean, non-hacky way to fix this, until something like `autocomplete="new-password"` is supported. One approach that should work is to shove another non-displayed password input into the page, above the password field of interest, inside the same form (or just higher in the DOM, if there's no outer form element). See, for instance, this SO answer: https://stackoverflow.com/a/29852908

O

[2019-02-21 00:21] dannycoates commented on #1105
fixed as of 2169a49d4cc05bfe317e59abc8470faf1f3d0656

[2019-02-21 00:21] #1105 closed

[2019-02-21 00:53] dannycoates commented on #1103
i tried the underline and _meh_. The text now gets darker on hover but it's subtle. I think it looks fine.

[2019-02-21 04:06] dannycoates commented on #1104
fixed in f0a60d8c8e70ad7855ec64979d4388a556cd2367

[2019-02-21 04:06] #1104 closed

[2019-02-21 09:34] Softvision-AndreeaCupsa commented on #1083
I have verified this issue and is no longer reproducible with the latest build (org.mozilla.sendandroid-2019-02-20-release-signed.apk) on Samsung S8, Huawei P20 Lite and Google Pixel(Android 8.0)

[2019-02-21 09:36] Softvision-AndreeaCupsa commented on #1105
I have verified this issue and is no longer reproducible on the https://send2.dev.lcip.org website, on Windows 10 x64, Mac 10.14 and Arch Linux.

[2019-02-21 09:40] Softvision-AndreeaCupsa commented on #1150
I have verified this issue and is no longer reproducible, now both the Send Android application and the https://send2.dev.lcip.org website have the same file limitation.

[2019-02-21 09:50] Softvision-AndreeaCupsa commented on #1145
I have verified this issue and is no longer reproducible with the latest build (org.mozilla.sendandroid-2019-02-20-release-signed.apk) on Samsung S8, Huawei P20 Lite and Google Pixel(Android 8.0).

[2019-02-21 09:55] Softvision-AndreeaCupsa commented on #1143
I have verified this issue and is still reproducible with the latest build (org.mozilla.sendandroid-2019-02-20-release-signed.apk) on Samsung S8, Huawei P20 Lite and Google Pixel(Android 8.0).

Considering this I will reopen this issue.

[2019-02-21 11:47] Softvision-AndreeaCupsa commented on #1104
I have verified this issue and is no longer reproducible on the https://send2.dev.lcip.org website, on Windows 10 x64, Mac 10.14 and Arch Linux.

[2019-02-21 11:48] fzzzy commented on #1143
That's odd. It's fixed on my s8. Will investigate further.

[2019-02-21 11:48] Softvision-AndreeaCupsa opened #1163 "[Send 2] The “Download” button from the uploaded card does not have a tooltip"
**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Affected Versions]:**
- Firefox 65 and up

**[Steps to reproduce]:**
1. Open the Firefox browser and navigate to the https://send2.dev.lcip.org website.
2. Upload one file.
3. Hover the “Download” button from the uploaded card and observe its behavior.

**[Expected result]:**
- The button has a tooltip.

**[Actual result]:**
- No to

[2019-02-21 12:17] Softvision-AndreeaCupsa commented on #1143
What Android version do you have on your device? We didn't update our Samsung S8 to Android 9, so it's still on Android 8.0.0.

[2019-02-21 12:50] fzzzy commented on #1143
8.0.0.

[2019-02-21 13:19] fzzzy commented on #1157
Personally I think yanking the password out and changing the input type is perfectly fine. We never send the password to the server.

[2019-02-21 15:35] Softvision-AndreeaCupsa opened #1164 "[Android] Uploading files takes increasingly more time as more files are uploaded"
**[Notes]:**
- The upload time increases once with the number of previously uploaded files.
- Uploading a file of 50MB with no previously uploaded files takes ~1:00, but uploading the same file after files 450MB were uploaded takes ~1:40.

**[Affected Platforms]:**
- Android 8.0.0 (Samsung S8, Huawei P20 Lite, Google Pixel)

**[Prerequisites]:**
- Have the latest Send Android application (org.mozi

[2019-02-21 17:26] dannycoates commented on #1163
fixed in 6fd3019. i missed this on cuz its a link not a button

[2019-02-21 17:26] #1163 closed

[2019-02-21 23:42] dannycoates commented on #1065
accounts are still not working with edge so i've disable them for now but the rest should work as of 694e05f

[2019-02-22 08:41] Softvision-AndreeaCupsa commented on #1163
I have verified this issue and is no longer reproducible on the https://send2.dev.lcip.org website, on Windows 10 x64, Mac 10.14 and Arch Linux.

[2019-02-22 11:23] Softvision-AndreeaCupsa opened #1165 "[Send2] The “Private, Encrypted File Sharing” title is cut off when the browser is resized vertically"
**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Affected Version]:**
- Firefox 65 and up

**[Steps to reproduce]:**
1. Open the Firefox browser and navigate to https://send2.dev.lcip.org.
2. Resize the browser vertically to ½ size.
3. Observe the “Private, Encrypted File Sharing” title from the right part of the center of the page.

**[Expected result]:**
- The “Private, Encrypte

[2019-02-22 15:30] jatinkumarg commented on #1161
Hey, can I update the links?

[2019-02-22 18:14] johngruen commented on #1161
@jatinkumarg we don't know them yet

[2019-02-22 20:10] #1165 closed

[2019-02-22 23:09] dannycoates commented on #1139
@fzzzy the base64 encoding only applies to intent triggered files, right? So if it's also slow for files added from the 'add files' button then the slowness is all within the webview.

[2019-02-25 01:57] fzzzy commented on #1139
@dannycoates good point! my main guess at the moment is that the cryptofill is being used because the webview doesn't have some api, or because the user agent is set to "send android"

[2019-02-25 08:34] Softvision-AndreeaCupsa commented on #1165
I have verified this issue and is no longer reproducible on the https://send2.dev.lcip.org website, on Windows 10 x64, Mac 10.14 and Arch Linux.

[2019-02-25 19:23] hoosteeno opened #1169 "Learn More link goes to Test Pilot EOL message"
The learn more link on send.firefox.com takes visitors to the send page on Test Pilot. However, the send page on Test Pilot redirects to the EOL message for Test Pilot.

The learn more link should link to information that helps visitors learn more about Send.

[2019-02-25 19:55] dannycoates commented on #1065
some ui issues remain but Edge should be fully functional as of cccc1a5

[2019-02-25 19:55] #1065 closed

[2019-02-25 20:21] dannycoates commented on #1139
android can't be loading the crypto polyfill because it never calls `getCapabilities()`

[2019-02-25 23:53] dannycoates opened #1170 "Large file notice"
Only Firefox and Chrome truly support streaming downloads right now. This means there's a pretty good chance downloading a big file will fail on Safari and Edge.

We should inform Safari and Edge users downloading big files that Firefox or Chrome are better options on the download page before they click the download button. The detection logic is already in place, we just need a message and ui tre

[2019-02-26 12:47] Softvision-AndreeaCupsa opened #1171 "[Android] White spaces are wrongly displayed in the bottom corners of the screen"
**[Affected Platforms]:**
- Android 8 [Samsung S8, Huawei P20 Lite, Google Pixel]

**[Prerequisites]:**
- Have the latest Send Android application (org.mozilla.sendandroid-2019-02-20-release-signed.apk) installed on the device.

**[Steps to reproduce]:**
1. Open the Send Android application.
2. Tap the “Add file(s)” button and select one file.
3. Observe the “Upload” button.

**[Expected result]:*

[2019-02-27 14:04] #1103 closed

[2019-02-28 01:37] fzzzy opened #1174 "[Android] Lanching app while offline shows white screen"
Since the app is not useful without an internet connection, we should just tell the user that they are offline.

[2019-02-28 10:23] Softvision-PatriciuPop commented on #1065
I have verified this issue and is no longer reproducible on the https://send2.dev.lcip.org website, on Windows 10 x64.

[2019-02-28 10:30] Softvision-PatriciuPop commented on #1103
I have verified this issue and is no longer reproducible on the https://send2.dev.lcip.org website, on Windows 10 x64, Mac 10.14 and Ubuntu 18.04.

[2019-02-28 17:26] dannycoates opened #1177 "Android Icon"
Android needs an app icon for the home screen

[2019-02-28 18:08] dannycoates opened #1178 "Fix auth on iOS as PWA"
On iOS when running as a PWA signing in opens fxa in a separate window causing auth to fail in the PWA window.

[2019-02-28 20:33] dannycoates commented on #1177
done in eddabac

[2019-02-28 20:33] #1177 closed

[2019-03-01 02:45] dannycoates commented on #1170
done in #1175

[2019-03-01 02:45] #1170 closed

[2019-03-01 09:48] johngruen commented on #967
It looks like we have our R+ here

[2019-03-01 10:54] johngruen commented on #967
@clouserw can you verify and close this?

[2019-03-02 04:58] #903 closed

[2019-03-02 04:58] #1162 closed

[2019-03-02 18:22] jowy commented on #1149
I just ran in to this. It appears that the file is being removed immediately after the upload request has complete [here](https://github.com/mozilla/send/blob/befbd8c1c59728ddf868d81de40ddbf4614279dd/server/routes/upload.js#L46). Is this intentional? Should this be a failure mode instead?

[2019-03-02 18:40] jowy commented on #1149
Just realized this is to catch aborted requests (e.g. cancel button on web ui) but both `close` and `aborted` events always appear to be firing upon successful request. Digging in to this further.

[2019-03-02 19:07] jowy commented on #1149
This `close` event issue does not seem to affect node `<= v8.15.1`. It appears to start at node `v9`

It appears that specifically the `aborted` event always firing started sometime in `node v11` and was resolved in node `v11.10.1` (https://github.com/nodejs/node/commit/1980a36dd45997e9dee03fe11688319c2f5c3644#diff-e3bc37430eb078ccbafe3aa3b570c91a)[here]. The `close` event still seems to always be

[2019-03-03 16:52] jowy commented on #1097
Should be resolved by PR https://github.com/mozilla/send/pull/1184

[2019-03-04 15:39] clouserw commented on #967
Looks good.  I closed the bug

[2019-03-04 15:39] #967 closed

[2019-03-04 15:50] SoftVision-CosminMuntean commented on #1164
I have retested this issue using the latest Android Send version (org.mozilla.sendandroid-2019-03-01-release-signed.apk) and the issue is still reproducible. The upload time increases once with the number of previously uploaded files.

Here are the testing results:
- On Google Pixel (Android 8.0.0) the first file (50 Mb) took ~1m15s to be uploaded. The same file uploaded 10th time took ~1m50s to b

[2019-03-04 15:51] SoftVision-CosminMuntean commented on #1139
I have retested this issue using the latest Android Send version (org.mozilla.sendandroid-2019-03-01-release-signed.apk) compared with the Send v2 website by uploading a **100 Mb file**. Unfortunately I haven't observed any noticeable improvements. Here are the results:

- On Send v2 websites took: ~20 seconds
- On Samsung S8 (Android 8.0.0) took: ~ 2m and 10s
- On Google Pixel (Android 8.0.0) too

[2019-03-04 15:55] fzzzy commented on #1139
@SoftVision-CosminMuntean Are you testing uploading with the Chrome browser on the same android device you are testing the app on? Because I am not seeing any of that behavior on my S8.

[2019-03-04 16:10] SoftVision-CosminMuntean commented on #1139
@fzzzy I have tested with Firefox 65.0.1 browser on the same Android device where the app is installed.

However, I just verified on Chrome browser on the same Android device and it seems that 100Mb file takes ~3m10s to be uploaded and on Firefox browser only ~20s.

[2019-03-04 16:20] fzzzy commented on #1139
@SoftVision-CosminMuntean Ok, great, that is very good news. That means switching to GeckoView will most likely fix this. However, there are no engineers on the project at the moment, as I am starting on rust-components today. If Send becomes a priority again and engineers are assigned to the project, there is a clear path to speeding it up.

[2019-03-04 20:09] johngruen commented on #1143
@Softvision-AndreeaCupsa does this still repro on the latest build

[2019-03-04 20:24] stealthanthrax opened #1187 "To add an ability to copy link by clicking on the text box"
To add an ability to copy the link by clicking on the text-box

<img width="1096" alt="screenshot 2019-03-05 at 1 52 10 am" src="https://user-images.githubusercontent.com/29942790/53760681-9f27d280-3ee9-11e9-8178-e49e9ac4881c.png">

If the feature request is approved, I would like to work on this.

[2019-03-04 23:44] #949 closed

[2019-03-04 23:44] #1124 closed

[2019-03-04 23:58] dannycoates commented on #1169
Thanks for the report. We'll be releasing a new version that'll remove the link to Test Pilot soon.

[2019-03-04 23:58] #1169 closed

[2019-03-04 23:59] dannycoates commented on #1178
I read somewhere that iOS 12.2 will fix this

[2019-03-05 10:06] stealthanthrax commented on #1187
@dannycoates @abhinadduri , can I implement this feature

[2019-03-05 12:37] SoftVision-CosminMuntean commented on #1143
I have retested this issue using the latest Android Send version (org.mozilla.sendandroid-2019-03-01-release-signed.apk) and the issue is still reproducible.
But, it seems that is more visible if you try to add more then 15 files.

Here are two screenshots of the issue with 20 files added:
Samsung S8 (Android 8.0.0):
![screenshot_20190305-120119_send android](https://user-images.githubusercontent.

[2019-03-05 12:37] fzzzy commented on #1187
@stealthanthrax Why copy when clicking on the text box and not the copy button? Seems unexpected.

[2019-03-05 13:57] SoftVision-CosminMuntean opened #1189 "[Send 2] The "Feedback" button wrongly redirects to an incomplete "Feedback" page"
[Notes]:
- Probably the survey is not yet finalized, but I have logged this issue for tracking purpose.

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Affected Versions]:**
- Firefox 65 and up

**[Steps to reproduce]:**
1. Open the Firefox browser and navigate to "https://send2.dev.lcip.org/" website.
2. Click the "Feedback" button from the footer of the page.
3. Observe the "F

[2019-03-05 16:51] clouserw opened #1191 "Pass incoming utm parameters through"
There's going to be a marketing campaign behind the new Send launch and we'd like to know which ones are successful.  They'll be coming in with utm parameters (eg. a link in an email), and we should pass those incoming utm parameters to amplitude.

[2019-03-05 18:18] johngruen commented on #1191
Part one is capture UTMs on inbound client visit events
client_visit
event_properties -> 5x UTM params and referrer

Part two is send them to FxA
https://mozilla.github.io/application-services/docs/accounts/metrics.html
to fxa we should send
entry = `send-{something}`
form_type = `email`
5x UTM if avail

[2019-03-05 18:25] johngruen commented on #1171
@Softvision-AndreeaCupsa can you verify and close?

[2019-03-05 21:39] dannycoates commented on #1191
done as of e7b881e9752e989a9348a2c7052eb7f71efd766c

[2019-03-05 21:39] #1191 closed

[2019-03-05 22:29] dannycoates commented on #1143
thanks @SoftVision-CosminMuntean adding a bunch of files helped me reproduce. fixed in d25c411

[2019-03-05 22:29] #1143 closed

[2019-03-06 08:06] Softvision-AndreeaCupsa commented on #1171
I have verified this issue and is no longer reproducible with the latest Send Android build (org.mozilla.sendandroid-2019-03-01-release-signed.apk) on Samsung S8, Google Pixel, and Huawei P20 Lite.

Considering this I will close this issue.

[2019-03-06 08:06] #1171 closed

[2019-03-06 09:51] SoftVision-CosminMuntean opened #1192 "[Send v2] The Privacy page is not opened when clicking the "Privacy" link"
*[Affected Platforms]:*
- All Windows
- All Mac
- All Linux

*[Affected Versions]:*
- Firefox 65 and up

*[Steps to reproduce]:*
1. Open the Firefox browser and navigate to "https://send2.dev.lcip.org/" website.
2. Click the "Privacy" link from the footer of the page.
3. Observe the behaviour.

*[Expected result]:*
- You are successfully redirected to the Privacy page.

*[Actual result]:*
- The Pr

[2019-03-06 12:21] Softvision-AndreeaCupsa opened #1193 "[Send2] Files of exactly 1GB can wrongly be added while you are not logged into FxA"
**[Notes]:**
- If you try to upload the file, it will remain stuck at 100% progress and you can not cancel the upload.

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Affected Version]:**
- Firefox 65 and up

**[Prerequisites]:**
- Have a file of exactly 1GB saved to your PC.

**[Steps to reproduce]:**
1. Open the Firefox browser and navigate to https://send2.dev.lcip.org.
2. Ad

[2019-03-06 12:22] stealthanthrax commented on #1187
@fzzzy , it is because the text box is almost un-interactive and adding this feature will add value to the text-box. I am not suggesting to remove the copy button, just to add the ability in the textbox as well. Many modern websites have this feature.

[2019-03-06 12:29] Softvision-AndreeaCupsa opened #1194 "[Android] The “Cancel” button is no longer displayed while the file is uploading"
**[Affected Platforms]:**
- Android 8 [Samsung S8, Huawei P20 Lite, Google Pixel]

**[Prerequisites]:**
- Have the latest Send Android application (org.mozilla.sendandroid-2019-03-01-release-signed.apk) installed on the device.

**[Steps to reproduce]:**
1. Open the Send Android application.
2. Tap the “Add file(s)” button and select a file of minimum 5MB.
3. Tap the “Upload” button and observe th

[2019-03-06 16:53] dannycoates commented on #1194
this ought to be fixed on android in the next build

[2019-03-06 17:08] Softvision-RemusDranca opened #1195 "[Android] The password is wrongly kept for the next added file after the previous file was removed"
**[Affected Platforms]:**
- Android 8 [Samsung S8 and Google Pixel]

**[Prerequisites]:**
- Have the latest Send Android application (org.mozilla.sendandroid-2019-03-01-release-signed.apk) installed on the device.
- Have a file added to be uploaded.

**[Steps to reproduce]:**
1. Open the Send Android application with the added file from prerequisites.
2. Tap the "Protect with password" string and

[2019-03-06 17:12] MikkCZ opened #1196 "[L10N] dragAndDropFiles and orClickWithSize should be a single string"
In `send.ftl` I have found two strings `dragAndDropFiles` (_Drag and drop files_) and `orClickWithSize` (_or click to send up to { $size }_). Their split is really unfortunate at least for Czech and I believe for some other languages too. To have a meaningful translation, Czech requires to have the size in the first part of the sentence.

Is there any special reason to have the string split at all

[2019-03-06 18:02] flodolo commented on #1196
I thought the same, but the amount of code around those strings is not irrelevant (they're in 2 different DIVs, it's not just a line break).

Can you give an example of the translation you would ideally have in Czech?

[2019-03-06 18:33] dannycoates commented on #1193
fixed in 7f9674f

[2019-03-06 18:33] #1193 closed

[2019-03-06 18:46] dannycoates commented on #1195
fixed in fb9f354

[2019-03-06 18:46] #1195 closed

[2019-03-06 18:51] MikkCZ commented on #1196
The whole sentence would be _Pro nahrání až { $size } velkého souboru zde klepněte myší nebo ho sem přesuňte_.

Or if this is actually not a sentence, but rather visually two distinct texts, I can adjust the strings to look similar to what is currently in production:
_To start upload file click or drag&drop here_
_max. supported size { $size }_

[2019-03-06 19:02] dannycoates commented on #1196
The english strings can be seen on https://send2.dev.lcip.org

If there's a way to split the sentence that looks ok in that format then it can be split however you choose. Otherwise I'd suggest splitting it something like this:

[code]

[2019-03-07 11:47] Softvision-AndreeaCupsa commented on #1193
I have verified this issue and is no longer reproducible on the https://send2.dev.lcip.org website on Windows 10 x64, Mac 10.14 and Arch Linux.

[2019-03-07 12:27] Softvision-AndreeaCupsa opened #1199 "[Android] You can no longer log into Firefox Accounts on the latest Send for Android build"
**[Affected Platforms]:**
- Android 8 [Samsung S8, Huawei P20 Lite, Google Pixel]

**[Prerequisites]:**
- Have the latest Send Android application (org.mozilla.sendandroid-2019-03-01-release-signed.apk) installed on the device.

**[Steps to reproduce]:**
1. Open the Send Android application.
2. Tap the “Sign In/Up” button and then tap the “Sign In/Up” from the overlay.
3. Enter a valid Firefox acc

[2019-03-07 12:28] Softvision-RemusDranca opened #1200 "[Android] The strings from the edge of the card are not entirely displayed if the uploaded files have a long name"
**[Affected Platforms]:**
- Android 8 [Samsung S8 and Google Pixel]

**[Prerequisites]:**
- Have the latest Send Android application (org.mozilla.sendandroid-2019-03-01-release-signed.apk) installed on the device.
- Have 2 or more files with long names ready to be uploaded.

**[Steps to reproduce]:**
1. Open the Send Android application with the added file from prerequisites.
2. Tap the "Upload" b

[2019-03-07 14:37] johngruen commented on #1196
@MikkCZ i think your suggestion to split into multiple segments works. For the time being we can add some more context to the comments in the FTL. We're also working to get the new version up on master so it is visible in pontoon

[2019-03-07 14:40] johngruen commented on #1192
@SoftVision-CosminMuntean i believe this was caused by us leaving the legal strings out of localization...we're adding them as en-only in html for now while we wait on legal to localize them for us. This pr should resolve https://github.com/mozilla/send/pull/1201

[2019-03-07 15:50] johngruen opened #1203 "Update Launcher Icons"
Provided by Stephen Horlander

From email:
I pulled together all of the assets needed for the Launcher icon based on this documentation: https://developer.android.com/guide/practices/ui_guidelines/icon_design_adaptive.html

This includes a foreground (ic_launcher_foreground) and background (ic_launcher_background). The background is just a solid color though, so if we can use a color and not an im

[2019-03-07 18:07] flodolo opened #1204 "Layout is broken with longer translations"
<img width="1049" alt="schermata 2019-03-07 alle 19 06 37" src="https://user-images.githubusercontent.com/3644868/53978710-366c7000-410c-11e9-8fad-80d9e9168450.png">

Italian translation ^^

[2019-03-07 18:09] flodolo opened #1205 "Stop using CSS rules to change case"
The first line uses a `capitalize` rule that completely messes up the text for Italian

<img width="295" alt="schermata 2019-03-07 alle 19 06 37" src="https://user-images.githubusercontent.com/3644868/53978848-7d5a6580-410c-11e9-9d47-978e422719ff.png">

Such CSS rules should be avoided, or applied only to en-US

[2019-03-07 18:58] #1204 closed

[2019-03-07 18:58] #1205 closed

[2019-03-07 19:52] pdehaan commented on #1204
Not sure if this would have caught the above issue, but I wrote a quick+dirty Puppeteer scraper for all the current `availableLocales` from the ./package.json file (which I assume is for the **master** branch and not specific to these new V2 strings).

https://github.com/pdehaan/send-puppeteer

But, it did catch a rogue, untranslated `-send-brand` string in the "fr" locale:

![](https://github.com

[2019-03-07 20:00] flodolo commented on #1204
That's expected, because the string is [translated](https://pontoon.mozilla.org/fr/test-pilot-firefox-send/send.ftl/?string=196265), but the [term](https://pontoon.mozilla.org/fr/test-pilot-firefox-send/send.ftl/?string=196268) is not (yet). Fluent falls back to the ID in case a string is missing.

[2019-03-07 20:22] dannycoates commented on #1204
@flodolo do terms not fall back to default locale?

[2019-03-07 20:24] dannycoates commented on #1192
fixed

[2019-03-07 20:24] #1192 closed

[2019-03-07 20:25] flodolo commented on #1204
No, a missing message would fall back to English, but we don't throw away a translate message because it references another missing message or term (also, not sure that can be done in a decent way performance-wise, but I'm not really a developer).

[2019-03-07 21:21] pdehaan opened #1206 "Missing spaces around links in legal page"
Ref: #1201

Interestingly, the text isn't selectable (not sure if that's on purpose). But I also noticed that we're missing some spaces around some `<a>` tags. Plus, we should probably make the links more obvious since they currently just kind of disappear into the text.

![firefox_send](https://user-images.githubusercontent.com/557895/53989648-4ae44480-40db-11e9-8ae1-8d40065bfeac.png)

[2019-03-07 23:25] #1206 closed

[2019-03-08 00:00] pdehaan commented on #1206
Is the plan to leave the legal docs as HTML in this repo? Or is the goal to migrate these docs into https://github.com/mozilla/legal-docs and convert to Markdown?

[2019-03-08 01:04] #1161 closed

[2019-03-08 06:57] dannycoates opened #1207 "Delete unused images from assets"

[2019-03-08 08:50] Softvision-RemusDranca commented on #1195
I have verified this issue and is no longer reproducible with the latest build (org.mozilla.sendandroid-2019-03-07-release-signed.apk) on Samsung S8 and Google Pixel (Android 8.0).

[2019-03-08 09:28] Softvision-AndreeaCupsa commented on #1194
I have verified this issue and is no longer reproducible with the latest Send Android build (org.mozilla.sendandroid-2019-03-07-release-signed.apk) on Samsung S8, Google Pixel, and Huawei P20 Lite.

Considering this I will close this issue.

[2019-03-08 09:28] #1194 closed

[2019-03-08 09:32] Softvision-AndreeaCupsa commented on #1192
I have verified this issue and is no longer reproducible on the https://send2.dev.lcip.org on Windows 10 x64, Mac 10.14 and Arch Linux.

[2019-03-08 16:50] johngruen commented on #1199
can repro on latest APK

[2019-03-08 18:16] dannycoates commented on #1207
done

[2019-03-08 18:16] #1207 closed

[2019-03-08 18:17] #1199 closed

[2019-03-09 00:04] fzzzy opened #1210 "Make a new build with login fixes"

[2019-03-09 00:33] dannycoates commented on #1203
done in 7c0f227f

[2019-03-09 00:33] #1203 closed

[2019-03-09 11:50] fzzzy commented on #1210
org.mozilla.sendandroid-2019-03-08-release-signed.apk

[2019-03-09 11:50] #1210 closed

[2019-03-10 20:47] flodolo opened #1211 "Make size fully localizable"
As noted in the review for vnext, we should assume that `(number)(unit)` without a space would work for all languages. We should make it localizable, and possibly make also the unit localizables.

[2019-03-11 09:48] flodolo commented on #1211
French, for example, would need this.

[2019-03-11 12:21] Softvision-AndreeaCupsa opened #1212 "[Android] The Firefox logo is not fully visible on the “Create a Firefox Account” overlay after it was displayed once"
**[Affected Platforms]:**
- Android 8 [Samsung S8, Huawei P20 Lite, Google Pixel]

**[Prerequisites]:**
- Have the latest Send Android application (org.mozilla.sendandroid-2019-03-08-release-signed.apk) installed on the device.

**[Steps to reproduce]:**
1. Open the Send Android application.
2. Tap the “Sign in/up” button and then dismiss the overlay.
3. Tap the “Sign in/up” button again and obser

[2019-03-11 15:54] Softvision-AndreeaCupsa commented on #1199
I have verified this issue and is no longer reproducible with the latest Send Android build (org.mozilla.sendandroid-2019-03-08-release-signed.apk) on Samsung S8, Google Pixel, and Huawei P20 Lite.

[2019-03-11 19:03] dannycoates commented on #1211
something like?
[code]

[2019-03-11 19:43] flodolo commented on #1211
Exactly

[2019-03-12 12:21] johngruen commented on #1189
fixed

[2019-03-12 12:21] #1189 closed

[2019-03-12 12:54] Softvision-AndreeaCupsa commented on #1189
I have verified this issue and is no longer reproducible on the https://send2.dev.lcip.org website on Windows 10 x64, Arch Linux, Mac 10.14.3

[2019-03-12 13:43] clouserw opened #1214 "Update privacy notice"
Please replace the text at https://send.firefox.com/legal with the content at https://docs.google.com/document/d/1I8WZbOg2qmkgOIq37UaZHpHDmY-WWTbjL4_-qd9x0vk/edit#

[2019-03-12 14:53] #1214 closed

[2019-03-12 15:10] Fanolian commented on #1120
I cannot paste my email on the field on either https://send2.dev.lcip.org/ or https://send.firefox.com/ using Nightly 2019-03-12 (new profile) or Chrome 72 (guest account). Edge on Win1809 is not affected though.

[2019-03-12 15:15] irfnhm opened #1215 "Unable to make the project on Ubuntu 18.10"
When I hit run, the following error is thrown.
`Process 'command './buildAssets.sh'' finished with non-zero exit value 1`

[2019-03-12 15:29] dannycoates commented on #1215
Before you can build the Android app, you'll need to have nodejs v10 and run: `npm install` from the base directory.

[2019-03-12 15:38] dannycoates commented on #1120
Thanks @Fanolian. This will be fixed in our next release.

[2019-03-12 18:02] clouserw opened #1217 "Let's document a release process"
Up until now we've based our release process on Test Pilot (https://github.com/mozilla/testpilot/blob/master/docs/development/deployment.md#deploy-production ).  Let's make that more official by adding release process documentation to this repository.

[2019-03-12 18:04] pdehaan opened #1218 "Unparsed $size variable in Turkish/tr translation"
![send-puppeteer_README_md_at_master_·_pdehaan_send-puppeteer](https://user-images.githubusercontent.com/557895/54224107-134c1280-44b6-11e9-87f7-5ac608b32019.png)

**Figure 1:** https://github.com/pdehaan/send-puppeteer/blob/master/README.md#tr

---

I'm not sure what the Turkish string says, but I don't see a matching `{ $size }` string in the reference en-US locale:

## tr
https://github.com/moz

[2019-03-12 18:07] Regaddi opened #1219 "Horizontal scrollbar on Firefox for Android"
Hey,

the website send.firefox.com seems to have an unintended horizontal scrollbar on my Firefox for Android (Huawei P20 with Android 9).

Video attached.

![ezgif-2-f588bf372239](https://user-images.githubusercontent.com/1336590/54224581-1a950f80-44fa-11e9-82ac-33b2c7e2b5e3.gif)

[2019-03-12 18:15] dannycoates commented on #1219
Thanks @Regaddi

[2019-03-12 18:16] dannycoates commented on #1218
hmm, yeah that's not going to work :(

[2019-03-12 18:17] flodolo commented on #1218
@selimsumlu
In the meantime I've [approved the other suggestion](https://pontoon.mozilla.org/tr/test-pilot-firefox-send/send.ftl/?search=dragAndDropFiles&string=196271), not sure what happened here? Looks like you had the translation for `Sign in to send up to { $size }` in this string.

[2019-03-12 18:22] rrroyal opened #1221 "Can't build on Debian with Node v.11.11.0"
I'm trying to start the server on Debian 9 host with Node v.11.11.0, but I can't get it working.

**Console output:**
[code]

**Log file:**
[code]

[2019-03-12 18:29] dannycoates commented on #1221
we only support node v10.x right now

[2019-03-12 18:34] selimsumlu commented on #1218
The problem is splitting a sentence into two seperate strings and requiring a variable to be in the 2nd string. I need to use that in the 1st string for Turkish.

The full sentence needs to be
[code]
or even better
[code]
If we can't come up with a solution, I'll rephrase the sentence but it will be worse than ideal.

[2019-03-12 18:36] flodolo commented on #1218
Sorry, I completely missed that's the string. Right now, the only way it to localize it like two separate strings.
https://github.com/mozilla/send/issues/1196

[2019-03-12 18:38] rrroyal commented on #1221
Unfortunately, the same issue occurs with Node v10.15.3.

`$ sudo npm start` outputs:
[code]

[2019-03-12 18:47] selimsumlu commented on #1218
OK, I've submitted an update on Pontoon.

[2019-03-12 18:57] isagalaev opened #1222 "Permission problem for ServiceWorker"
Getting this error from the main page:

[code]

Using Firefox 65 in normal non-private mode on Ubuntu with the strict content blocking policy (although I don't believe it's causing the problem). It may be caused by some leftover setting in my ancient user profile but I have no idea where to look. Any pointers?

[2019-03-12 19:18] dannycoates commented on #1221
what do `npm -v` and `npm ls webcrypto-core` say?

[2019-03-12 19:19] dannycoates commented on #1218
thank you @selimsumlu :)

[2019-03-12 19:36] pdehaan opened #1223 "Signing in w/ FxA account tells me I'm ready to use Firefox Send (beta)"
Not sure if we still need the "beta" qualifier, or if we should update that in FxA or something.

![Sign-in_confirmed](https://user-images.githubusercontent.com/557895/54230239-4517a600-44c3-11e9-8614-ce51773d2c28.png)

[2019-03-12 19:38] pdehaan commented on #1223
Actually, I think i was on send2, not on production. Closing.

[2019-03-12 19:38] #1223 closed

[2019-03-12 20:26] jondb commented on #677
Text from clipboard in action. We use this a lot more than files. Https://send.blend.com

Originally Pull #573

[2019-03-12 20:36] #1219 closed

[2019-03-12 21:13] rrroyal commented on #1221
$ npm -v
6.9.0

$ ls webcrypto-core
build  package.json  README.md

[2019-03-12 21:15] rrroyal commented on #1221
`$ npm -v`
6.9.0

`$ ls webcrypto-core`
build package.json README.md

[2019-03-12 21:32] dannycoates commented on #1221
we're still on npm 6.4.1 but I'll try a fresh clone with 6.9.0 later today. I suspect that's the problem. In the meantime you could try adding this line to `package.json` "dependencies" section:
[code]

[2019-03-12 21:51] rrroyal commented on #1221
Unfortunately, this still haven't fixed the problem 😕

[code]

[code]

[code]

[2019-03-12 22:07] valerysntx opened #1224 "File Download Cancellation Issue"
https://github.com/mozilla/send/blob/0371f1906ab2c1761fa83a6c49ba54cf991e86a9/app/serviceWorker.js#L59

![send serviceworker downloadcancel issue](https://user-images.githubusercontent.com/4194553/54239425-d0c11f00-4523-11e9-8828-d28b41725f82.png)

[2019-03-12 22:31] VladimirDev93 opened #1225 "Add public API endpoints"
Hi,

Have you considered to create a public API endpoint(s) for developers?

[2019-03-12 23:21] aibaraiduas opened #1226 "Page unusable with "Delete cookies and site data when Firefox is closed" preference"
If the "Delete cookies and site data when Firefox is closed" box is checked in Firefox's preferences (Privacy & Security -> Cookies and Site Data), the send page (send.firefox.com) fails to properly load and it unusable. Currently using Firefox 65.0.1.

![Screenshot from 2019-03-12 19-10-34](https://user-images.githubusercontent.com/5825551/54242614-a0fe2100-44fb-11e9-9131-e26dcbe0bd2e.png)

I've

[2019-03-13 01:04] cardassian-tailor opened #1228 "Firefox account ?"
There's no verbiage on the site, and I cant tell if a "firefox send" account different than the SSO thats associated with sync, lockbox, and Pocket.

Can anyone elaborate here?

[2019-03-13 01:05] #1228 closed

[2019-03-13 01:05] cardassian-tailor commented on #1228
clicking the sign in button makes references to firefox account, so I assume its the same thing.

[2019-03-13 01:34] dannycoates commented on #1228
yes, they are the same.

[2019-03-13 03:54] #1226 closed

[2019-03-13 03:57] dannycoates commented on #1226
Thanks for the report @aibaraiduas. The fix for this will go out in our next release. The download experience will be degraded, i.e. large files may not work as well, but the site should be usable.

[2019-03-13 04:06] dannycoates commented on #1224
Thanks for the report @valerysntx we're looking for a solution

[2019-03-13 04:49] #1211 closed

[2019-03-13 06:24] dannycoates commented on #1221
I can't reproduce this with a fresh checkout on a new vm. I don't know why the webcrypto-core module isn't working for you. Is it possible you don't have `git` installed?

[2019-03-13 09:12] rrroyal commented on #1221
I have installled git version 2.11.0 ://

Will try to fix my issue and comment what i've done to fix it for others. Thank You anyway!

[2019-03-13 12:18] MagicFab commented on #979
This third party command line application implements it:

https://github.com/timvisee/ffsend

[2019-03-13 12:37] turboscholz opened #1232 "Upload on Windows to send.firefox.com does not work"
When I drag and drop a jpg from Windows Explorer into the Firefox window where https://send.firefox.com/ is opened, the image is just opened in the same browser tab and the URL is changed, pointing to my local jpg file (file://...) in the browser search bar.

Instead of this I would have expected that the image is uploaded and I would receive the link which I can use to share the image with my pee

[2019-03-13 12:56] SoftVision-PaulOiegas commented on #1226
hey @dannycoates, this issue intrigued me a bit because the option says "... when Firefox is closed". So if I have send loaded in one tab, and I check this option, after I refresh the page Send gets instantly broken. So checking the option changes something that instantly breaks Send, not only at browser close.

Found out what pref is modified by this option ("network.cookie.lifetimePolicy" gets v

[2019-03-13 13:10] aravindhsampath opened #1233 "Make UI customisable and document how-to"
Thanks for this open source project, and it looks great!

I can imagine running this ourselves(in our network & server) dedicated to our in house researchers to get data from collaborators, students and others in the field. But, I could not find an easy way to customise the UI in such a way to differentiate it from the official Mozilla send service. For example, I'd like to take away the signin/Si

[2019-03-13 13:19] dylmye commented on #1232
Can't repro on Windows 10 Firefox 66.0b14

[2019-03-13 13:22] Softvision-AndreeaCupsa opened #1234 "[Android] The app is intermittently not installed the first time and can not be re-installed on subsequent tries"
**[Notes]:**
- On some devices, I managed to install the application on the first try (Huawei P20 Lite, Google Pixel, Oneplus 5) but on Samsung S8 I was not able to do so and the “App not installed” message was displayed. After uninstalling the application and attempting to reinstall it, the “App not installed” message was displayed on all our testing devices (and personal).
- Deleting the cache a

[2019-03-13 13:58] philipp-sumo commented on #1222
hi, did you set "Delete cookies and site data when Firefox is closed" in your firefox settings?
similar cases got reported on bugzilla too:
https://bugzilla.mozilla.org/show_bug.cgi?id=1534680
https://bugzilla.mozilla.org/show_bug.cgi?id=1534750
https://bugzilla.mozilla.org/show_bug.cgi?id=1534892

[2019-03-13 14:17] christopher-ramirez commented on #1157
This seems to be a bug when handling value changes in the dropdowns. The code automatically activates the checkout *Protect with password*. Once the checkbox is activated, the password field is enabled and browsers proceed to autofill the password field.

[2019-03-13 15:31] johngruen commented on #1234
@Softvision-AndreeaCupsa is there any logging beyond this?

[2019-03-13 15:44] isagalaev commented on #1222
I do indeed. And adding `https://send.firefox.com` to exceptions does fix the problem, thanks. Feel free to close this issue or dupe it against any of the other ones you see fit.

[2019-03-13 15:45] Softvision-AndreeaCupsa commented on #1234
Sure.
I attached a file with all logs and one with only the error logs:
- [log_err.txt](https://github.com/mozilla/send/files/2962265/log_err.txt)
- [log_all.txt](https://github.com/mozilla/send/files/2962266/log_all.txt)

[2019-03-13 15:46] johngruen commented on #1233
Since the code is open you can fork and customize as you wish already!

[2019-03-13 15:46] #1233 closed

[2019-03-13 15:48] johngruen commented on #1232
@turboscholz can you take a look at #1222. we believe this is causing the white screen issue you are having, and are working on a fix.

[2019-03-13 15:50] johngruen commented on #1224
Maybe we can flash some UI here to warn people about this?

[2019-03-13 15:54] johngruen commented on #1222
Thanks @isagalaev we have a fix that will resolve this without adding exceptions. We'll leave this bug open until that gets deployed. Thanks for filing!

[2019-03-13 15:55] johngruen commented on #1218
@pdehaan can you point me to the script u used to check out all the locales?

[2019-03-13 15:56] isagalaev commented on #1222
I was actually wondering how it might be fixed in general. My gut tells me it might actually be a bug in Firefox if it doesn't want to give permissions to create a ServiceWorker even for the duration of a session. Or may be it's something in the feature detection code on the site?

[2019-03-13 15:58] johngruen commented on #1215
@irfnhm we think @dannycoates response is correct feel free to reopen if u need more help

[2019-03-13 15:58] #1215 closed

[2019-03-13 16:00] SoftVision-PaulOiegas commented on #1222
@isagalaev that was my hunch too [here](https://github.com/mozilla/send/issues/1226#issuecomment-472410396) where I performed some deeper investigations.

[2019-03-13 16:14] bobfe-ids commented on #1226
That explains why I occasionally get messages from sites that I won't accept cookies. It's not that the browser actually stops accepting cookies, it changes the expiration value that gets written in a cookie to always be 'Session'. I agree with @SoftVision-PaulOiegas the problem seems to be in what that option does. It no longer does what it says, just "Delete" cookies without actually changing th

[2019-03-13 17:13] irfnhm commented on #1215
@johngruen yes.
@dannycoates thank you that worked. I had Node 8 installed that's why I had the problem. :+1:

[2019-03-13 17:33] dannycoates opened #1236 "localize promo banner"
since it's not just an experiment anymore

[2019-03-13 18:17] g-k commented on #1234
@johanlorenzo have you seen this before for our other APKs?

[2019-03-13 18:18] turboscholz commented on #1232
Thanks, @johngruen! Allowing cookies in general fixes this problem. Hope it is fixed permanently with the changes in #1222. :+1:

[2019-03-13 18:41] phpdave11 opened #1238 "Cannot change BASE_URL"
When supplying a custom BASE_URL, the link that is generated still starts with http://localhost/

I am starting the server with the following command:
[code]

[2019-03-13 18:43] phpdave11 opened #1239 "How to use custom S3 Endpoint?"
I host my own minio server (compatible with S3).  I get this error:

[code]

This is likely reaching out to the "real" Amazon S3.  How can I point this to my local S3?  Ideally I could set an environment variable such as: AWS_S3_ENDPOINT

I am starting the server with the following command:
[code]

[2019-03-13 18:48] DARKFiB3R opened #1240 "Compressed file compatibility"
Solid Explorer (Android) can't handle the .zip files created by Firefox Send.

.zip files created by 7-Zip are fine.

Turns out Solid Explorer can't handle .rar or .7z files either.

[2019-03-13 19:19] mgalicer commented on #1130
Hey there! @KarthikNayak and I are picking this up.

[2019-03-13 19:29] KarthikNayak opened #1241 "The Readme under tests/integration is currently out of date"
https://github.com/mozilla/send/blob/master/test/integration/README.md

If you see the README. It talks about how the tests suite uses Python/PyPOM while all the tests are written in JS. This should be fixed to reflect the changes in the test suite.

[2019-03-13 20:16] KOLANICH opened #1243 "Implement a WebExtension and some client libraries for different languages"
Implementation of encryption in JavaScript turns all the security into snake oil. Users cannot be sure that the code available on the webpagenis not malware. So the code used should be the same for all the websites and there should be guarantees that it is not backdoored.

A possible way to solve the issue is to implement a WebExtension. When a website supporting Mozilla Send is loaded, the extens

[2019-03-13 20:20] #1232 closed

[2019-03-13 20:23] dannycoates commented on #1238
the generated link comes from the `Host` header of the HTTP request

[2019-03-13 20:27] dannycoates commented on #1239
You'll probably need to modify `/server/storage/s3.js`. We use IAM credentials from the environment for all our config except bucket name.

[2019-03-13 20:32] dannycoates commented on #1240
@DARKFiB3R thanks for the report. We'll test it and see what we can do.

[2019-03-13 23:39] dannycoates opened #1245 "Improve old browser detection"
Another cause of folks seeing the empty page is their browser is too old to even load our main js bundle without errors. For example Chrome 47, which for some reason is showing up in error logs more than other versions.

[2019-03-14 00:40] dannycoates commented on #1222
Here's the bug to follow on this: https://bugzilla.mozilla.org/show_bug.cgi?id=1413615

TLDR; According to comment 14 `we can/should indeed "allow service workers when cookie policy is 'keep until I close firefox'".`

[2019-03-14 00:40] #1222 closed

[2019-03-14 00:43] dannycoates opened #1246 "Improve download page messaging when service workers are disabled in firefox"

[2019-03-14 05:10] ropable commented on #1238
Running send as a Docker image with the BASE_URL environmental variable set (and behind a reverse proxy), it doesn't seem to be making use of BASE_URL. The download links are in the format https://HOST:PORT/download/<HASH>

[2019-03-14 06:43] dannycoates commented on #1238
as I said, the download links are generated based on the [Host header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Host)

BASE_URL is deprecated and will be removed in a future release.

[2019-03-14 06:43] #1238 closed

[2019-03-14 06:52] ekanna commented on #423
Please show link as QRCode. We can altogether avoid WhatsApp or Email for sharing link to self.

[2019-03-14 08:12] oliver-dvorski commented on #423
I made this [little guy](https://makeazip.com/) with a QR code render on the download page as the first feature of my service. To answer the question from August 2017 - this is awesome for sending files to myself. Since I can just extract them from any iffy machine and retrieve them later through the public link that I can save anywhere I'd like once I scan the code after the upload

[2019-03-14 09:22] ectoanonymous opened #1249 "Add More days after uploading the file before expiry time."
I think it would be nice if we can extend expiry date on demand before expiry of the file.Or even can expire it as soon as we upload it.
Otherwise I loved this 'send' It's really something which I have wanted from a long time.

[2019-03-14 10:06] JohanLorenzo commented on #1234
This is the first time I see this behavior. The logs seem to point to that problem https://stackoverflow.com/questions/51310155/installation-silently-blocked-for-android-release-build-signed-apk-when-testing, though:

[code]

Per the STRs, the problem occurs when installing the APK manually. Does this also happen when installing the app from Google Play, directly, @Softvision-AndreeaCupsa ?

[2019-03-14 12:31] Softvision-AndreeaCupsa commented on #1234
@JohanLorenzo The application was not posted yet on the Google Play Store, so I can not test this situation.

[2019-03-14 12:57] JohanLorenzo commented on #1234
Oh you're right. I saw the app was marked as published on the Google Play console, but it's just a dummy APK there. Sorry for the confusion!

[2019-03-14 13:24] fastbone commented on #1221
Same here ...
npm 6.4.1 / nodejs v10.15.3
checkout 30 minutes ago

[2019-03-14 13:59] phpdave11 commented on #1238
Thanks, I've mostly got it working by setting the Host header.  Initially I received the error message "Invalid Host header" when I set it, but I was able to fix that by setting "disableHostCheck: true" in webpack.config.js

The only other issue that took a while to figure out is that links say http:// when they should say https:// since I am using SSL in my development environment.  I was able to

[2019-03-14 14:29] phpdave11 commented on #1239
I was able to get it working by adding this to s3.js:

[code]

And then I run the server like this:

[code]

This could be useful for other users.  If you want I can create a pull request with my change.

[2019-03-14 16:05] dannycoates commented on #1239
@phpdave11 cool! If you move those env variables into `/server/config.js` we'd accept a PR for this.

[2019-03-14 17:43] #930 closed

[2019-03-14 17:43] #892 closed

[2019-03-14 17:44] johngruen commented on #934
Closing. Feel free to open of SotA changes

[2019-03-14 17:44] #934 closed

[2019-03-14 17:49] marniepw opened #1250 "Download links are indexed by google search engine"
See: [https://twitter.com/unkn0wn_p3rson/status/1106070555071901696](https://twitter.com/unkn0wn_p3rson/status/1106070555071901696)

@firefox Firefox Send is awesome, but the download links are indexed by google search engine, can't download the original content becoz of expiry, but name of the files available in google search engine, seems noindex, robots meta tag missed cc : @TheHackersNews

[2019-03-14 17:51] johngruen commented on #1234
Plan is we're going to do an internal Play Store release and test

[2019-03-14 18:13] jbuck commented on #1250
I've started the DNS verification dance with Google Search Console so that I can manually delete results, but [Google says](https://support.google.com/webmasters/answer/93710) we need to remove the robots.txt Disallow rule, and add `<meta name="robots" content="noindex">` to the download page to remove results permanently

[2019-03-14 21:54] #1130 closed

[2019-03-14 23:15] kewisch commented on #847
If there is an API or client library I can do this fairly easily. Let me know.

[2019-03-14 23:24] szepeviktor commented on #847
You can look at https://github.com/ehuggett/send-cli/blob/master/sendclient/upload.py
Does it help?

[2019-03-15 00:07] ropable commented on #1238
@phpdave11 Mind dropping a detail about where you're setting the Host header? I was trying to run send behind an Nginx proxy and expected node to receive the header automatically via that request, but it seems not. I'm wondering if need to set it explicitly in node config or elsewhere.

[2019-03-15 00:23] tom93 opened #1251 "Timing attacks on comparisons of auth signature and owner token"
The `hmac` function in [server/middleware/auth.js](https://github.com/mozilla/send/blob/master/server/middleware/auth.js) uses `Buffer.equals` to check if the authentication signature in the request is correct. Timing information can potentially be used by an attacker to discover the correct authentication signature.

The `owner` function in the same file uses string comparison to check if the own

[2019-03-15 01:00] phpdave11 commented on #1238
@ropable I'm also using nginx with a reverse proxy.  Here's my config:

[code]

[2019-03-15 01:24] ropable commented on #1238
@phpdave11 Thanks for that. The `proxy_set_header Host "$server_name"` directive was the one I needed. I may submit a small PR to improve the documentation to this effect.

[2019-03-15 02:53] dannycoates commented on #1250
fixed in v3.0.6

[2019-03-15 02:53] #1250 closed

[2019-03-15 06:46] captainblue2013 opened #1252 "Get together, say no to prototype"
https://github.com/say-no-to-prototype/say-no-to-prototype

[2019-03-15 10:32] Oumph opened #1253 "Typo in French legal page chiffrés vs cryptés"
Legal page doesn't seem to be taken from this git repo. But anyway:

in Mozilla Send repo, the right French translation is used (files are "chiffrés", not "cryptés"):

On legal page https://www.mozilla.org/fr/about/legal/terms/services/#send

[2019-03-15 13:03] peterbe opened #1254 "Sign up makes me think my file choices were lost"
1. Go to https://send.firefox.com/
2. Pick a file and upload it
3. In the options below, select "7 days" (instead of the default 1 day)

Expected outcome:
* Some indication that I need to sign up to use 7 days.
* Not clear the screen making me think my file choices were all lost
* On the "Create Firefox Account or sign up" page, indicate that my picked files are still  there

Actual outcome:
* "Re

[2019-03-15 13:36] peterbe opened #1255 "But I'm already signed in!"
I'm presented with the login window on https://send.firefox.com/ after clicking the "Sign in/up" button (in the upper right-hand corner).

My first reaction is: but I'm already signed in to Firefox Accounts! Why do I have to sign in again??

Incidentally, if you click the "Sign in/up" form but **leaving the email input field empty**, it takes me to the familiar FxA page at `https://accounts.firefo

[2019-03-15 16:12] pdehaan commented on #1253
The legal page seems to be in the **mozilla/legal-docs** repo at https://github.com/mozilla/legal-docs/blame/master/firefox_cloud_services_ToS/fr.md#L39

I _think_ this bug is saying that our local repo is correct and the upstream **legal-docs** is incorrect. If that sounds right, I can file this upstream.

/cc @flodolo

[2019-03-15 16:15] flodolo commented on #1253
CC @TheoChevalier
The legal doc is translated by vendors, improvements should be filed there (not sure who owns that repo these days).

[2019-03-15 17:23] TheoChevalier commented on #1253
I can confirm “cryptés” is a blatant mistake and that the latest update in the legal-docs repo needs improvements. Right now it’s not adhering to the styleguide, nor using the UI terminology. I can offer some review next week and file an issue upstream

[2019-03-15 17:33] peiying2 commented on #1253
@TheoChevalier pls comment in the legal doc, and I will pass it on to the vendor. There are quite a few updates lately and if you notice style changes (due to resource availability) or it has been constantly bad, I will ask for a change of translator. Has there been anyone decent or has it always been bad for French?

[2019-03-15 17:49] pdehaan commented on #1253
Filed upstream in the **legal-docs** repo as https://github.com/mozilla/legal-docs/issues/1243.

Thanks everybody! Pleasure as always. ❤️

[2019-03-15 17:49] #1253 closed

[2019-03-15 18:13] MerkleBros commented on #1245
What sort of behavior would we want to see if the browser is too old?

[2019-03-15 18:21] dannycoates commented on #1245
They should be redirected to `/unsupported/outdated` if using Firefox and the `/unsupported/browser` page for other browsers.

[2019-03-15 19:00] dannycoates commented on #1251
Thank you @tom93 for reviewing the code. Commit ebbb1d05 implements your suggestion to use `timingSafeEqual`. It got deployed in [v3.0.7](https://send.firefox.com/__version__). We also have rate-limiting on our API to slow down brute-force attacks.

The strategy we use for passwords is designed around a product requirement that the password should be able to be set or changed by the owner after up

[2019-03-15 19:00] #1251 closed

[2019-03-15 19:06] #1252 closed

[2019-03-15 20:14] dannycoates commented on #1254
Thanks for the suggestion @peterbe. Clicking "cancel" returns you to your file list. We may consider changing the signup dialog to not cover the whole page

[2019-03-15 20:18] dannycoates commented on #1255
I personally don't care for the email input here either...

[2019-03-15 21:00] peterbe commented on #1254
*I* know. But many others won't know and their impression might be negative.

[2019-03-15 22:10] dannycoates commented on #1254
@johngruen this is why my design had the transparency 😉

[2019-03-16 03:33] jalalkun opened #1256 "Bug in upload FIle"
after uploading files appears oddities when going to select the expiration date, several variables appear.

[tangkapan layar](https://screenshots.firefox.com/BpApSXAhTgYg7R7d/send.firefox.com)

[2019-03-16 06:00] dannycoates commented on #1256
This appears to be a bug in `id/send.ftl`

[2019-03-16 06:16] flodolo commented on #1256
CC @alamanda and @fauzanalfi
I'm going through the file and fixing, I can spot at least two errors :-\

[2019-03-16 06:35] flodolo commented on #1256
2 strings with the wrong variable placeholder, 2 strings without the variable in the plural, also approved an extra string that seemed innocent enough for me to approve (size formatting)
https://github.com/mozilla/send/commit/062cbbd1f88e27202cc41203bd44697c5a473dc5#diff-8ea0c1534f1682ec370c446d53ea4076

[2019-03-16 08:16] MikkCZ commented on #1240
May that be related to https://sourceforge.net/p/sevenzip/discussion/45797/thread/32d92622f7/, where people claim that the ZIP archives are not 100% valid?

[2019-03-16 16:23] dannycoates commented on #1240
Thanks for the link @MikkCZ. This was fixed in 7f13d4d9 and will be in the next release.

[2019-03-16 16:23] #1240 closed

[2019-03-16 18:23] hellosct1 commented on #742
Hi
I realized the web extension that is available
https://addons.mozilla.org/fr/firefox/addon/send-to-fx/

best regard

Christophe

[2019-03-16 18:26] hellosct1 opened #1257 "link webExtension for website send.firefox.com"
Hi

I made the extension for Firefox Desktop and Firefox Android

https://addons.mozilla.org/fr/firefox/addon/send-to-fx/

I think it would be nice to put a link on the website at the bottom of the page at the same level as the Cookies, github buttons...

thank's

Christophe

[2019-03-16 18:40] hellosct1 commented on #1243
Hi,

I published this week a web extension that you can find here
https://addons.mozilla.org/fr/firefox/addon/send-to-fx/

best regard
Christophe

[2019-03-16 19:05] KOLANICH commented on #1243
I am sorry, but the WebExtension (at least the version published on GH, I usually don't unpack XPIs, if authors provide a link to repository) is useless. It just opens the website in a sidebar. It is definitel7 hot what I meant. The extension I mean should contain an OWN SELF-SUFFICIENT IMPLEMENTATION of the source code. It MUST BE DESIGNED TO BREAK if backend changes in an incompatible way. It is

[2019-03-16 22:02] dannycoates commented on #1243
@KOLANICH I understand you have strong feelings about security but there's no need to criticize a volunteer community member's work so harshly just because it doesn't meet your needs.

Computer security is not an absolute secure or insecure proposition. Even formally proven code can be vulnerable to hardware exploitation. Running code downloaded from the web (or any source) involves some level of

[2019-03-17 08:54] KOLANICH commented on #1243
These people need no encryption, it is waste of time and resources. The whole purpose of end-to-end encryption is that the service provider is explicitly untrusted. You should either stop advertising the product as end-to-end and probably remove client-side encryption code, or implement end-to-end encryption the right way.

So it was proposed not to run any code "downloaded from the web" without a

[2019-03-17 14:23] BurungHantu1605 opened #1258 "Missing redirect after registration."
Users just get stuck on the email successfully confirmed page. Not even a link back to send.firefox.com available.

[2019-03-17 14:30] co16353sidak commented on #1255
Hey, @peterbe @dannycoates So shouldn't we just not keep an input option here, and instead have just the sign in/up button and let it redirect to the FxA Page.
Or is there a specific reason why this happens.

[2019-03-17 20:12] hellosct1 commented on #1243
Hi,
I have published a new version with your comments.
The extension will evolve further because I have been asked for new functions

thank's

[2019-03-17 20:40] KOLANICH commented on #1243
@hellosct1, unfortunately the extension [still doesn't contain](https://github.com/hellosct1/firefox-send/commit/d446435f65f834f2aee522cd02e91154bc35eff4) any own implementation of the frontend code needed to use tue service.

[2019-03-18 16:16] dannycoates commented on #1257
Nice work on the extension @hellosct1. Thanks for the suggestion but we can't link to a third-party extension from the official site.

[2019-03-18 16:16] #1257 closed

[2019-03-18 16:17] #1256 closed

[2019-03-18 16:36] valerysntx commented on #1224
What about using, (or mimic) fetch and streams apis
here is read queue read-filled recursively, make blob, and save the blob url after 100% progress

- https://github.com/AnthumChris/fetch-progress-indicators/blob/master/fetch-enhanced/supported-browser.js

- https://github.com/meganz/webclient/blob/master/js/transfers/downloader.js

[2019-03-18 17:57] johngruen opened #1261 "Add entrypoint param to fxa"
see this:
[code]

let's do `entrypoint=send` for now and then if we add more we can segment by `entrypoint=send-{whatever}`

[2019-03-18 19:55] dannycoates commented on #1261
we do

[2019-03-18 19:56] dannycoates commented on #1261
actually we do `send-{source}` where source was the trigger. ie button, size, etc

[2019-03-18 20:03] johngruen commented on #1261
Is it in a PR that's not shipped yet...not seeing it in the query params getting passed in in the FxA URL

[2019-03-18 22:04] dannycoates commented on #1261
added to `/authorization` in cc9a5d11

[2019-03-18 22:04] #1261 closed

[2019-03-18 23:23] szpak opened #1262 "Increase number of download attempts for not authenticated users"
After the recent official launch (or somewhen around) the number of download attempts for not logged in users was decreased to 1. It's quite unfortunate as even sharing with one person he or she can have issues with network connection, close the file accidentally or for some other reason may need to download that file again. It would be good to have up to 5 attempts possible to select for not auth

[2019-03-19 05:33] dantuluri opened #1263 "Docker container failing"
I followed the instructions in [https://github.com/mozilla/send/blob/master/docs/docker.md](https://github.com/mozilla/send/blob/master/docs/docker.md)
by doing the following:

[code]
Running `docker-compose up` or `npm start` work fine.
Yet when running `docker run` after building the image, I'm getting the following errors:
[code]
I've tried inserting `RUN npm install` and `RUN npm run build` wi

[2019-03-19 05:45] dannycoates commented on #1263
You need to set the `REDIS_HOST` environment variable, like the example in docker.md. The docker image doesn't contain `devDependencies`

[2019-03-19 06:18] dantuluri commented on #1263
Thanks for the help, I completely forgot about running docker with all the env variables.

When running the docker container, should there be any output? Will it run on localhost:1443?

[2019-03-19 11:14] babhishek21 commented on #1255
This is super non-intuitive.

[2019-03-19 14:21] WLLR9505 opened #1264 "QR Code for the link"
Generate a QR Code to send the file for mobile devices

[2019-03-19 14:40] pdehaan commented on #1264
Ref #423

[2019-03-19 15:35] #1263 closed

[2019-03-19 15:37] dannycoates commented on #1264
Duplicate of #423

[2019-03-19 15:37] #1264 closed

[2019-03-19 15:48] ladybug2fire opened #1265 "3.08 centos 7.6 build failed"
node 10.15.3
os centos 7.6
send 3.08
after install run start with a lot of waring about webcrypto-core module. moreover with a error
in ./node_modules/pvtsutils/dist/pvtsutils.es.js
module build failed (from (webpack)-unassert-loader/index.js)
Error line 167: Unexpected token

[2019-03-19 16:12] ysc3839 commented on #1221
Don't run `npm` or `node` using `root` user. I solved this issue by using a normal user.

[2019-03-19 16:58] rrroyal commented on #1221
solution provided by @ysc3839 actually worked! thanks!

[2019-03-19 16:58] #1221 closed

[2019-03-19 17:04] dannycoates commented on #1265
possibly related https://github.com/mozilla/send/issues/1221#issuecomment-474449798

[2019-03-19 21:20] timvisee commented on #1262
I'm supporting this as well. The previous limit, before the public Firefox Send release was `20` I believe.

[2019-03-20 02:27] ladybug2fire commented on #1265
@dannycoates exactly alike，thanks 🙏 , i'll try later 😊

[2019-03-20 10:20] SuffolkPunch opened #1267 "Firefox Send login results in "Something went wrong!" screen"
I'm trying Firefox Send in Firefox 65.0.1 (64 bit) running in Linux Mint 18.3 (Cinnamon 64-bit).

What I do:
1. In Firefox goto https://send.firefox.com and click on Sign in/Up
2. Enter my Firefox Account password and click 'Sign in/Up'
3. The 'Sign in Continue to Firefox Send' page is displayed with the correct email address. Enter my Firefox Account password and click 'Sign in'.
4. A screen is d

[2019-03-20 11:04] #979 closed

[2019-03-20 17:33] johngruen commented on #1234
@JohanLorenzo @Softvision-AndreeaCupsa confirms that this issue is not reproducible in GPS.

[2019-03-20 18:08] JohanLorenzo commented on #1234
I see. I guess `Finsky` blocked the APK because it was the first time Google saw it. I guess things will go better from now on (now that the APK is on Google Play).

@Softvision-AndreeaCupsa do you still reproduce with your initial STRs?

[2019-03-20 18:18] johngruen commented on #1234
@JohanLorenzo what is Finsky?

[2019-03-20 18:40] avidyut1 commented on #803
Hi,
Created a pull request https://github.com/mozilla/send/pull/1269.
Please review.

[2019-03-21 04:39] avidyut1 commented on #1225
@johngruen @dannycoates, i would like to work on this.
please share some insights on the breakdown of the tasks

[2019-03-21 12:34] JohanLorenzo commented on #1234
Finsky (called out in the above logs) is the name of one component of the Google Play Store https://play.google.com/store/apps/details?id=com.google.android.finsky. I don't know too much about this component. I just saw it blocked the installation of the APK.

[2019-03-21 16:21] dannycoates commented on #1225
@avidyut1 thanks for your interest. This will require some policy design first that we haven't scheduled yet. It'll be a while before this is ready to start implementing.

[2019-03-21 16:48] Softvision-AndreeaCupsa commented on #1234
@JohanLorenzo No, I don't reproduce the issue with the initial build (org.mozilla.firefoxsend-2019-03-12-beta-release-signed).

[2019-03-21 17:40] dannycoates commented on #1265
closing, feel free to reopen if there's more trouble

[2019-03-21 17:40] #1265 closed

[2019-03-21 17:44] johngruen opened #1270 "GeckoView Branch Bug Checklist 🦎👀🐛✅"

[2019-03-21 17:47] johngruen commented on #1267
@SuffolkPunch can you take a screenshot of your browser's JS console?

[2019-03-21 17:50] johngruen commented on #1255
We'll headscratch on this one for a sec

[2019-03-21 17:51] johngruen commented on #1254
Fine to bring back transparency layer here

[2019-03-21 17:53] johngruen commented on #1217
@clouserw when u miss the meeting...

[2019-03-21 18:06] fzzzy opened #1271 "Sign the android app in CI"
We had a bug for this a while ago but I closed it because it seemed premature. However if the project gets additional engineering effort we should do this.

We can refer to the way notes did it:

https://github.com/mozilla/notes/blob/master/circle.yml#L73-L95

[2019-03-21 20:07] SuffolkPunch commented on #1267
@johngruen  I will if you tell me how.  In FF65 I see I can open the browser console (Ctrl+Shift+J) or the web console (Ctrl+Shift+K).  Are those what you want to see?

[2019-03-21 20:39] dannycoates commented on #1267
Thanks @SuffolkPunch, web console is all we need. Anything in there that shows up as red will be helpful.

[2019-03-21 21:23] SuffolkPunch commented on #1267
I can't get FF to trip the previous error! My apologies - i feel a fraud!

Anyway (with the following FF add-ons enabled: DuckDuckGo Privacy Essentials, LastPass, Noscript, Privacy Badger) , here is a snapshot of the jsconsole for the first of the 2 Firefox-Send login screens (email address entry):

![jsconsole-1 sign in up screen](https://user-images.githubusercontent.com/26813480/54785667-b7545d

[2019-03-22 11:56] Softvision-AndreeaCupsa commented on #1270
- A red outline is displayed if you tap the screen several times while the application is loading (while the white screen is displayed)
- Only one file can be selected from the File Selector.
- [Intermittent] After tapping a file from the File selector, it is not always added.
- If you have one file previously added, a second one cannot be added (It might be the same as the previous issue).
- [Int

[2019-03-22 17:41] yoasif opened #1272 "Android: User menu is not dismissed when tapping outside of menu"
STR:

1. Sign into Send
2. Tap on person icon
3. Tap in main content area (anywhere but the person icon)

What happens:

Menu does not close.

Expected result:

Menu closes.

[2019-03-22 18:56] alicerunsonfedora commented on #1225
I hope this is possible soon! I'd love to add some functionality into my own app.

[2019-03-22 21:08] jamiekyle-eb commented on #959
Adding a UI for sending text would be a really great addition. It's not clear right now that you can even paste text, I only found out from reading this issue.

[2019-03-22 21:26] jens1o opened #1273 "Unable to install on Android 7 device."
Please reach out to me on Slack if you have any detailed questions that cannot be asked/answered publicly yet.

Having this in the Play Store:
![image](https://user-images.githubusercontent.com/11234139/54853547-7c225e80-4cf0-11e9-9950-4336a699c475.png)
on this phone:
![image](https://user-images.githubusercontent.com/11234139/54853575-8a707a80-4cf0-11e9-91a5-8c85e51654ab.png)

[2019-03-22 22:34] shvchk opened #1274 "Warning "This browser might not be able to decrypt a file this big" on Firefox in private mode"
Firefox 66 on Ubuntu 18.10. Reproducible on clean profile.

[2019-03-24 12:08] gvanwaelvelde opened #1275 "Android app: PDF uploading causes error"
Whenever I try to upload a PDF file through the Android app, it says "Error Sorry, an error has occurred.".
Other filetypes can be uploaded without problems.

Steps to reproduce:
1) Open the Firefox Send app
2) Press +
3) Select a PDF file
4) Press "Upload"
5) It shows error message

[2019-03-24 12:37] gvanwaelvelde commented on #1275
My device is a Samsung J7 running Android 8.1.0.

[2019-03-24 18:03] groovecoder opened #1276 "1-Download links are expired when emailed"
I sent someone a 1-time download link from my Gmail account.

They replied that the link was already expired.

I suspect either Gmail or their email provider tried to scan/GET the link, causing it to expire?

[2019-03-24 18:34] MarionMoseby opened #1277 "Add to F Droid"
Inclusion on the main f droid repo is being discussed here:

https://gitlab.com/fdroid/rfp/issues/936

Are you ok with that?

[2019-03-24 20:10] ocavue opened #1278 "encryptKeyPromise declared but not used"
*This issue is a **bug report***

[The docs](https://github.com/mozilla/send/blob/bb4fa0a75cd36030ea66df696fa28a6087fc2eb6/docs/encryption.md) says:

It seems that [encryptKeyPromise](https://github.com/mozilla/send/blob/bb4fa0a75c/app/keychain.js#L21) should be the "encryption key for the file" based on the code structure, but I didn't find out where this attribute is being used.

![image](https:

[2019-03-25 10:35] Mikiya83 commented on #1273
Same here, Android 8+ required, i don't know why, it's quite restrictive !

[2019-03-25 14:51] johngruen commented on #1276
hmmm, this is definitely a case we've tested in the past. @groovecoder were u using your work email or personal?

[2019-03-25 15:22] groovecoder commented on #1276
I sent from my personal gmail account. I'm not sure what email service the recipient may have been using.

[2019-03-25 18:38] moz-hwine opened #1279 "Set protected status on production branch"
Hello! This is your neighborhood secops team looking out for you!

The production branch on this repository is not protected against force pushes. This setting is recommended as part of [Mozilla's Guidelines][guidelines_url] for a Sensitive Repository.

**Anyone with admin permissions for this repository can correct the setting using [this URL][protect_url].**

If you have any questions, or believ

[2019-03-26 06:24] dannycoates commented on #1276
It isn't likely to be anything in between triggering a download. The link takes you to a landing page, js needs to run an xhr for metadata, and a `<button>` triggers the download. One cause I've seen in the past is the link url being incomplete, like a character missing from the key portion. Without the correct key any link will look like a 404.

[2019-03-26 13:46] groovecoder commented on #1276
Ah, that sounds more likely what happened. Thanks for the info.

[2019-03-26 13:46] #1276 closed

[2019-03-26 16:28] johngruen opened #1280 "User reported download failure issues at ~1GB on win 10"
Got this report from Reddit:

[code]

[2019-03-26 16:37] dannycoates commented on #445
increased to 8 bytes in 8cf3b89f

[2019-03-26 16:37] #445 closed

[2019-03-27 06:48] jiaqiangwjq opened #1281 "[ iPhone/iPad ] Where can I find the files which have been downloaded ?"
It works well on my PC, however, when I use my phone or ipad to download from _Firefox Send_, once the downloading finishes, I don't know where I can find my files downloaded. Could you give me some suggestions ? I'll appreciated it, sincerely.

[2019-03-27 10:51] grahamperrin opened #1282 "Sign out (option not visible)"
I signed in without difficulty.

I see no way to sign out:

![image](https://user-images.githubusercontent.com/192271/55069769-b6875500-507c-11e9-9226-f5a187cd27da.png)

Waterfox ~56.2.7.1 on FreeBSD-CURRENT.

Reproducible with ad blocking etc. disabled.

I wondered whether the absence of sign out is by design, but the screen recording at (unrelated) `https://github.com/mozilla/send/issues/1151#is

[2019-03-27 11:07] grahamperrin commented on #1282
The same with Firefox, after signing in:

![image](https://user-images.githubusercontent.com/192271/55071423-7cb84d80-5080-11e9-8890-37bb64023734.png)

Screen recording available on request.

[2019-03-27 15:48] dannycoates commented on #1282
Thanks for the report @grahamperrin

You are supposed to see your Firefox Account picture in the upper right corner or a default profile picture if you don't have one set. You are certainly not seeing what's expected.

Could you share a screenshot of the web console `Ctrl+Shift+K` after refreshing the page?

[2019-03-27 21:22] fzzzy opened #1283 "[Android] Implement shouldOverrideUrlLoading to prevent any page other than the send android code from loading in the webview"
The send webview should only ever load the html and the js bundle from the apk. We can enforce this by overriding shouldOverrideUrlLoading to check that the url that is being loaded is what we expect.

Here is an example of how to do it:

https://stackoverflow.com/questions/19426742/dont-navigate-to-other-pages-in-webview-disable-links-and-references

[2019-03-27 22:15] miketaylr opened #1284 "Page not loading"
This was reported to us by an anonymous user @ https://github.com/webcompat/web-bugs/issues/28428.

There's a stack in their console errors that might be useful:

[code]

[2019-03-28 16:11] johngruen commented on #1284
We think we saw this in sentry once or twice...is a mystery. @miketaylr please let us know if you see more.

[2019-03-28 16:16] johngruen commented on #1282
Moving to backlog now. we can retriage when we can see the console. This could be happening because of a content blocking add-on since we load avatars from Firefox Accounts.

[2019-03-28 16:25] johngruen commented on #1281
Thanks for the report @jiaqiangwjq ... can you tell us which browser you are using on your iphone?

[2019-03-28 16:30] johngruen commented on #1279
@clouserw

[2019-03-28 16:32] johngruen commented on #1279
@clouserw we think this might be hard b/c of pontoon integration

[2019-03-28 16:40] dannycoates commented on #1279
I restricted the accounts that can push to master, but signed commits is blocked on pontoon.

<img width="598" alt="Screen Shot 2019-03-28 at 9 38 13 AM" src="https://user-images.githubusercontent.com/87619/55175860-573d4980-513d-11e9-995a-692ad382eebb.png">

[2019-03-28 21:35] hwine commented on #1279
FYI, signed commits are not (yet) being required, as they need some tooling to support.

The primary compliance we're looking for is the basis "protect from forced pushes". Anything beyond is gravy.

[2019-03-28 22:09] dannycoates commented on #1178
Confirmed fixed with iOS 12.2

[2019-03-28 22:09] #1178 closed

[2019-03-29 10:33] flodolo opened #1285 "Dev server not updating"
We have a new locale (zgh), with translations, but I don't see the content on the DEV server
https://github.com/mozilla/send/blob/87f947c31d2431efb012bb553c2006395853c65f/public/locales/zgh/send.ftl

[2019-03-30 06:15] Mozilla-GitHub-Standards opened #1286 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The

[2019-03-31 02:51] davidgro commented on #1273
I strongly request Marshmallow (6.0) support also. It still has a huge install base relative to 8+ (And that's what my tablet is stuck on)

[2019-03-31 17:13] grahamperrin commented on #1282
I think not. From the opening post:

– and it's reproducible with Firefox in safe mode:

![image](https://user-images.githubusercontent.com/192271/55292233-1c0e7500-53e0-11e9-8880-902aafa0e288.png)

I relaxed content blocking to _Standard_, <kbd>Shift</kbd>-reloaded the page, the CSP blockage persists.

[2019-04-01 16:07] jiaqiangwjq commented on #1281
Safari.
And sorry for my belated reply.😭

[2019-04-01 16:50] fzzzy commented on #1281
@jiaqiangwjq When using Safari, a gray screen will appear with the file icon after it has finished downloading. There will be an option to open the file with the default application, and a "More..." link. Tap More..., then look for the "Save to Files" option. Choose where to save it and press save. Then, you can find it in the "Files" application which is now part of iOS.

Hope this helps. If not,

[2019-04-01 16:50] #1281 closed

[2019-04-01 23:44] jiaqiangwjq commented on #1281
Thanks for the help !

[2019-04-02 20:06] ryanfeeley opened #1289 "Align signup screen typography and spacing"
Now that we have the Inter UI license, we can update production (left) to match the style of the original design (right). Also please note the line height and bullet point spacing.

<img width="1410" alt="Screen Shot 2019-04-02 at 3 48 45 PM" src="https://user-images.githubusercontent.com/68213/55432572-33c13700-5561-11e9-8edb-761447ada905.png">

[2019-04-04 04:35] flodolo commented on #1285
@dannycoates ping?

[2019-04-04 17:05] #1285 closed

[2019-04-04 17:09] dannycoates commented on #1285
@flodolo the fix will go out with the next commit

[2019-04-04 17:18] #1286 closed

[2019-04-04 17:19] #1152 closed

[2019-04-04 17:23] dannycoates commented on #1274
duplicate of #1246

[2019-04-04 17:23] #1274 closed

[2019-04-04 17:27] dannycoates commented on #1267
Thanks @SuffolkPunch! I still believe you :) We may have fixed your original issue with another release before your second attempt. I'm glad it's working for you now.

[2019-04-04 17:27] #1267 closed

[2019-04-04 17:30] #1196 closed

[2019-04-04 17:38] johngruen commented on #1275
@gvanwaelvelde we are unable to reproduce this issue...how big was your PDF?

[2019-04-04 17:42] johngruen commented on #1273
We are working on a backward compat. Currently testing builds on 7 and 8. Thanks for input folks!

[2019-04-04 17:42] johngruen commented on #1273
I'm going to leave this out of milestone, b/c it's a little hard to quantify but it's being worked on

[2019-04-04 17:48] johngruen commented on #1255
I think the plan is to get rid of the email box on the original, but we're going to roll this up with some other brand changes

[2019-04-04 17:50] johngruen commented on #1187
I think we've decided not to fix this for the moment

[2019-04-04 17:50] #1187 closed

[2019-04-04 17:51] johngruen commented on #1149
We believe this is fixed...please re-open if not

[2019-04-04 17:51] #1149 closed

[2019-04-04 18:07] dannycoates commented on #1282
Thanks @grahamperrin, this will be fixed in the next release.

[2019-04-04 18:07] #1282 closed

[2019-04-04 18:08] gvanwaelvelde commented on #1275
The file was about 5Mb. I tried with both smaller and bigger files as well. It didn't make any difference.

I just tried again and now it's working fine, I can't reproduce it anymore myself.
I'll close the issue. Thanks a lot for investigating!

[2019-04-04 18:08] #1275 closed

[2019-04-05 17:57] #1283 closed

[2019-04-06 12:09] moritzdietz commented on #959
If this functionality would be added then this will be kind of on par with magic wormhole.
Or would I be wrong in assuming so?

[2019-04-08 07:32] MatthiasEgli-chainsecurity commented on #1280
I am getting reliable "Download cancelled" errors from Chromium on Ubuntu when trying to download large files. It seems to be more related to time than size, as I can download large files if I am using a very fast internet connection (and need only a few minutes to complete the download).

[2019-04-08 13:21] hbaier opened #1292 "Redis connection in broken state"
I'm using Firefox Send from [Docker Hub](https://hub.docker.com/r/mozilla/send/) (tag v3.0.9) as a Kubernetes deployment. When my redis server (also a Kubernetes deployment) goes away

`{"Timestamp":1554728954088000000,"Logger":"FirefoxSend","Type":"send.storage.Redis:","Severity":2,"Pid":1,"EnvVersion":"2.0","Fields":{"error":"Error: Redis connection in broken state: connection timeout exceeded."

[2019-04-08 19:15] TwizzyDizzy opened #1293 "[Feature Request] Add message text to download"
Hi folks,

it would be nice to be able to enter an optional message (default = empty) that is shown on the download page of a file.

For me it often makes sense to place the downloaded file in a specific context... or just to explain what this file contains...

Cheers
Thomas

[2019-04-10 19:27] dholbert opened #1295 "Firefox Send website has awkward horizontal scrollbar/scrollability on Firefox for Android, due to unnecessary `overflow:visible` on file input widget"
The https://send.firefox.com/ website is horizontally scrollable on Firefox for Android, for no good reason (there's nothing visible in the offscreen overflowed area).

See discussion/diagnosis in https://webcompat.com/issues/27624 and https://bugzilla.mozilla.org/show_bug.cgi?id=1542930

It turns out the culprit is an  invisible 0-sized `<input type="file">` widget:
[code]

That widget's contents

[2019-04-10 23:06] dannycoates commented on #1295
Thanks for the bug / fix @dholbert

That css rule comes from [normalize.css](https://github.com/necolas/normalize.css/blob/master/normalize.css#L176-L179) so if you think it's odd please report it to them since it's pretty widely used.

I'll change the overflow on that element.

[2019-04-11 16:21] dannycoates commented on #1278
Thanks @ocavue,

This key has been replaced by ECE. It'll be removed add the docs fixed in the next release.

[2019-04-11 16:21] #1278 closed

[2019-04-11 16:42] dannycoates commented on #1292
We should add a [retry_strategy](https://github.com/NodeRedis/node_redis#rediscreateclient) here https://github.com/mozilla/send/blob/master/server/storage/redis.js#L13

[2019-04-11 16:43] dannycoates commented on #1292
We should add a [retry_strategy](https://github.com/NodeRedis/node_redis#rediscreateclient) here https://github.com/mozilla/send/blob/master/server/storage/redis.js#L13

[2019-04-11 17:57] johngruen commented on #1293
this is a really good idea!

[2019-04-11 18:05] clouserw commented on #1277
Hi @MarionMoseby .  Can you explain more about what you're asking from us here?  I'm not familiar with F-Droid, but I glanced around and saw your inclusion policy.  Adding the Firefox Send app to a list of software you maintain would be fine, but modifying the Firefox Send app and shipping it as Firefox Send would not.  I wasn't clear if "We cannot build apps using proprietary tracking/analytic de

[2019-04-11 18:09] #1295 closed

[2019-04-11 18:21] MarionMoseby commented on #1277
Hi! Im not officially affiliated with f droid or sth, so maybe itd be better to ask on gitlab :)

I just know that for an app to be included there the app owner has to be notified and support inclussion, which might mean, if necesary, modifying the app to eliminate proprietary analytics and/or changing the name.

Cheers!

-------- Mensaje original --------
On 11 abr. 2019 20:05, Wil Clouser escrib

[2019-04-11 23:16] dholbert commented on #1295
Thanks for the heads-up. I did a bit more investigation and I'm pretty sure the `input` selector doesn't do any good in that normalize.css rule (and does cause interop harm, as in this bug here). So I filed https://github.com/necolas/normalize.css/issues/779 to request that it be removed.

[2019-04-12 09:32] J0e9u0 opened #1296 "Error: Cannot find module 'redis-mock'"
run in docker and found log:

[code]

[2019-04-12 15:52] dannycoates commented on #1296
The docker image is meant for a production environment only and has dependencies on other services. Environment variables are used for configuration. See https://github.com/mozilla/send/blob/master/docs/docker.md for an example.

[2019-04-12 15:52] #1296 closed

[2019-04-13 09:25] raymondpittman opened #1297 "[Question] Environment config.js"
For testing the master branch and possibly contributing, the environment file config.js. For setting other storage methods such as S3 and GCS, are we supposed to set a string for our bucket address? What is the format for other storage method setup, possibly provide a template so I can test contribute.

How do we run prod version with S3 for storage.

[2019-04-14 13:00] ocavue opened #1298 "[Question] How secret keys transport between devices."
I have logined on 2 devices with the same firefox account. After uploading a file from one device, I can download this file from another device without copy download URL. The secret key is on the fragment of download URL's, which means that the secret key has been upload to the Mozilla server and any device who login to my account can get this secret key.

My file is uploaded to Mozilla server aft

[2019-04-15 20:46] dannycoates commented on #1298
Hi @ocavue, good question. Firefox accounts provides and end-to-end encryption key feature that we use to encrypt your list of uploads that gets synced to other browsers you log into. That key is derived from your account password which we (Mozilla) don't have access to.

Here's a brief [overview](https://mozilla.github.io/application-services/docs/accounts/end-to-end-encryption.html), and the cod

[2019-04-15 20:46] #1298 closed

[2019-04-15 22:31] clouserw commented on #1277
I think my comment above sums up the notified/support question.  We aren't going to eliminate analytics from the code.  So, I'm going to close this.  Please comment if there is more we can do.  Thanks.

[2019-04-15 22:31] #1277 closed

[2019-04-18 17:43] johngruen commented on #1273
This is blocked on upstream GeckoView issues. We will ship on older Android phones when those are resolved!

[2019-04-19 04:42] jens1o commented on #1273
@johngruen Is there a tracking issue on GV for that?

[2019-04-19 12:38] Softvision-RemusDranca opened #1300 "[Send2] All buttons don't have press and focus state"
**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Affected Version]:**
- Firefox 66.0.3 and above

**[Prerequisites]:**
- Have a Firefox browser installed.

**[Steps to reproduce]:**
1. Open the Firefox browser and navigate to "https://send2.dev.lcip.org/" website.
2. Click and hold the "Select files to upload" button.
3. Observe the button's state.

**[Expected result]:**
- The bu

[2019-04-19 14:33] Softvision-RemusDranca opened #1301 "[Firefox][Send2] The "Drop files here" list and the "Uploaded Files" list can't be scrolled using the "up" and "down" arrow keys unless an element is actively focused"
**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Affected Version]:**
- Firefox 66.0.3 and above

**[Prerequisites]:**
- Have a Firefox browser installed.
- Have the "https://send2.dev.lcip.org/" website opened.

**[Steps to reproduce]:**
1. Drag and drop more than 5 files in the "Drop files here" section.
2. Click somewhere in the "Drop files here" list.
3. Press the "down" keybo

[2019-04-21 01:50] hayeah opened #1302 "remove password length limit"
The current 32 characters length limit prevents the use of passphrase instead of password, which was introduced in this PR:

https://github.com/mozilla/send/pull/761

I propose removing the password length limit...

[2019-04-22 11:13] Softvision-AndreeaCupsa opened #1303 "[Send 2] An inactive horizontal scroll bar is wrongly displayed on the “Privacy” overlay"
**[Affected versions]:**
- Firefox 66.0.3 and up
- Chrome Version 73.0

**[Affected Platforms]:**
- All Mac
- All Windows
- All Linux

**[Steps to reproduce]:**
1. Open the browser and navigate to the https://send.firefox.com/ website.
2. Click the “Privacy” button.
3. Observe the displayed overlay.

**[Expected result]:**
- The overlay is displayed and only a vertical scroll bar is displayed.

**

[2019-04-22 11:24] Softvision-AndreeaCupsa opened #1304 "[Send 2][Enhancement] Clicking inside the “Privacy” overlay should dismiss it"
**[Notes]:**
- There should be consistency regarding the dismissal of the overlay considering that the upload complete and Sign in/up overlays are dismissed when clicking inside them.

**[Affected versions]:**
- Firefox 66.0.3 and up
- Chrome Version 73.0

**[Affected Platforms]:**
- All Mac
- All Windows
- All Linux

**[Steps to reproduce]:**
1. Open the browser and navigate to the https://send.f

[2019-04-22 12:56] tr37ion opened #1305 "A quick and dirty dark version of Send"
I just hacked a quick and dirty(using filters for images) dark version of Send as a suggestion. Here the output of Firefox's Changes panel:

[code]

[2019-04-22 17:37] fzzzy commented on #1273
@jens1o These two issues need to be fixed, and then a version of Send Android that uses GeckoView instead of WebView can be released. Then the view that displays the app will be consistent on all versions of android, and we should be able to release an android 7 version.

https://bugzilla.mozilla.org/show_bug.cgi?id=1534640

https://bugzilla.mozilla.org/show_bug.cgi?id=1515440

[2019-04-22 19:23] jens1o commented on #1273
Thank you very much!

[2019-04-25 17:50] johngruen opened #1306 "Conduct an A/B Test to measure click through rate different sign in buttons"
We should conduct an a/b test to measure relative CTRs of a few treatments of a primary sign in shoulder button being considered by the brand team. Four proposed variants can be [found here](https://codepen.io/johngruen/pen/pBqgEp)

We should track these events on our own amplitude instance by adding two event property to each client visit:
`experiment: button-variants`
`variation: ${branch}`

As

[2019-04-26 09:12] johngruen opened #1307 "conduct a survey after users send a file"
We should run a short survey to help catalogue and rank feature concepts for Send.

## Requirements
* This survey should run for a set amount of time (2-4 weeks)
* The survey should be accessible from a prompt triggered for users after they have cleared the "Copy to clipboard" modal after a successful upload.
* If the user elects to take the survey, they should no longer see the survey prompt
* Th

[2019-04-26 09:15] pascalchevrel opened #1308 "No firefox download button on the site with a non Firefox browser"
We don't propose  a Firefox download button on localized pages.
Tested on Chrome and Edge on Windows 10 and Linux, French locale.

STR:
1/ Visit send.firefox.com with a non-mozilla browser with http accept-lang headers that don't have English set as the default language

ER:
Get the site with a banner at the top proposing to download Firefox

AR:
No banner.

[2019-04-26 12:34] pascalchevrel commented on #1308
The promo is restricted to English here:
https://github.com/mozilla/send/blob/master/app/ui/body.js#L13

The source is at:
https://github.com/mozilla/send/blob/master/app/ui/promo.js

If we don't get a proper  localization process for the promo in place, I would suggest to at least do a similar hardcoded banner for a few top locales like French, German and Spanish to boost acquisition.

[2019-04-26 15:22] johngruen commented on #1308
@pascalchevrel yeah we should...this button actually converts really well in english. I think we did it as an experiment and then got distracted!

[2019-04-26 15:23] johngruen opened #1309 "Change Sign in/up string to Just be Sign in"

[2019-04-26 16:24] johngruen commented on #1301
We think this could be resolved by setting focus on the panel element when it's scrollable

[2019-04-26 19:15] dannycoates commented on #1236
done in e7964c03eda121f61bc96072b1254bf93e6a3e23

[2019-04-26 19:15] #1236 closed

[2019-04-26 19:16] dannycoates commented on #1308
done in e7964c03eda121f61bc96072b1254bf93e6a3e23

[2019-04-26 19:16] #1308 closed

[2019-04-26 20:48] pascalchevrel commented on #1308
Thanks!

[2019-04-27 12:55] rugk opened #1311 "Downloading bigger files in Firefox fails"
## STR

1. I've got a 7.4 MB file.
2. Upload it, get link.
3. In a different Firefox, create a new tab (!, could not reproduce it otherwise) and click download link.

## What happens

It already shows you "Download finished" and only shows you Firefox' actual download prompt afterwards.

![screen](https://user-images.githubusercontent.com/11966684/56849995-60683480-68fc-11e9-838d-53a16cb388ef.png)

[2019-04-27 23:47] CoderExt opened #1312 "Uploads are very, very slow for Firefox Send"
The speed of downloads are good, but a 28 mg files took a few minutes.  My Internet speed is 60 mbps and I am using Windows 10.

[2019-04-28 02:57] dannycoates commented on #1312
Upload speeds vary by service provider. It's common for some providers to limit uploads to be much slower than downloads. You may have 60mbps down but < 1mbps up. We do not have any rate limiting on our end.

[2019-04-28 02:57] #1312 closed

[2019-04-28 15:03] CoderExt commented on #1312
I understand your point, however, the uploads a much faster using Hightail.  When I have time, I will provide you with some stats.

Jeff Stiegler

The PC Solution

(805) 975-9643

CONFIDENTIALITY NOTICE: the Electronic Communications Privacy Act, Title 18, United States Code, §§ 2510-22, 2701-11, and is intended to be read only by the named individuals or entities to which it has been addressed.

[2019-04-28 16:35] arunsathiya opened #1313 "Android: Suggestion: Consider additional distribution channels like GitHub and F-Droid"
My understanding is that currently the Android app is available only on Google Play Store.

It would be helpful to offer the APK in alternate distribution channels like GitHub or F-Droid.

Thank you!

[2019-04-28 16:38] arunsathiya opened #1314 "Suggestion: Introduce Send on Android share intent"
Currently I do not see Send app on Android's share intent - that is, when I click on the share icon from an app like Gallery, Send is missing. Could this be introduced?

Thank you!

[2019-04-28 17:29] arunsathiya opened #1315 "Android: Suggestion: Continue uploading when app is minimized"
Currently the upload seems to be stalled when the Send app is minimized on Android. It would be nice if the app continues to upload the files in the background. I have no clue about the technical challenges, but I think that might be a good feature.

[2019-04-28 17:29] arunsathiya opened #1316 "Android: Bug: Unable to cancel upload when the process is stalled"
Currently minimizing the app stalls the upload process as mentioned here https://github.com/mozilla/send/issues/1315 but when I attempt to cancel this stalled process, the `Cancel` button does not respond.

The only way to use the app again is to close the app in full (remove from recent apps list) and launch it again.

[2019-04-28 17:30] arunsathiya commented on #1316
I think https://github.com/mozilla/send/issues/1048 comes close, but in my case I have the device connected to the internet. Wonder why `Cancel` does not respond in this case.

[2019-04-28 18:12] arunsathiya commented on #1316
I think this happens when the screen display turns off - when I turn it on again, the `Cancel` button fails to respond.

[2019-04-28 20:21] TheBolliwood commented on #1304
The link to "Privacy" isn't an overlay like the Signup Modal, its another page (https://send.firefox.com/legal).
In my opinion you shouldn't be able to go back to the main page just by clicking inside the white space there.
This page doesn't breaks consistency because you also can't dismiss other pages like `/unsupported`, `/error` or  `/download`.

[2019-04-29 14:31] CoderExt commented on #1312
Here are some more information.

Download speed:  70 MBPS

Upload speed:  9 MBPS

File size: 28 MB

Hightail: 1 second

Firefox Send: 43 seconds

Firefox Send is significantly slower.

Jeff

From: Danny Coates <notifications@github.com>
Sent: Saturday, April 27, 2019 7:58 PM
To: mozilla/send <send@noreply.github.com>
Cc: CoderExt <jstiegler@thepcsolution.net>; Author <author@noreply.github.com>
Su

[2019-04-29 15:05] fzzzy commented on #1312
What device, operating system, and browser are you using?

[2019-04-29 15:59] CoderExt commented on #1312
Computer, Windows 10, Firefox (current version).

Hope this helps.

From: Donovan Preston <notifications@github.com>
Sent: Monday, April 29, 2019 8:06 AM
To: mozilla/send <send@noreply.github.com>
Cc: CoderExt <jstiegler@thepcsolution.net>; Author <author@noreply.github.com>
Subject: Re: [mozilla/send] Uploads are very, very slow for Firefox Send (#1312)

What device, operating system, and browser

[2019-04-29 22:36] TwizzyDizzy commented on #1292
Just ran into this because I did not have `redis-server.service` as unit dependency in my systemd unit file for send, hence `send.service` started before `redis-erver.service` which lead to the same outcome: expired links. I fixed my unit file to circumvent this, but I agree: retrying should be the way to go here.

My fixed unit file for anyone running into this:

[code]

Cheers
Thomas

[2019-04-30 17:27] dannycoates commented on #1307
just need a survey url

[2019-04-30 18:14] CoderExt opened #1318 "Error when signing in"
Get this error message when logging in.  Using computer, windows 10 and Firefox browser.
![image](https://user-images.githubusercontent.com/38814853/56983665-0d2ef580-6b39-11e9-85cb-68d73bf924d2.png)

[2019-04-30 18:47] johngruen commented on #1307
Cool, I'll have it by our stand up

[2019-04-30 19:43] fzzzy commented on #1314
Send is registered as an intent handler for both text and image content types. If it's not working for you, that's a bug. Can you try it with some text to see if that works? It would also be useful to know the content type of the image you are trying to send.

[2019-04-30 20:08] dannycoates commented on #1297
`S3_BUCKET` is the same value you'd use for an api request https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/S3.html#getObject-property

[2019-04-30 20:08] #1297 closed

[2019-05-01 07:25] arunsathiya commented on #1314
Giving it a closer look, I do see it, yes. Thank you.

But, clicking on it does not upload the image/text. Are you able to get it working, @fzzzy?

[2019-05-01 16:39] #1303 closed

[2019-05-01 16:39] #1309 closed

[2019-05-01 16:47] #1307 closed

[2019-05-02 10:31] hugomiguelabreu commented on #1292
What would be the best strategy to implement? I can take this one.

[2019-05-02 17:27] dannycoates commented on #1292
Thanks @hugomiguelabreu

I think a `total_retry_time` of 10 seconds with a 500ms delay is enough

[2019-05-02 21:07] hugomiguelabreu commented on #1292
Couldn't replicate this issue on my machines even using redis container. Tested the connection strategy and it was working. Regarding this specific issue I hope to have some feedback of @hbaier.

[2019-05-02 22:05] #1292 closed

[2019-05-02 22:39] nwtgck opened #1323 "iOS Safari doesn't download"
Hi developers! Thank you for your great application.

## Issue

In iOS Safari, the file download is not available. Safari says like the following.

[code]

iOS Google Chrome has also the same issue, the only error message is different.
Safari on Desktop works properly.

## Demo

Here is a demo video.
![](https://user-images.githubusercontent.com/10933561/57111259-5029dc80-6d76-11e9-8770-ce80303ffc

[2019-05-03 17:10] #1306 closed

[2019-05-06 12:17] Softvision-AndreeaCupsa commented on #1303
I have verified this issue and is no longer reproducible on the https://send2.dev.lcip.org/legal page, on Windows 10 x64, Mac 10.14.4 and Arch Linux 4.16.6 x64.

[2019-05-06 12:22] Softvision-AndreeaCupsa opened #1325 "[Send2] The “Sign In” button does not instantly change into the user icon after signing in"
**[Affected versions]:**
- Firefox 66.0.4 and up
- Google Chrome 74.0.3
- Opera 60.0.3

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Steps to reproduce]:**
1. Open the browser and navigate to the https://send2.dev.lcip.org/ website.
2. Click the “Sign In” button.
3. Enter a valid email address in the email field and click the “Sign in” button.
4. Enter a valid password and cli

[2019-05-06 13:55] Mte90 commented on #1311
I can confirm that the problem happens also with file with 1.1gb and the download is stalling like at 91%.
In thi case was a download without any password, we cancelled and reuploaded but we have problems on downloading.
I tried different time with firefox without any success, so I chosen to use ffsend from cli but also from there we have issues on downloading the file.

[2019-05-06 14:58] Softvision-AndreeaCupsa opened #1326 "[Send2] Files with long names and no spaces are not displayed on multiple rows on Firefox 67 and up"
**[Affected versions]:**
- Firefox 67 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a file with a very long filename (>150 characters with no spaces) saved to your device.

**[Steps to reproduce]:**
1. Open the browser and navigate to the https://send.firefox.com/  website.
2. Click the “Select files to upload” button.
3. Select the file from th

[2019-05-15 22:08] saydulk opened #1329 "auto start send after server reboot"
After server reboot or disconnect $ npm start command "send" stop. How I can keep active send after reboot or disconnect from terminal?

![Screenshot from 2019-05-16 04-07-49](https://user-images.githubusercontent.com/1058663/57812908-3df56880-7790-11e9-8f52-48690a982a0b.png)
![Screenshot from 2019-05-16 04-08-06](https://user-images.githubusercontent.com/1058663/57812909-3df56880-7790-11e9-8f4b-a

[2019-05-17 19:21] saydulk opened #1330 "upload directory"

[2019-05-17 19:56] saydulk opened #1331 "Anroid and IoS save on the server's disk"

[2019-05-22 11:35] Softvision-AndreeaCupsa opened #1332 "[Send2] The “Sign in” button is briefly blurry when hovered"
**[Affected versions]:**
- Firefox Beta 67 and up
- Google Chrome 74.0.3

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Steps to reproduce]:**
1. Open the browser and navigate to the https://send2.dev.lcip.org website.
2. Hover the “Sign in” button.
3. Observe the “Sign in” button.

**[Expected result]:**
- The “Sign in” button has a full background and the text is correctly di

[2019-05-22 22:38] marniepw opened #1333 "Update Firefox logo on interstitial signup page"
Per antlam, please update the Firefox logo to use the updated version on this screen:
<img width="1013" alt="Screen Shot 2019-05-22 at 3 24 27 PM" src="https://user-images.githubusercontent.com/33703387/58213548-72dd5000-7ca7-11e9-8919-e42f77150da6.png">

[2019-05-23 10:08] saydulk commented on #1331
@julen @lmorchard @chuckharmston Anroid and IoS save on the server's disk not working but send works fine from Desktop

[2019-05-23 12:01] AmitThakkar opened #1334 "Upload Via Python Application"
Hello,

We are building the python application, and from python application, we are sending upload file request to our local "SEND" application, but getting 400 Bad Request. I think this is because of authorization header is not present.

With "SEND" client application it works very well. I tried to look into the code but not able to understand how to upload files from different applications. And

[2019-05-23 14:13] janjur opened #1335 "Two small suggestions - max char. limit and webicon"
1. Why is there maximum password length restriction? Even if... 512 chars would be much more appreciated.
2. When uploading, changing website icon's arrow to point UP would be great.

Thanks for this great service, btw :)

[2019-05-23 17:17] saydulk commented on #1331
The problem as follows:

We have installed send at our server (centos 7, local storage) and Uploading files using IOS browser is not working, tested with Safari and Chrome.

[2019-05-23 19:06] saydulk opened #1336 "Problem when upload a file using IOS/Android browser"

[2019-05-23 19:09] #1329 closed

[2019-05-25 04:18] allen505 commented on #1304
The back button here seems to be the Firefox send icon(as seen in the Screen record). So it does maintain the consistency.

[2019-05-28 14:40] pwd-github opened #1337 "Use device credentials"
If a user is signed into their Firefox account, use those credentials rather than asking them to sign in again.

[2019-05-28 14:41] pwd-github opened #1338 "Never sign a user out"
There's no good reason to ever sign a user out of an app they've downloaded.

[2019-05-28 14:44] uniquePWD opened #1339 "Support more share intents"
In all likelyhood, users are more likely to share large files through Send more so than titchy ones likes images. Send should support videos and archives out of the box.

[2019-05-28 15:30] blenderskool commented on #1304
Can I try working on this? 😄 @johngruen

[2019-05-28 18:18] clouserw opened #1340 "Add trailhead topbar"
Send has a bar that advertises Firefox to Chrome users.  We want to repurpose that bar.

* **Deployed on June 3rd**
* This shows up for all visitors (not just Chrome).  This includes logged-in users.
* Logo should be replaced with masterbrand
* Text is changed to "There is a way to protect your privacy.  Join Firefox.  Learn more."
* Link goes to www.mozilla.org/firefox/accounts/?utm_source=send.f

[2019-05-28 18:44] marniepw commented on #1333
Closing due to partial duplicate of #1340

[2019-05-28 18:44] #1333 closed

[2019-05-28 18:46] marniepw commented on #1340
Also, please use masterbrand here:
<img width="1230" alt="Screen Shot 2019-05-28 at 11 45 25 AM" src="https://user-images.githubusercontent.com/33703387/58503796-2928b580-813e-11e9-9d6c-958f62d82f10.png">

[2019-05-28 21:55] #1325 closed

[2019-05-28 22:09] #1326 closed

[2019-05-29 10:43] Softvision-AndreeaCupsa commented on #1325
I have verified this issue and is no longer reproducible on the https://send2.dev.lcip.org website on Firefox 67 and up on Windows 10 x 64, Mac 10.14.3 and Arch Linux 4.16.6 x64.

[2019-05-29 10:47] Softvision-AndreeaCupsa commented on #1326
I have verified this issues and is not reproducible on https://send2.dev.lcip.org website, but is still reproducible on https://send.firefox.com on latest Nightly 69.0a1 (Build ID 20190528214841) on Windows 10 x 64, Mac 10.14.3 and Arch Linux 4.16.6 x64.

However, this issue is still reproducible on Firefox Release 67 and Firefox Beta 68.0b5 on both  https://send.firefox.com and https://send2.dev.

[2019-05-29 23:27] #1340 closed

[2019-05-30 14:37] SoftVision-CarmenFat opened #1342 "[Trailhead] Several UI elements of the banner are different comparing to the specifications"
**[Affected versions]:**
- Firefox Release 67 and up
- Google Chrome  74.0.3729.169

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Steps to reproduce]:**
1. Open the browser and navigate to the https://send2.dev.lcip.org website.
2. Press Ctrl+Shift+K keys.
3. Click the "Pick an element from the page" button.
4. Click the banner's text.
5. Observe the font size value from the s

[2019-05-30 19:02] SoftVision-CarmenFat opened #1343 "[Trailhead] The banner promoting the new Firefox Accounts is not displayed on mobile devices"
**[Affected versions]:**
- Firefox Release 67 and up
- Google Chrome 74.0.3729.157

**[Affected Platforms]:**
- Android 8.0 (Samsung S8, Google Pixel)
- Android 6.0 (Huawei P8)

**[Steps to reproduce]:**
1. Open the browser and navigate to the https://send2.dev.lcip.org website.
2. Observe the top area of the website.

**[Expected result]:**
- The Trailhead banner is displayed.

**[Actual result]:

[2019-05-31 15:35] Bhargavasomu commented on #97
Is this issue still open to take?

[2019-05-31 18:10] dannycoates commented on #1343
fixed in #1344

[2019-05-31 18:10] #1343 closed

[2019-05-31 18:11] dannycoates commented on #1342
fixed in #1344

[2019-05-31 20:35] heywoodlh opened #1345 "Customize Appearance"
Is there any way to customize the appearance of Firefox Send? Our organization is looking to roll it out potentially for some use cases we think we would be useful.

Specifically, can I:
1. Remove ads for Firefox?
2. Change the background, favicon, icon, etc?

If not, then no worries. I love Firefox Send and our organization will probably use it even if we can't change these things. But it would b

[2019-06-01 07:36] finn0 commented on #897
@beerisgood @akuckartz , It seems like they are no longer using any analytics service. see[[1] ], **No third party requests**.

[1]: https://webbkoll.dataskydd.net/en/results?url=http%3A%2F%2Fsend.firefox.com%2F#requests

[2019-06-03 09:10] Forceu commented on #526
It would be great if there was an option to restrict the upload. Unfortunately denying /upload does not seem to work anymore

[2019-06-03 09:40] JorgeGNL opened #1346 "Upload does not work on IOS (self-host)"
We have installed SEND at our server Centos 7, after trying to upload a pic or video using IOS (any browser) the upload fails.

Is there an especial server configuration to allow uploads from IOS?

Thanks.

Centos 7 / local storage / Iphone X / IOS 12.3 / Any browser

![19-06-03 11-33-16 3740](https://user-images.githubusercontent.com/35146278/58792390-5d93ea00-85f4-11e9-9ef7-6bb976ccf22d.png)

[2019-06-03 14:29] SoftVision-CarmenFat opened #1347 "[Trailhead] The banner doesn't correspond to the specifications on mobile devices"
[Affected versions]:
- Firefox Release 67 and up

[Affected Platforms]:
- Android 8.0 (Google Pixel)
- Android 6.0 (Huawei P8)

[Steps to reproduce]:
1. Open the browser and navigate to the https://send2.dev.lcip.org website.
2. Observe the way the text is displayed inside the banner.

[Expected result]:
- The "Join Firefox. Learn more" string is displayed on the left side, on the second row.

[Ac

[2019-06-03 14:44] SoftVision-CarmenFat commented on #1342
Tested this issue again and it seems that the color code for the plain text remained the same #4a4a4f instead of being changed to 0C0C0D. The rest of the elements were updated correctly and verified.

[2019-06-03 19:22] #1342 closed

[2019-06-03 19:22] dannycoates commented on #1347
wontfix

[2019-06-03 19:22] #1347 closed

[2019-06-04 21:58] PopeRigby commented on #1313
Good idea

[2019-06-05 16:33] #1332 closed

[2019-06-06 18:46] M4trox commented on #1304
I don't think that clicking inside "Privacy" overlay should result in overlay dismiss. Someone may want to select some text, copy and paste it elsewhere - for example, when explaining Firefox Send to a friend. What's interesting is that now the text selection is disabled by CSS (`user-select: none`). It should be changed, too, but not necessarily in this issue.

I propose that we should add a link

[2019-06-07 02:11] jnjhbdjhkn opened #1349 "[Feature] Add i2p Instance"
**Feature**: Make accessible via i2p.
**Why?**: Mainly for privacy and security, but also to promote decentralized communication.
**Related Links/How To**:
https://www.invidio.us/watch?v=2ylW85vc7SA

https://geti2p.net/en/about/media

https://geti2p.net/

https://www.wikipedia.org/wiki/I2p

[2019-06-07 21:07] kumar303 commented on #1254
I just came to file a similar bug. The confusing part for me was *after* I signed in. It redirected me to a blank upload page. It didn't contain the file I had selected previously and the expiration had reset to *1 day*.

[2019-06-12 11:37] Softvision-AndreeaCupsa opened #1350 "[Send2] The elements from “Sign in” button are slightly moved or wrongly resized when hovering/ unhovering the button"
**[Regression range]:**
- This issue is not reproducible on Firefox 68 Beta and Firefox 69 Nightly. Considering this, using mozregression tool I have found the [issue](https://bugzilla.mozilla.org/show_bug.cgi?id=1535507) that fixed this in Beta and Nightly. Here is the [pushlog](https://hg.mozilla.org/integration/autoland/pushloghtml?fromchange=365ff23dd4c93ef26743e3fa339b5fac3bf15b66&tochange=2b

[2019-06-12 11:42] Softvision-AndreeaCupsa commented on #1332
I have verified this issue and is no longer reproducible on the https://send2.dev.lcip.org website. Verified on Windows 10 x64, Mac 10.14 and Arch Linux 4.16.6 x64. on Firefox 67.0.1 and up.

[2019-06-14 13:38] MoiMiph opened #1351 "Download file bigger than 1 Go doesn't work - Windows 10 - Firefox / Chrome / Opera"
I just begin to user this service with my account to upload 2 zip files (950 Mb and 1,2 Gb).
"Fire fox Send" made me a single file Send-Archive.zip on the server.
Things worked great for the upload, but now I 'm not able to dowload my "Send-Archive.zip" because the download fail on about 47 % (1 Gb of data).

I tried to download from different web browsers (Firefox 67.01, Chrome, Opera) and from d

[2019-06-15 12:04] filips123 opened #1353 "Send URL via email"
Add support to automatically send file URL via email. This should be something like in WeTransfer.

[2019-06-15 15:10] tranlehaiquan opened #1354 "Wrong direct link when share in facebook"
I have a send link with password. When I shared it through Facebook messenger it will routing to another link not which i want.

My file: https://send.firefox.com/download/fb01d0252e05f07b/#IT3oR8BAx5nkI5IvrweCew
Facebook will direct to: https://send.firefox.com/download/fb01d0252e05f07b/?fbclid=IwAR3UM1S96aw8_8WQfTgHdqkQi9nmOFrua9xz6RZB0Jdmcea6yjKTE9O7v54#IT3oR8BAx5nkI5IvrweCew

[2019-06-17 17:30] havardge commented on #1351
Same issue. Download stops at 1GB.

[2019-06-18 06:21] thenets commented on #1225
That's a pretty amazing opportunity to integrate with other "temp" environments.

I was thinking about a way to create a "notepad" with file upload support that auto-destroy after some time. But I faced some security issues cause I don't exactly know how to completely delete the files from my server without leave opportunities to hackers to recover the files. Trying to solve this problem I was sta

[2019-06-19 16:04] hellosct1 commented on #1353
Hi,
I'm in the process of adding my extension **Transfer send for firefox** [1] for thunderbird
I hope it will be available very soon

[1] https://addons.mozilla.org/fr/firefox/addon/send-to-fx

Christophe

[2019-06-22 07:14] jjdelc commented on #1338
This looks like a bug really. It's really annoying because I use this to send files between my phone and laptop/PC and if I'm signed in in both I don't need to send URLs around via some other app. I can just open the site from my computer and download the file.

[2019-06-23 16:46] sebpuetz commented on #1351
Same for me, get up to 50% of a 2GB archive, then the download stops.

[2019-06-23 20:26] Djfe commented on #97
This still isn't supported sadly, while other sites like Google Drive handle folders just fine.

[2019-06-25 17:36] rgpublic opened #1356 "Please, please provide *decent* installation instructions"
Dear Mozillas, why is this so *incredibly* difficult to setup (at least for someone not literally living in the NodeJS universe)? Do y'all really *want* us to run this stand-alone? Or is this another way of saying: Please don't try this at home?

You have docker containers and all this other fancy modern stuff so getting this running with all dependent services should be a breeze, right? Unfortuna

[2019-06-26 15:34] SaulMoonves opened #1357 "Release v3.0.12 build fails"
Not sure exactly how to run/build releases so I tried just running it (fails missing node_modules) npm install (broken site), npm install && npm run build (fails with below error.)
[code]

[2019-06-26 15:40] SaulMoonves opened #1358 "Please Provide Apache Reverse Proxy Config"
I took a whack at it and came up with: enabling mod_wstunnel; and then a VirtualHost containing (at least):

[code]

However, I do not know how correct this is. Would like some confirmation.

*edit - now this config works.

[2019-06-26 15:48] SaulMoonves opened #1359 "Upload sits at 0%"
Using git revision 54a8c504ce7f3b288ba2715365c0292b8f5f66b3
npm: 5.6.0
node: 8.11.2
os: Ubuntu 18.04.1 LTS

steps:
[code]

site starts normally and without error. drag file into drag box, works without error. Attempt to submit file shows file icon and upload percentage, however it never changes from 0%.

Browser inspector shows no Javascript errors. A websocket connection is established. But I see

[2019-06-26 16:12] SaulMoonves commented on #1359
Additionally, the Cancel button does not do anything.

[2019-06-26 17:17] SaulMoonves commented on #1359
Using the Apache config I created in ticket #1358 fixed this problem.

[2019-06-26 17:17] #1359 closed

[2019-06-28 20:47] oliver-dvorski opened #1360 "Can we limit the display of the promo banner to only non-firefox userAgents?"
It's just a thought. Personally, I'm super annoyed by the thing but that isn't really relevant. I'd just like to know if this is a design decision or not.

Sorry if I'm posting in the wrong place, I don't see a forum anywhere so... here we are

[2019-06-28 20:58] oliver-dvorski commented on #1356
I'll just start with apologising for the fact that this reply probably isn't going to help you at all. Then I'd like to ask if you're trying to set up a dev environment or if you want to run this on some production machine?

If you'd like to get it up and running on a dev env, the only caveat I've found is that you _need_ to be using node 10.x for the npm installation to go through. Node 12 won't

[2019-06-29 11:13] oliver-dvorski commented on #1357
Not sure why you'd need to run the build script with a release... But I was able to reproduce this by deleting my .git folder within the source code. This folder isn't packed with the releases. Meaning if you want to run the build script, you should clone the repo, run `npm install` and off you go :) the build script should work just fine after that

[2019-06-29 17:17] arunsathiya commented on #1337
I vote for this idea as well. I was logged in on Firefox Preview, but had to login again on Firefox Send. It would be great if Firefox Send can read the existing login on the Firefox browser.

[2019-06-29 23:44] moz-hwine commented on #1279
Looks good

[2019-06-29 23:44] #1279 closed

[2019-07-01 13:19] zerohashcrbn commented on #1356
Hey buddy @rgpublic  I'm extremely agree with you and I've already suffered your pain longtime ago. There are certain things that are published in GitHub that developers are not sharing for the common use but for fulfilling the "open-source quote". I recommend you instead to figure out how to run properly "Firefox Send", to take a look on https://www.projectsend.org/. It's quite easy to install an

[2019-07-01 15:57] SaulMoonves commented on #1357
If I just unpack the release, modify the config file and start, I get a blank white page with some broken image references, so I assumed there was some extra step I was missing. Maybe that should have been the issue I filed.

[2019-07-02 07:32] aurora-of-earth opened #1361 "Add a 'deploy to Heroku' button"
Add a one-click 'deploy to heroku' button to easily  host a private instance.

[2019-07-02 14:26] rgpublic commented on #1356
Hey, @zerohashcrbn thanks for the tip, but we are already running ProjectSend here in our company, but I'm not too happy with it either. That's why I wanted to try out Firefox Send. ProjectSend is quite a hassle if you have lots of different and always changing people to communicate with. Users, downloads, etc pile up, are not auto-cleaned etc. All in all, yes, it does the job but is IMHO rather c

[2019-07-02 14:54] zerohashcrbn commented on #1356
@rgpublic Understood. Look at this https://github.com/Kickball/awesome-selfhosted#single-clickdrag-n-drop-upload... There is a project called Jirafeau, looks quite good https://gitlab.com/mojo42/Jirafeau.

[2019-07-02 15:19] oliver-dvorski commented on #1356
This got me interested. Figured it can't be **that** difficult... Got it up and running on https://send.oliverdvorski.com/ in less than 10 minutes. If you actually care about the _how_ of the deployment process, notice what it says under `/docs/build.md` - you're supposed to run `npm run build` to build the assets and then set up a server with `npm run prod`. To deploy it to my VPS I just ran the

[2019-07-02 17:01] rgpublic commented on #1356
Thanks, but no luck:

![grafik](https://user-images.githubusercontent.com/17726950/60531672-cbb6f400-9cfb-11e9-9b54-dc3e5ba8ffc1.png)

[2019-07-02 17:06] oliver-dvorski commented on #1356
😬 ouch. My bad. `npm install` has to be run after cloning

[2019-07-02 17:16] rgpublic commented on #1356
Okay, one step further. Next error. At least you see now: The docs could definitively be improved ;-) And remember: All this stuff might very well be ridiculously easy to solve if you are used to NodeJS and npm etc. If this was a PHP application, for example, I probably would be able to solve even rather obscure problems. But if you are not normally working with this kind of stuff, even minor mist

[2019-07-02 18:37] oliver-dvorski commented on #1356
Strange. What npm and node  versions are you running?

[2019-07-03 13:36] rgpublic commented on #1356
* "npm -v" prints "5.8.0"
* "node -v" prints "v8.11.4"
I'm on Ubuntu 18.10 (cosmic)

[2019-07-03 14:09] oliver-dvorski commented on #1356
Ok, try updating to node 10. I'll see if I can reproduce this on node 8 in
a bit. After the update, run `rm -rf node_modules` to be on the safe side
and run `npm install`, maybe that could help

rgpublic <notifications@github.com> schrieb am Mi., 3. Juli 2019, 15:36:

[2019-07-03 16:52] rgpublic commented on #1356
Okay. This took a while, because our server is S-L-O-W. Nevertheless, I've updated the whole server from Ubuntu Cosmic to Ubuntu Disco which fortunately brings Node 10:
* "npm -v" prints "5.8.0"
* "node -v" prints "v10.15.2"
Still it aborts on exactly the same error, though (Cannot find module webcrypto_core). In addition there's now a new warning above saying "npm WARN npm does not support Node.j

[2019-07-03 19:57] oliver-dvorski commented on #1356
https://stackoverflow.com/questions/47226238/npm-warn-npm-npm-does-not-support-node-js-v9-1-0

After a bit of research, I got the impression that npm 5.8.0 should work with node 10.something. I could be wrong tho. Either way, I never ran node or npm from ubuntus repos. I'd try installing it the official way. When I downgrade to Node 10, I still use npm 6.9.0 and I still don't have that issue. Agai

[2019-07-04 15:14] rgpublic commented on #1356
Okay, I uninstalled nodejs packages from Ubuntu, did the install from the manual and now "npm install" hangs on "Downloading chromium" at 35%. Good grief, this is one of the worst installations I've ever encountered. But thanks a lot for your help @oliver-dvorski. I will definitively need some rest over the weekend and try again on Monday.

[2019-07-04 15:30] yogishb608 commented on #1361
@aurora-of-earth Hi I would like to take this. Let me know where to add.

[2019-07-04 15:47] oliver-dvorski commented on #1356
Downloading chromium? 🤔 I don't really see why npm would be downloading
chromium for this project. Anyway, have fun over the weekend, I'll be here
on Monday 😊 try screenshoting the process for me then if you don't mind.
So I can try to reproduce the error

rgpublic <notifications@github.com> schrieb am Do., 4. Juli 2019, 17:14:

[2019-07-08 07:12] geekykant commented on #1354
I would agree more to it for Facebook to solve this query string problem. The unique **tracking parameter** added by Facebook, just fails itself to redirect properly.

[2019-07-08 07:21] geekykant commented on #1314
@arunsathiya Same here, I tried with the basic files (JPG, PNG, Mp3) and *none worked*.

[2019-07-08 10:58] rgpublic commented on #1356
@oliver-dvorski Okay, new week, new luck. I've switched to a large server, because I think the server had to little memory for whatever "npm install" is doing. This is why the "downloading chromium" got stuck. Now, on the new server I installed Node 10 from the Node Source Repository, then "npm install" which finished with no problems and the "npm run build". Still the same error, though:

![grafi

[2019-07-08 15:53] fzzzy commented on #1361
I would recommend putting it in the README file.

[2019-07-09 06:15] yogishb608 commented on #1361
@fzzzy I need little more clarity on this. Like on click where to redirect?

[2019-07-09 13:01] oliver-dvorski commented on #1356
Spun up a vm to reproduce this. I was indeed able to. Then I did Googled that error and the only result solved it fantastically - https://github.com/mozilla/send/issues/1221#issuecomment-474449798

Running things as root isn't recommended anyway, I didn't even notice that in the screenshots lol

[2019-07-09 14:56] rgpublic commented on #1356
Wow. Incredible. It worked. Thank you so much @oliver-dvorski. Weird, when I google that error it doesn't turn up anything valuable. Terrible personalized results :-( Note for others: After switching to the new user you need to do the "rm -rf node_modules", "npm install" from the new user account again. It isn't sufficient to just do the "npm run build" again with the new user or you will run into

[2019-07-09 18:03] oliver-dvorski commented on #1356
Precisely. You can set up the daemon with PM2, like described in the tutorial I linked earlier (https://www.digitalocean.com/community/tutorials/how-to-set-up-a-node-js-application-for-production-on-ubuntu-14-04#manage-application-with-pm2).

Let me know if you managed to set it up, I'd love to see it :)

Also, are you going to configure your own storage situation?

[2019-07-10 03:41] tranlehaiquan commented on #1354
But i don't know if it is right or wrong. It redirect me to same file with password. I lost 30 minutes to figure that out : )).

[2019-07-10 10:38] rgpublic commented on #1356
Wohoo. It finally works. It will be a non-public server, so I cannot give you a link or anything, I'm afraid. Only thing that spoils the final party is the fact that the generated URLs are all of the form: http://127.0.0.1:1443/....
i.e. the proxied connection not the external one. If you also know any way around that @oliver-dvorski I would be very happy to learn about it :-)

Anyway, I'd like to

[2019-07-10 10:50] oliver-dvorski commented on #1356
No worries, happy to help

On my setup the URLs render as expected. So it could be your Apache config... I'm a bit clueless in that department tho.

![Screenshot_20190710-124458_Firefox](https://user-images.githubusercontent.com/9038049/60963496-404bed00-a311-11e9-9204-f76e28c72d96.jpg)

[2019-07-10 12:32] rgpublic commented on #1356
I've updated my comment. "ProxyPreserveHost on" does the magic. Remaining problem (which I can see from your screenshot does also happen your setup): The generated URL is http://... I think this is quite problematic, because the URL can be intercepted when it is being sent unencrypted over the web, right? Anyone with access to the URL can download the file which kinda thwarts the original intentio

[2019-07-10 19:14] oliver-dvorski commented on #1356
Excellent! Don't forget to close the issue 😉

I don't see how this would be horrific? The only way I see this data being intercepted is if you would catch someone visiting that http link. I understand that no computer system can be trusted but that's your LAN we're talking about. Uploading some shady stuff at work? 😜 You can use a VPN which protects against this and you can password protect that f

[2019-07-10 20:27] jonalmeida opened #1364 "[Android] Sharing an image to Send does not bring up the file"
Steps to reproduce:
1. Open an image viewer e.g. Google Photos
2. Click the Share button and select Send.

Expected:
- The image to show up that will be ready for uploading.

Actual:
- Send opens up but shows no signs of having received a share intent.

Device Info:
- Android 9, Pixel 2
- Send version: 1.0, 10/07/19 (from Play Store)

[2019-07-11 11:31] aurora-of-earth commented on #1361
@yogishb608 @fzzzy something like <a href="https://github.com/Rudloff/alltube#on-heroku">this</a>.

[2019-07-11 12:03] yogishb608 commented on #1361
@aurora-of-earth Got it. will do it. Thanks a lot :).

[2019-07-11 12:20] yogishb608 commented on #1361
[#1365 ](https://github.com/mozilla/send/pull/1365)

[2019-07-11 14:07] oliver-dvorski commented on #1357
I think, with the releases, you're only supposed to run `npm run prod`. This will spin up the server at `localhost:1443`. The release already contains the assets that `npm run build` creates.

[2019-07-11 17:46] rgpublic commented on #1356
Hahaha, @oliver-dvorski , nope - don't have any shady stuff here to upload, but thinking about it you are giving me new ideas ;-) No, generally, we plan to use it the other way round: We give customers the credentials to the server and they can send *us* some secret documents etc. And in this context, the URL is transmitted unencrypted over the internet if you don't watch out and use HTTPS. The sc

[2019-07-11 17:49] fzzzy commented on #1356
@rgpublic Before you close this bug, could you put the information in https://github.com/mozilla/send/issues/1356#issuecomment-510008889 into a deployment.md file in the docs directory, link to it from the README.md, and open a pull request?

Thanks!

[2019-07-11 17:57] rgpublic commented on #1356
Sure, @fzzzy Will try to do this. BTW: I just solved the final protocol problem by finding this issue:
https://github.com/mozilla/send/issues/1238
You have to set environment variable NODE_ENV=production
I edited my comment / startup script accordingly.

[2019-07-11 19:44] oliver-dvorski commented on #1356
Welp, that's embarrassing 😬

Either way - good job!

[2019-07-12 10:08] rgpublic commented on #1356
Arrrgh. When I set NODE_ENV=production, the links are correctly generated as https://  but now all generated links are immediately expired. Gee, installing this thing is *annoying* like nothing else.

[2019-07-12 10:15] rgpublic commented on #1356
Ah, found the solution in another issue: https://github.com/mozilla/send/issues/1358
You should NOT use NODE_ENV=production but instead use:
RequestHeader set X-Forwarded-Proto https
Now, finally it really seems to work as it should. Sigh. Okay, I will once again edit my installation comment above and then put everything into a pull request.

[2019-07-12 11:11] rgpublic commented on #1356
Done. Wow. A bit exciting. My first pull request on GitHub ;-)
https://github.com/mozilla/send/pull/1366

[2019-07-12 11:11] #1356 closed

[2019-07-12 20:34] DominicDesbiens opened #1367 "Wrong password when downloading in Google Chrome !?"
Hi,

I've just sent a file to a friend. Set a password for it. When open the download link in Firefox, the password for the file is OK, but in Google Chrome, it says wrong password !

No space in the password, only numbers, letters and a special char « ! ».

Please fix this...

[2019-07-12 21:50] yamamashakaa opened #1368 "No resume available if the connection lost"

[2019-07-12 21:52] yamamashakaa commented on #1368
When I upload large file if the connection lost it does not continue uploading and it dos not show an error message I have to start over even if I reach 90%

[2019-07-13 13:57] DanielValahul opened #1369 "Website/app logs me out after a couple of days"
Title says it all. Could it be possible to remember my login until logout?

[2019-07-15 01:39] zerohashcrbn opened #1370 "The link has expired immediately after upload a file."
Hello,

Well after install successfully Mozilla Send, once I upload a file, the link immediately expires.

![1](https://user-images.githubusercontent.com/10604088/61192092-6d80fe00-a677-11e9-8f21-1b4b281a6c2b.png)
![2](https://user-images.githubusercontent.com/10604088/61192093-6d80fe00-a677-11e9-8126-a868deb5dbd9.png)
![3](https://user-images.githubusercontent.com/10604088/61192094-6e199480-a677-

[2019-07-15 02:39] zerohashcrbn commented on #1356
@oliver-dvorski @rgpublic Hey guys, after reading your fantastic exchange of ideas, no just to be curious I installed firefox send self-hosted, however I'm facing an issue that I don't understand properly. Each time I upload a file, immediately the link expires. I researching but I'm not able to find a clue about where the problem is. I'm using Nginx as reverse proxy, I don't know if perhaps it wo

[2019-07-15 16:33] rgpublic commented on #1356
@zerohashcrbn Did you read my note about "NODE_ENV=production"? The same problem occured when I ran with "NODE_ENV=production". Make sure neither your run.sh includes that line nor your normal environment (you could check with "export" AFAIK).

[2019-07-15 16:51] zerohashcrbn commented on #1356
@rgpublic Yes, I read it, however I'm keep facing the issue, even I included the RequestHeader set X-Forwarded-Proto https in my Nginx VirtualHost and the problem persist. Well thank you very much, I'm gonna keep researching, at the end I'm just intalling it for testing purposes, is not a big deal.

Cheers.

[2019-07-15 17:23] Lekensteyn opened #1371 "Insecure password storage: KDF with low PBKDF2 iterations and HMAC with fixed nonce"
In #607 a concern was raised by @ehuggett about an insufficient number of iterations for the PBKDF2 function as used for processing the *authentication* password. This key is not used for *encryption* if users think so.

I think it is realistic to assume that the share URL (file.url) can be compromised at some point (e.g. because a conversation/email was leaked). If the KDF output is leaked, then

[2019-07-15 23:47] zerohashcrbn commented on #1370
Ni verga...

[2019-07-17 11:47] #1370 closed

[2019-07-17 17:52] VADemon commented on #423
Real use case: share a document from PC to smartphone without self-emailing it (sic) or using a USB cable.
I don't care in the slightest whether or not Fx has native QR code scanner support, I've an app installed just for that.

[2019-07-17 17:54] oliver-dvorski commented on #423
I just noticed that my stock camera app reads QR codes (s8+). So that makes
things even more convenient...

VADemon <notifications@github.com> schrieb am Mi., 17. Juli 2019, 19:52:

[2019-07-18 18:48] lucasverra opened #1373 "can you open source the landing page ?"
Looks gorgeous :)

[2019-07-19 07:49] rfk commented on #1337
(context: I'm one of the developers on FxA, Firefox Sync, etc)

This is an excellent idea and we should definitely try to smooth out this login flow over time. However, there are some technical reasons why it's not as easy as it might appear.

When you sign in to Firefox Send with your Firefox Account, the login process transparently generates some encryption keys that are used by the Send front-e

[2019-07-21 05:30] rbrito opened #1374 "[Android] Please provide app for Android earlier than Oreo"
Hi.

I used Firefox Send a few times on my Moto G4 Plus (running Android 8.1) and am very happy with it.

I tried to install it on a Samsung S6 with Android 7.0 and saw that Google Play didn't offer it. Looking more closely, I found out that it seems to require [minSdkVersion 26][minsdk], which is quite high.

Can a new version be uploaded to the Play Store so that it is relaxed? I have quite a fe

[2019-07-21 14:01] dennis-mb commented on #1020
Alternatively or additionally, employ a second "reenter password" field in order to prevent that typos in the password render the upload useless.

[2019-07-22 00:07] Justinzobel opened #1375 "Unable to reset password using recovery code"
As tile suggests. Get error "Something went wrong!" then cannot continue.

[2019-07-23 03:28] theREALaltoid commented on #1373
I'll be willing to scrape the code if mozilla will give me permission.

[2019-07-23 03:45] theREALaltoid commented on #1369
We could issue a cookie from the server side(oauth-send-fxa.dev.lcip.org).

[2019-07-23 09:38] lucasverra commented on #1373
@theREALaltoid

![image](https://user-images.githubusercontent.com/11323803/61701359-5066c200-ad3e-11e9-9fa2-1b7ac74a2930.png)

normally they should

[2019-07-23 09:55] luciusmagn commented on #1373
Howdy,
I am not really well versed in the arts of Firefox Send, but we are running
our own fork of Send in our friends group and I made changes in the landing
page, so I am pretty sure it is opensourced and in the repository as well.
it's templates, but you should still be able to pick it off and do
something with it.

On Tue, Jul 23, 2019 at 11:38 AM Lucas Verra <notifications@github.com>
wrote:

[2019-07-25 22:48] J-J-Chiarella commented on #1267
Please re-open this.

Ubuntu 19.04 (x86-64). Firefox 68.0
Add-ons: uBlock Origin, HTTPS Everywhere, Zotero
Other notables: I am logged into Firefox Sync on two devices.

I get the "something went wrong" screen on <https://send.firefox.com>. I get an e-mail every time, however, indicating I (successfully) signed in to Firefox Send at [TIME]. I have tried Private Window and that made no difference.

[2019-07-27 07:08] scluff opened #1376 "REDIS_EVENT_EXPIRE no longer works"
The REDIS_EVENT_EXPIRE environment variable was added in #536 (and is still defined in send/config.js). It appears the related server functionality was removed in #758. As a result, setting this to true does nothing at all.

[2019-07-31 16:28] dannycoates opened #1377 "Investigate failed uploads / downloads"
There's been some mention of hanging uploads and downloads on the web. This for example: https://old.reddit.com/r/firefox/comments/cjpmhm/real_world_review_for_firefox_send/

I may have reproduced it and got this error in the browser:
<img width="561" alt="Screen Shot 2019-07-31 at 9 26 56 AM" src="https://user-images.githubusercontent.com/87619/62229886-8b3bac00-b375-11e9-92be-fc9c7dfb9063.png">

[2019-07-31 19:07] LoneFenris commented on #1377
#1280 potentially related on the download side.

[2019-08-01 07:36] aakay commented on #1377
Hi @dannycoates , thanks for the investigation and the ticket.

I'm the author of the post. If there's something I can help, please don't hesitate to contact me.

[2019-08-02 10:36] Justinzobel commented on #1375
Mozilla don't seem to care too much, oh well.

[2019-08-02 10:36] #1375 closed

[2019-08-05 15:24] fzzzy commented on #1375
I think this isn't a Send bug, but a Firefox Accounts bug. You might have more luck in the right bug tracker.

[2019-08-08 08:48] MordiSacks commented on #1280
@MatthiasEgli-chainsecurity  same issue

[2019-08-09 19:46] dannycoates commented on #1377
@aakay thanks for your patience. Our next release will hopefully fix most upload issues and provide us better error reporting to help identify any others. If you're interested I welcome you to try it out before release on our testing site https://send2.dev.lcip.org

[2019-08-09 20:47] aakay commented on #1377
Hey @dennycoates, thanks a lot for the fix. I’d love to help whenever I can. Sure, I’ll try it when I need to send a file, as I’ve done till now :).

[2019-08-11 09:22] Prateek93a commented on #1304
Hello world, can I, @Prateek93a, work on this one as my first contribution to Mozilla community?
How I look at this, is that if we have a closer look at all other links beside Privacy, such as Legal, Cookies and Github, they all point to different links and take the user to entirely different pages. On the  other hand, Privacy link sort of opens a modal like page which very similar to sendFile pag

[2019-08-13 12:50] TwizzyDizzy opened #1379 "Changes to config handling in 3.0.16"
Hi @dannycoates,

in https://github.com/mozilla/send/commit/f0407f9beb942d4d5dbb69e221fb225fb9dc2b0a you seem to have changed the handling of configuration files.

I dug a bit into https://github.com/dannycoates/configstore which suggested that the config file needs to be stored in `~/.config/configstore/[some-identifier].json` so I moved my config to `~/.config/configstore/send.json`. That didn't

[2019-08-13 15:41] TwizzyDizzy commented on #1379
Ah well... it seems it's not in real use, yet?

[2019-08-13 15:53] dannycoates commented on #1379
@TwizzyDizzy the configstore is only used by our `@google-cloud/node-storage` dependency for resumable uploads. The config for Send itself hasn't changed.

[2019-08-13 15:53] #1379 closed

[2019-08-13 18:09] dannycoates opened #1380 "Client side retry / resume"
a modest number of transfers, both up and down, fail due to connection issues that could be resolved with a retry mechanism, especially on mobile devices.

[2019-08-13 18:09] dannycoates commented on #1377
v3.0.16 was released yesterday. Early data suggests our internal connection issue is fixed but "regular" connection issues between the device and us can still be improved with a more robust retry mechanism. I'm closing this in favor of #1380

[2019-08-13 18:09] #1377 closed

[2019-08-14 07:41] gma-a11y commented on #1305
Hi,

Where in the installation can I implement this code?

[2019-08-14 21:49] SvenAbels opened #1381 "OAuth 2.0 / Keycloak suppot"
We ar eusing Keycloak as an Open Source Identity and Access Management.

Is it possible to use something like Keycloak (via OAuth 2.0?) instead of a FXA server for user logins of Mozilla Send? As far as I can see in the config file, we can only specify a link to an FXA server together with a client id.

If an FXA server is required: Can we use the one from Mozilla and - if yes - how can we obtain

[2019-08-17 11:25] AmitGoren opened #1382 "The Hebrew is all over the place with the English, and the numbers."

[2019-08-19 02:56] hiCasper opened #1383 "Error when uploading files"
When I set NODE_ENV=production then upload the file from Chrome, the browser will warn:

But it won't happen if I use dev mode. How can I fix it without using an FXA server?
If an FXA server is required: Can we use the one from Mozilla and - if yes - how can we obtain a client id?

[2019-08-19 18:03] dannycoates commented on #1382
@AmitGoren thank you for reporting this. The fix will be in our next release.

@flodolo is there a way to lint the fluent files to catch issues like this earlier? (https://github.com/mozilla/send/commit/1e1268fff0da004f6c654f764769c25a6dab52d7)

[2019-08-19 18:07] flodolo commented on #1382
Not really, because compare-locales doesn't report a missing placeable, only warns for missing terms. For Firefox I have some basic checks, but they wouldn't be applicable elsewhere.

[2019-08-19 18:49] #1382 closed

[2019-08-19 20:52] pdehaan commented on #1382
I have a really lame tool for some basic FTL linting: https://github.com/pdehaan/fluent-syntax-lint

[code]

There are a number of false positives where certain locales add "decorators" to some variables. For example, in the case of /cs/, instead of `{ -send-brand}`, they use `{ send-brand(case: "ins")}`, which my code can't do an exact match for, so it displays a message.

[code]

[code]

And if

[2019-08-20 04:18] flodolo commented on #1382
I feel like they're all false positive, unfortunately.

Terms [can be parameterized](https://projectfluent.org/fluent/guide/terms.html), and that's valid syntax. There's a policy issue, which is "brand names shouldn't be changed", but that's a different conversation to have with them :-\

[2019-08-20 21:55] clouserw opened #1384 "Error: hung download"
https://sentry.prod.mozaws.net/operations/send-prod/issues/6136897/

[code]

[2019-08-21 11:36] johngruen opened #1385 "Implement Firefox Send Intercept UI"
In order to run a survey and recruit interview participants for Q4/2020 work, we need to run an intercept survey...

the UI for running the intercept is here: https://zpl.io/VxwGOAk

conditions for displaying the intercept prompt can be found [here](https://docs.google.com/document/d/1DSvzvwVozTYYOhG4ncIWTBpCrfREmTohR7oKyI_814M/edit?ts=5d373110#heading=h.np6a2au9xxcu).

The intercept survey URL is

[2019-08-24 02:12] zirafa commented on #1353
Huge +1 to this. A browser plugin is cool but not the same feature -- I'm imagining the ability for Firefox Send to send an email to recipients through the web interface and via its own mail servers. The desired outcome is I would not have to login to my email to send a link.

[2019-08-26 16:54] janiceahn commented on #1385
I'd prefer the bottom banner so that the users have more control:

It doesn't disrupt in the middle of the task
It persists until dismissed

Lmk your thoughts.

On Mon, Aug 26, 2019 at 12:12 PM Danny Coates <notifications@github.com>
wrote:

[2019-08-26 18:21] janiceahn commented on #1385
Thank you for explaining.

Even though it will take longer, the banner will work better and I believe
we'll have the opportunity to reuse it in the future.

On Mon, Aug 26, 2019, 1:28 PM Danny Coates <notifications@github.com> wrote:

[2019-08-26 19:06] FN2187fo commented on #1338
This definitely needs more attention. This is so annoying and makes the app nearly useless.

[2019-08-26 19:11] FN2187fo opened #1386 "I keep getting a 429 error no matter what device or browser I#"

[2019-08-26 19:12] #1386 closed

[2019-08-26 19:13] FN2187fo commented on #1386
Sorry, I'll open a new one, hopefully without pressing enter accidentally this time.

[2019-08-26 19:14] FN2187fo opened #1387 "I keep getting a 429 error no matter what device or browser I'm using"

[2019-08-27 17:26] FN2187fo commented on #1387
No, I'm not. It works again now, but I would like to know why this happened and if it could happen again.

[2019-08-28 22:26] clouserw commented on #1384
There isn't much we can do here, but let's keep an eye on it by moving these error reports to amplitude.

[2019-08-28 22:37] clouserw commented on #1360
The design decision was to repurpose the "Download Firefox" bar with a "Join Firefox" link -- which is something that may interest Firefox users as well.  This was done in #1340 so I'm closing this.

[2019-08-28 22:37] #1360 closed

[2019-08-28 22:54] clouserw commented on #1387
Error 429 is Too Many Requests.  If your IP is shared, it could be many users.  If it's not shared, maybe you tried to do too many accesses to Send in a short amount of time.

[2019-08-28 22:54] #1387 closed

[2019-08-28 22:57] clouserw commented on #1383
You're running into a CSP policy.  You'll need to add the domain name you want to connect to to the `connectSrc` list at https://github.com/mozilla/send/blob/master/server/routes/index.js#L38

[2019-08-28 22:57] #1383 closed

[2019-08-28 23:00] clouserw commented on #1373
Everything is already in this repository.  If you're talking about the UI on send.firefox.com look at https://github.com/mozilla/send/tree/master/app/ui

[2019-08-28 23:00] #1373 closed

[2019-08-29 16:13] clouserw opened #1388 "Let's upload sourcemaps to sentry"
https://docs.sentry.io/platforms/javascript/sourcemaps/#hosting--uploading

[2019-09-04 22:12] clouserw commented on #1369
This is working as designed.  If we wanted to extend the login periods we'd need to use a refresh token from FxA.  I'll mark this `needs:product` for input from the Product owner before closing.

[2019-09-04 22:16] clouserw commented on #1367
Thanks for filing this.  We tried to reproduce this with uploading in Firefox Nightly and downloading in Chrome 76.  I tried a password of `test!123` and it worked as expected.  If you have more steps to reproduce we can look again, but as of now I'll close this.

[2019-09-04 22:16] #1367 closed

[2019-09-04 22:18] clouserw commented on #1361
Closing based on #1365

[2019-09-04 22:18] #1361 closed

[2019-09-04 22:20] clouserw commented on #1358
Looks like this is available at https://github.com/mozilla/send/blob/master/docs/deployment.md#apache-webserver

[2019-09-04 22:20] #1358 closed

[2019-09-04 22:20] clouserw commented on #1357
Please review the community-contributed deployment instructions at https://github.com/mozilla/send/blob/master/docs/deployment.md

[2019-09-04 22:20] #1357 closed

[2019-09-04 22:23] clouserw commented on #1354
It looks like this is something facebook adds for tracking.  It does break the download link though so it's a legitimate bug -- we should strip out or ignore any extra URL params

[2019-09-04 22:26] clouserw commented on #1351
Is this still reproducible?  If so, could you send me the URL you have problems with?  Email to wclouser at mozilla dot com would be great.  Thanks

[2019-09-04 22:27] clouserw commented on #1350
Thanks for filing.  Closing as Fx69 was just released which makes this a couple versions back.

[2019-09-04 22:27] #1350 closed

[2019-09-04 22:30] clouserw commented on #1346
I tried this with Firefox release on iOS 12.4 and it worked as expected on send.f.c.  There are no special settings for iOS uploads so this might have been transitory or a misconfiguration.

[2019-09-04 22:30] #1346 closed

[2019-09-05 14:07] krosseyed opened #1389 "Error on npm run build due to webpack?"
I keep running into an issue with trying to build send, and it seems that it is during the 'webpack' phase. Attached is the output of my debug.log file:

0 info it worked if it ends with ok
1 verbose cli [ '/usr/local/nvm/versions/node/v10.16.3/bin/node',
1 verbose cli   '/usr/local/nvm/versions/node/v10.16.3/bin/npm',
1 verbose cli   'run',
1 verbose cli   'build' ]
2 info using npm@6.9.0
3 info

[2019-09-05 21:34] dannycoates opened #1390 "intermittent service worker issues"
a few internal and external reports of "blank" pages. i suspect its around updating sw versions

[2019-09-06 09:14] lucasverra opened #1391 "web client issue on loading : blanck screen"
here it is on latest firefox macOs

![image](https://user-images.githubusercontent.com/11323803/64416443-7bf7fe80-d097-11e9-871a-a8166ea34795.png)

[2019-09-06 11:01] NoUsername commented on #1391
Same on Windows 10 with Firefox Developer Edition 70.0b3 (64-bit)

[2019-09-06 11:08] lucasverra commented on #1391
seems fixed now but will let contributors to close

[2019-09-06 14:49] gcp opened #1392 "Broken in Chrome 76 (for some users)"
Going to https://send.firefox.com gives me a (near) blank page in Chrome. I see the logos on top and bottom, and a large white box, but nothing in it.

Tested Chrome 76 on Linux and macOS. The original report was from a Windows user.

It seems to work on Android, and other people in #firefox reported success on macOS with the same version.

So I have no idea what's going on.

[2019-09-06 14:50] gcp commented on #1391
I guess this might be the same as https://github.com/mozilla/send/issues/1392.

[2019-09-06 14:51] gcp commented on #1391
And probably #1390

[2019-09-06 14:52] gcp commented on #1392
Probably dupe of #1390

[2019-09-06 14:52] #1392 closed

[2019-09-06 16:39] dannycoates commented on #1391
Thanks for the reports everyone. closing as a duplicate of #1390

[2019-09-06 16:39] #1391 closed

[2019-09-07 21:27] krosseyed commented on #1389
Looks like it was a permissions issue on my side in the directory node_modules directory. Set to the apache user and now it builds properly

[2019-09-07 21:28] #1389 closed

[2019-09-09 19:32] janiceahn commented on #1385
@dannycoates how's this going? do you have an estimate on when this would be ready? i'm emerging from some other work so trying to do some planning for this Send UR.

[2019-09-10 02:44] rfk commented on #1381
Send uses a fairly unique feature of FxA whereby the signin flow generates client-side encryption keys that the application can use to protect data stored on the server. Any replacement auth system would need to provide similar functionality.

Sorry, we do not yet allow third-party services to use FxA as an OAuth provider. I'd like to see us allow it one day but it's not on the short-term roadmap.

[2019-09-10 02:48] rfk opened #1393 "Enable smoother signin if the user is signed in to Firefox on mobile"
If the user is already signed in to Firefox on their mobile device, it should be possible to streamline the process of signing in to the Send app on the same device.  Fennec provides an "AuthProvider" interface that allows it to share its login state out to other apps, see e.g. how Lockwise integrated with it here:

  https://github.com/mozilla-lockwise/lockwise-android/pull/879

Please consider a

[2019-09-10 02:51] rfk commented on #1393
/cc @grigoryk

[2019-09-10 14:58] tanwanimohit opened #1394 "URL is too long !"
Problem : the url is too long, one can not remember it easily !
Solution : we can implement URL short using third party apis or we can provide cutom url for the file.

[2019-09-10 22:56] grigoryk commented on #1393
This would need a change to Fennec, adding Send's appid&signature to the whitelist of allowed applications. Lockwise was whitelisted from day one, so it was easy to land that functionality there once it became available in `a-c`.

Instead of adding Fennec support for this, I'd refocus this bug around having Fenix act as an AuthProvider. Fennec is a dead-end here, but we can build this in a forward

[2019-09-11 20:22] arunsathiya opened #1395 "Unable to upload files; fails at 98% or 100%"
I am on the latest version of the [Firefox Android app](https://play.google.com/store/apps/details?id=org.mozilla.firefoxsend). Version 1.0.

Uploading 5-6 JPG files fails with no error. The upload goes through 98% or 100% and does not respond.

[2019-09-11 20:23] arunsathiya opened #1396 "Unable to cancel ongoing uploads"
When flagging up https://github.com/mozilla/send/issues/1395, I noticed that canceling any ongoing uploads does not work. The `Cancel` button simply does not respond.

[2019-09-11 22:07] #1390 closed

[2019-09-11 22:08] clouserw commented on #1385
@johngruen mentioned he might have some time to make a PR on it this week.  Danny is finishing the FxA Standardization Flows for Skyline.

[2019-09-11 22:09] #1351 closed

[2019-09-11 22:12] clouserw commented on #1345
Thanks for getting in touch with us.  You're welcome to modify the source of any deployments you do.  We're not going to support configuration variables for assets in the master branch.

[2019-09-11 22:12] #1345 closed

[2019-09-11 22:14] heywoodlh commented on #1345
That's completely understandable. Thanks for the response @clouserw

[2019-09-11 22:14] #1336 closed

[2019-09-11 22:18] clouserw commented on #1334
Hi Amit.  I'm not sure what the problem is, but it looks like https://github.com/nneonneo/ffsend is a python script that uses Send.  Maybe they have some code you could use.  Good luck! 👍

[2019-09-11 22:18] #1334 closed

[2019-09-11 22:19] clouserw commented on #1331
There aren't enough details here to diagnose the problem.  Try updating to the latest code if you haven't.

[2019-09-11 22:19] #1331 closed

[2019-09-11 22:19] #1330 closed

[2019-09-11 22:22] clouserw commented on #1318
This was probably a transient error when we updated the servers to new code.  We haven't had any other reports so closing this.  Try again?  Thanks.

[2019-09-11 22:22] #1318 closed

[2019-09-11 22:24] clouserw commented on #1396
Is this a duplicate of #1316?

[2019-09-11 22:57] jdonald opened #1397 "Firefox Send download stuck at 0% -> Something went wrong!"
Trying to download an 80 kB text file:

https://send.firefox.com/download/07a74a88ffdb813b/#EB7DuSZ3TVLsxHx4Rn2E-w

-->

![image](https://user-images.githubusercontent.com/1616866/64740914-ba345a00-d4ab-11e9-8b00-670f1d184758.png)

-->

![image](https://user-images.githubusercontent.com/1616866/64741224-a2110a80-d4ac-11e9-9d79-046e1f73706f.png)

Tried Chrome, Safari, and Firefox, both logged in an

[2019-09-11 23:32] dannycoates commented on #1397
thanks for the report. we're experiencing issues with our storage backend at the moment. sorry for the inconvenience, we're working on it.

[2019-09-13 18:00] vfazio commented on #874
I've been able to push & retrieve an 8G file on a local instance of send (I'm a bit low on disk so can't test much larger) but curious is there's still a plan to allow peer-to-peer connections to facilitate larger transfers.

[2019-09-13 18:43] vfazio commented on #1380
#551 tus was mentioned as an option in this now closed ticket.

[2019-09-15 23:59] LoneFenris commented on #1280
The original post on Reddit was me. As an update, the recipient in question seems to still have troubles with downloads failing around the 1GB mark, even on the current Send beta site (https://send2.dev.lcip.org/).

[2019-09-18 13:07] thomaskonrad opened #1399 "Stream download for newer versions of Edge?"
Is there a specific reason why Edge is [explicitly blacklisted](https://github.com/mozilla/send/blob/master/app/capabilities.js#L80) for service workers and therefore stream downloads? Wouldn't is suffice to just check whether service workers are available, and older Edge versions would be excluded anyway?

According to caniuse.com, [Service Workers are fully supported by Edge from version 17](htt

[2019-09-22 19:36] Vishal19111999 commented on #1353
Can I do this as my first contribution?

[2019-09-22 21:08] hellosct1 commented on #1353
Hi,

the extension is ready for thunderbird
I have connection problems to make calls with the Firefox Send website

Christophe

[2019-09-23 09:49] kapsiR commented on #1369
Remember-Login feature would be great. 👍
I personally don't use Send every day, but when I use it, I normally would appreciate it to have a "fast" option without the need to login every time. (and yes, normally bigger files or longer retention period is needed)

[2019-09-23 21:06] dmarcsift opened #1401 "Setting the SSL certificate path"
I'm unsure if what I'm asking is out of scope, but we like the idea of having this service available for our org to send files to clients. The question I have is, where can I set the path of the SSL cert for this service to test with?

If the recommended path for running Send in our org is for development and not production only, I get it. Just wondering if I can set this path though for ourselves

[2019-09-23 22:11] #1401 closed

[2019-09-24 20:01] hellosct1 opened #1402 "link request"
Hi,

I'm looking for an idea or a track to find the right link (url) that I should use to send a file from an external JS link
Basically, I would like to go through a request to send a file to Firefox send

Whatever my calls, I have a mistake.
blocking a multi-origin request (Cross-origin Request)

Thank you in advance,

Christophe

[2019-09-25 09:53] MKdent opened #1403 "Storage folder question"
Hi, I finally could run mozilla send on my server. But where is the location of the storage folder? In config I see adjustment for amazon aws, but local storage?
I don't find my uploaded files.... Is storage on own server possible? Maybe someone can give me a hint. Thanks!

[2019-09-25 18:08] dannycoates commented on #1402
Hi @hellosct1, I don't really understand your question. Is there some code you can reference? (Be as specific as possible)

[2019-09-25 18:13] dannycoates commented on #1403
Hi @MKdent. You can set the `FILE_DIR` environment variable to the path you'd like to store files. It defaults to a system temp directory. You can find all config options define in https://github.com/mozilla/send/blob/master/server/config.js#L131

[2019-09-25 18:13] #1403 closed

[2019-09-25 18:48] MKdent commented on #1403
Have not seen it:-) Thank you @dannycoates!

[2019-09-25 19:21] NotWoods opened #1404 "Fenix doesn't work with Send"
Originally filed as mozilla-mobile/fenix#3336.

### Steps to reproduce

1. upload a file to send.firefox.com
2. copy the download URL
3. open the download URL
4. press the "Download" button
5. confirm that you want to download the file

### Expected behavior

Fenix downloads the file properly.

### Actual behavior

Fenix downloads a file with the correct name, but the file is a short text file con

[2019-09-25 23:17] porjo commented on #847
This is being worked on - see https://github.com/mozilla/send/issues/1353#issuecomment-533918909

[2019-09-25 23:32] szepeviktor commented on #1353
Thank you.
Will it use the Thunderbird Filelink API?

[2019-09-26 08:41] hellosct1 commented on #1353
Hi,

yes the extension will use Filelink API

If you want to see the progress, here is the link to the extension to install in developer mode in Thunderbird
https://github.com/hellosct1/firefox-send/blob/master/src-thunderbird/send.xpi

[2019-09-26 08:56] hellosct1 commented on #1402
hi @dannycoates

I just updated my depository.

https://github.com/hellosct1/firefox-send/blob/master/src-thunderbird/background/background.js

the line is number 160
and here is the function

[code]
my problem is the first argument because I have mi share, but I think it's not good

What I want to do is make an upoad to firefox send

source :
https://github.com/hellosct1/firefox-send/tree/master/

[2019-09-26 22:13] cpeterso commented on #1404
Agi says he can reproduce the bug in Fenix, but it works in Fennec 68. So this is either a regression in Gecko 69 or 70 or Send is doing something different for Gecko >= 69

https://bugzilla.mozilla.org/show_bug.cgi?id=1572813

[2019-09-26 23:49] NotWoods commented on #1404
Send started doing something different for Gecko >= 69 to try and fix the issue (the whitelist mentioned in the bug). Previously the code was the same, as far as I know. It's probably a regression.

[2019-10-01 06:27] yarcod opened #1406 "Option to send directly to own device"
I'd like to have a quick and easy way to send files directly to one or many of my own devices. For example, I take a picture on my phone and want to send this to my laptop. While it is quite easy to just open FF Send and click download, I'd like to make that even easier.

My thought is that you, from any source, can select if uploaded file(s) should be sent directly to any of you logged in devices

[2019-10-06 18:23] kemenaran commented on #1312
Same here. A ~30 Mo upload that takes around 5 seconds using WeTransfer takes around 10 minutes (!) using Firefox Send.

- Macbook Pro mid-2013
- macOS 10.14
- Firefox 70.0b12

[2019-10-07 13:18] cjbarth commented on #1394
Or we can address this with a QR code, like in #1328 .

[2019-10-10 13:03] cjbarth commented on #1323
This is happening on iPadOS (and I assume iOS) 13. It basically makes this tool useless to send to Apple mobile devices. Is there additional information that I can provide to help get a fix for this problem?

[2019-10-13 08:47] ItielMaN opened #1407 "Missing RTL support"
send.firefox.com is missing RTL support.

Current state:
![image](https://user-images.githubusercontent.com/18016656/66713038-27d6ed00-edae-11e9-952b-2ce92a800d14.png)

![image](https://user-images.githubusercontent.com/18016656/66713044-34f3dc00-edae-11e9-9bf0-519480793d46.png)

Expected state with RTL:
![image](https://user-images.githubusercontent.com/18016656/66713069-8ef4a180-edae-11e9-8a8a-e

[2019-10-13 08:51] ItielMaN commented on #1407
See a similar work done on Screenshots to add RTL support:
https://github.com/mozilla-services/screenshots/pull/5055

[2019-10-15 17:28] moritzdietz commented on #1406
Isn't this reinventing FF Synced Tabs? If it's a file you have open in Firefox, you can always see the other Tabs of other devices. Thus being able to see it on the other device immediately.

[2019-10-21 05:54] yarcod commented on #1406
@moritzdietz: I'm not sure you got the request right - syncing tabs is something different from what I want. I want to be able to send any file(s) to another device via the browser. Or am I missing your point? :)

[2019-10-21 11:49] moritzdietz commented on #1406
So you want something like a file synchronization via Firefox Send? This seems request like feature creep to me. There are tons of tools out there that do file synchronization.

[2019-10-21 20:25] fzzzy opened #1409 "Release a new android version with updated localization"

[2019-10-24 15:17] abodea opened #1410 "The Firefox Send icon should be updated in Play Store"
## Preconditions
Set the device theme to dark-mode.
## Steps to reproduce
1. Access Play Store.
2. Search for Firefox Send app.

### Expected behavior
The Firefox Send icon background should be transparent.
### Actual behavior
The Firefox Send icon background is white.
### Device information

* Android device: Samsung Galaxy S10+(Android 9)
* Firefox version: N/A

![Screenshot_20191024-111235_Goog

[2019-10-26 14:05] Donboscow opened #1411 "Add "Sign up with Google Account" option in Firefox Send"
Currently https://send.firefox.com website has no option to sign up with Google Account. Please add this feature so that we can easily sign up Firefox Send using our Google Account.

[2019-10-27 01:59] vfazio commented on #1411
based on the response in #1381 this may not be possible short of creating or looking up a Firefox account based on the claims returned by Googles OIDC/OAuth2 server.

[2019-11-01 03:58] jpfleury commented on #1368
Upload resuming, and allowing to pause an upload would be very useful when the Internet connection used is slow and buggy.

[2019-11-02 12:51] BrianOn99 commented on #1369
As a frequent user of firefox send, typing password is very annoying, especially when I have a hurry task.  This feature would be great.

[2019-11-04 15:43] connection-reset opened #1412 "Bad UX on mobile device with slow connection"
Opening a link to a download on a smartphone with a slow connection is a bad user experience.
Unimportant things (things that aren't the download button) appear first, then the browser indicates it finished loading, then only after a noticeable delay the actual download interface appears.

Here is a recording of that happening:
![firefox-send](https://user-images.githubusercontent.com/6831775/6813

[2019-11-04 17:57] fzzzy commented on #1412
It's being decrypted client side, so there's no way to begin downloading until that js finishes execution. I suppose we could show a download button even before it is possible, and then just wait until it is possible to begin the download if the user clicks the button early.

[2019-11-04 23:21] Errolyn opened #1413 "Dark theme not optional"
With the addition of a dark theme for send, users with a dark theme set for their OS don't have a way to opt out of a dark theme for the page. A switch could be added to give users more flexibility.

@dzingeek is who initially brought it up and might have some more to add to this bug.

[2019-11-05 17:15] flodolo opened #1414 "New locales not available in dev server"
A new locale started translating Firefox Send (`trs`), but the locale doesn't show up on the dev server:

1. Change `intl.accept_languages` and set `trs` as first language
2. Visit https://dev.send.nonprod.cloudops.mozgcp.net/

CC @dannycoates @guerojeff

[2019-11-05 17:19] flodolo commented on #1414
Am I missing something obvious, e.g. the locale needs to be added somewhere even for the dev server? Do we have some issues with code?

Note that this is not limited to one locale, e.g. `ppl` is another one affected. Content has been committed by Pontoon to the repository
https://github.com/mozilla/send/tree/master/public/locales

[2019-11-05 17:41] dannycoates commented on #1414
Confirmed. However, it works in local dev so this is either a build or config issue

[2019-11-05 18:23] fzzzy commented on #1414
The tests have been failing recently, I think, so that may be blocking dev from getting deployed.

[2019-11-06 18:08] dannycoates commented on #1414
fixed on http://send2.dev.lcip.org

[2019-11-06 18:08] #1414 closed

[2019-11-06 18:45] flodolo commented on #1414
Thanks. Looks like we have 3 new locales at 100%, and one at almost 80%. I'll test them in the coming days and get a PR to add them to prod list.

[2019-11-07 22:20] Phreak87 opened #1415 "Question Websocket"
Hello,

i try to upload files like in the webpage via a c# websocket-client (websocket-sharp)
which has implemented the default RFC for secure Websockets.

After the inital send of the Metadata i got a ID-response.
After this response i try to send my file but i got an error that the header
is malformed.

[code]

from the web-debugger i can see a small binary stream before and after the file-data.

[2019-11-08 16:47] athoune commented on #1239
OK, the patch is in a PR, lets patch `/server/config.js`

[2019-11-08 17:03] athoune commented on #1239
It is now patched in 790fe1393daa1db7d8a0b0e496ad276b72087506

The `s3` constant is not anymore a global. It is now an attribute of `S3Storage` class set in the constructor using the `config`object.

Is that what you suggested @dannycoates ?

[2019-11-08 17:18] athoune commented on #1239
The last CI error is cryptic : https://circleci.com/gh/mozilla/send/7374

What did I did wrong ?

[2019-11-10 17:35] Mrfiregem commented on #1394
I think a short url would be better than QR so you can send to other desktop browsers as well. Both would be ideal, of course

[2019-11-14 14:20] Claudio-Nasso opened #1419 "Firefox Send - Sending downloaded file feedback"
Hi to everybody,

I do not know if this is the correct place to ask it. It' my first time, so, in case, please forgive me.

The question is simple as per my post #https://support.mozilla.org/en-US/questions/1272922:

Thank you.

All the best.

Claudio

[2019-11-14 16:44] MarkOnDuty commented on #1323
I can confirm the problem on an iPad. Exactly the same behaviour and error message.

We have not yet had a successful download to an iPhone or iPad. This is a deal-breaker for us, but I'm happy to contribute to a fix in any way that I can.

[2019-11-14 16:48] fzzzy commented on #1419
This is the correct place, thank you.

Yes, there has been discussion about adding a feature to notify the sender that the file has been downloaded. It's not being worked on yet, but we see it as a useful feature and hope to do it at some point.

Thank you for your suggestion!

[2019-11-14 16:49] MarkOnDuty commented on #1323
Very similar behaviour is observed on Chrome on an iPad. The download looks to complete, but an error message results. We get:

This site can't be reached

The webpage at blob:https://send.firefox.com/[blah] might be temporarily down or it may have moved permanently to a new web address.

ERR_FAILED

[2019-11-14 23:13] Phreak87 commented on #1415
if you like to help to build a FFSend Version in VB.Net (or C#) please support
my Project: https://github.com/Phreak87/FFSend.Net

Upload does work and gives a "OK"-Status but if i try to open the URL i see
a empty page and much errors in the Debug-Console.
Maybe someone knows encryption details i missed

[2019-11-15 06:00] Claudio-Nasso commented on #1419
Thank you Donovan for your reply.

I look forward to seeing it in a near future.

[2019-11-19 14:40] athoune commented on #1239
Do you need more informations or a demo, @dannycoates ?

[2019-11-21 19:56] rajveermalviya opened #1420 "Look into implementing tus.io open protocol, again"
It would be better if Chunked Upload strategy is used instead of WebSockets streaming.
WebSocket approach currently used has many problems.

Chunked Upload strategy uses raw HTTP protocol it benefits from future advancements in underlying protocol (HTTP/3 which has extremely better data streaming). Unlike WebSocket which is tied to the TCP protocol.

As mentioned in #551 , [tus.io](tus.io) is a gr

[2019-11-21 20:14] rajveermalviya commented on #1420
cc @Acconut @felixge

[2019-11-21 22:09] Acconut commented on #1420
I am happy to assist you with questions around the tus protocol and its implementations. We unfortunately do not have the resources to work on tus-node-server but we are always open for contributions. In the meantime, tusd has been battle-tested in production for years, so it's very solid and our recommendation for a tus server.

[2019-11-22 12:50] rajveermalviya commented on #1420
IDK, are the maintainers okay about changing the backend to Golang from Node?

[2019-11-22 13:19] Acconut commented on #1420
That's not necessary, you can run tusd as a standalone binary, next to your main application process. tusd can then be configured to notify your main application about completed uploads (and other events) using HTTP requests. It is possible to use tusd as a dependency inside your Go application but it's not necessary.

[2019-11-25 08:33] sharmaaditya570191 commented on #1413
Hi @Errolyn . I am interested in working on this.

[2019-11-25 09:08] sharmaaditya570191 commented on #1304
Hi @dannycoates . I would like to take this up.Could you please guide me as to how to implement this?

[2019-11-25 09:16] sharmaaditya570191 commented on #1368
Hi @clouserw I would like to take this up.

[2019-11-26 10:54] mario-g98 commented on #1390
Still not working on Firefox 68.2.1 Android

![Screenshot_20191126-113459](https://user-images.githubusercontent.com/49582442/69623491-4b46b600-1043-11ea-912a-768d147ed77e.jpg)

[2019-11-27 13:37] sharmaaditya570191 commented on #1394
Hi. I would like to work on this @dannycoates . Could you please tell which third party API you prefer to use as a url shortner so that I can begin work on this?

[2019-11-27 21:01] dannycoates commented on #1394
Thank you for the offer @sharmaaditya570191. We aren't actively working on new feature at the moment, so we won't be very responsive on github for the remainder of 2019. Also, for security reasons we can't rely on a 3rd party url shortener.

[2019-12-08 21:10] krosseyed opened #1423 "OAuth URL directing me to localhost:8080"
When using the sign in feature, I am unable to complete the sign in process due to the OAuth token URL being directed to localhost:8080 instead of my domain.

How would one change that URL? I do not see anywhere in config.js where I can edit this to reflect the correct URL.

[2019-12-14 18:42] krosseyed commented on #1423
I am able to temporarily get around this if I manually modify the URL to the correct domain. Is there an apache proxy/redirect rule that I am missing?

[2019-12-16 13:48] ShalokShalom opened #1426 "Download always breaks at 61%"
Tried with 4 different devices, 2 phones and 2 desktops. Windows, KaOS and Android. Different browsers as well.

Also, there is no proper error message. It simply says "An error has occurred."

https://send.firefox.com/download/732ee822fcf08f36/#11K83-NOFSoGL6YRcZDTZw

[2019-12-16 23:23] timvisee commented on #1426
I'm wondering wether the same happens with:

- the same file uploaded another time
- with another file having the same size
- with another file having a larger size

Have you tried any of those things?

[2019-12-19 14:29] ShalokShalom commented on #1426
It works now. thanks :hugs:

[2019-12-19 14:29] #1426 closed

[2019-12-29 21:36] Khyta opened #1428 "Download crashing at 97%"
I think the bug has to do with the zipping process with the files you want to upload.
You don't zip the files before and upload less than 1 GB -> You're fine downloading it. (I tested this myself)

You don't zip the files before and upload more than 1 GB -> Uh oh, something went wrong. (I tested this also)

You zip the files before and upload more than 1 GB -> You're fine downloading it. (I tested

[2019-12-31 09:21] eliotb opened #1429 "Can't login when "delete cookies" preference is enabled."
Trying to login results in "Something went wrong" page, without any explanation of what.
According to the account menu, I'm already logged in.
It doesn't matter if I access Send from the account menu or type in the url.

Related?:
* https://bugzilla.mozilla.org/show_bug.cgi?id=1429714 a
* Issue#1226

[2020-01-01 06:42] immanuelfodor commented on #65
FYI, it seems the GA config option is no longer in use:
- https://github.com/mozilla/send/issues/897
- https://github.com/mozilla/send/search?q=analytics
- https://webbkoll.dataskydd.net/en/results?url=http%3A%2F%2Fsend.firefox.com%2F#requests

[2020-01-01 07:26] immanuelfodor commented on #1394
Short URLs, if not formatted properly, might open up enumeration attacks if the URL is "too short" (e.g., [ffsend](https://github.com/timvisee/ffsend) within a for loop) so it must be taken into consideration how short should a shout URL be. QRs seem more promising IMHO.

[2020-01-01 07:34] immanuelfodor commented on #1381
Hmm, wait, what? The FxA server generates the client-side encryption keys?

As FxA is used for e.g. Firefox Sync, this effectively means the server knows how to decrypt the data stored in a self-hosted sync server?

[2020-01-01 07:36] immanuelfodor commented on #1381
There is an open issue how to self-host the FxA server, you can follow it here: https://github.com/mozilla/fxa/issues/3652 One day you might be able to host your own instance, so you'll be able to obtain yourself a client ID.

[2020-01-01 08:02] immanuelfodor opened #1430 "Docker production build from source does not start up, geodb dependency fails"
It seems the Send repository Docker build produces a non-working container image because of the same Maxmind GeoIP access change that is added here: https://github.com/mozilla/fxa/issues/3773

There are two error logs in the Docker build output:

[code]

Later, another one:

[code]

The build is successful, the container starts, but the logs show an error, and the service is not available on the `

[2020-01-01 08:21] immanuelfodor commented on #1430
Just for reference, you can apply this patch to quick fix the problem:

[code]

It still needs attention from the team to provide a long-term solution. Maybe, if the [`AMPLITUDE_ID`](https://github.com/mozilla/send/blob/master/server/config.js#L83-L87) is not set, then the whole file can be skipped.

[2020-01-02 22:39] rfk commented on #1381
Not quite; the FxA login protocol is designed to generate a client-side encryption key without revealing it to the server, you can read a bit about it in [this blog post](https://hacks.mozilla.org/2018/11/firefox-sync-privacy/).

[2020-01-03 10:36] immanuelfodor commented on #1381
Oh, I see the separation now, thanks for the link. Now, I get why a simple Oauth provider can't replace the FxA server easily.

[2020-01-04 10:04] executionByFork commented on #1428
I've just experienced an issue where I uploaded a zip file just over 1GB and the download would keep crashing at around 98% each time. I don't think 1GB is where the line is drawn. I just think Firefox Send sucks with large files

[2020-01-05 07:17] Napier-JP opened #1432 "Add UTF-8 flag to prevent garbled filename in contents on Windows"
When you upload multiple files together uncompressed/unarchived, apparently files are archived as UTF-8 encoded Send-Archive.zip without setting Language encoding flag (EFS).  cf. https://pkware.cachefly.net/webdocs/casestudies/APPNOTE.TXT

As a result these zip files show garbled filenames in contents on Windows.

You can reproduce this problem by uploading 2 files such as "サンプル1-sample1" and "サン

[2020-01-07 07:37] usbcdrom opened #1433 "中国区下载速度怎么样"
中国区下载速度怎么样

[2020-01-15 09:31] fibric commented on #1323
I have a similar problem, but I don't see the error message from above, the page just reloads instead.

![Untitled](https://user-images.githubusercontent.com/623932/72422013-e32e6980-3781-11ea-9791-7d65c6682f7f.gif)

Tried Safari, Firefox, and Focus on iOS 13.3 (17C54)

[2020-01-16 16:42] Reznor46 commented on #1429
I have the same problem, only works adding send.firefox.com to the whitelist.

[2020-01-17 11:31] unl1k3ly commented on #1419
Up!

[2020-01-20 06:13] jonmun93 opened #1435 "Is there an API I can use so I can upload in the terminal?"
Firstly, this is a fantastic service and I love it!

I'm trying to use it to send files securely, and I would love to do it programmatically.

Is there an API I can use? I can't seem to find one. I know that timvisee created 'https://github.com/timvisee/ffsend' which is amazing! It's just that it's not an official project and therefore I can't use it.

Also, I'm not a real dev, I just dabble so ev

[2020-01-20 09:38] Lin-Buo-Ren commented on #1433
Friendly translation: How is the download speed in China region.

[2020-01-20 10:08] timvisee commented on #1435
There isn't at this moment.

Can I ask, what is your reason for not using it? Would you like to be sure the (API) interface is stable?

[2020-01-20 11:56] usbcdrom commented on #1433
你好我已经测试了，中国区下载速度不错

[2020-01-20 23:55] jonmun93 commented on #1435
Wow, the man himself.

Yeah, it's for security reasons. I don't think I can use third-party command-line tools in my project if I'm sending sensitive data. I don't send a lot, usually like 5 lines of code each time.

[2020-01-20 23:56] jonmun93 commented on #1435
@timvisee, Do you know of any other way for me to do this?

[2020-01-21 00:27] timvisee commented on #1435
You could ask the main Send developers for a stable API implementation along with documentation. This probably won't make the upload/download process _easier_ , because it was designed this way to provide end-to-end security. So, don't expect a simple HTTP GET/POST endpoint as API as it would compromise security. Maybe @dannycoates could give some thought on an API implementation request in Send.

[2020-01-21 08:04] Lin-Buo-Ren commented on #1433
Hello, as the problem is resolved, can you close this issue?

[2020-01-21 16:51] Natim commented on #1432
I have the same issue with French characters.

@Napier-JP did you figure out the unzip parameters to extract with the right filenames?

I tried:

[code]

With no luck

[2020-01-21 17:05] Natim commented on #1432
I was able to do it using:

[code]

[2020-01-22 16:17] SirWindfield commented on #1435
You could also directly use the CLI that the same developer who developed `ffsend-api` created: [ffsend](https://github.com/timvisee/ffsend)

[2020-01-23 07:08] unl1k3ly commented on #1435
What sort of implementation you need at the backend ?

[2020-01-24 10:34] 805bluebell commented on #1395
It's working like charm. Get's a link for a zip file for 5-6 images.

[2020-01-25 14:27] arunsathiya commented on #1396
This does not seem to be an issue anymore. I am able to cancel uploads as expected. Closing.

[2020-01-25 14:27] #1396 closed

[2020-01-25 14:27] arunsathiya commented on #1395
Thanks for testing! This does not seem to be an issue anymore. Closing.

[2020-01-25 14:27] #1395 closed

[2020-01-29 09:29] staus commented on #1312
Wouldn't consider this issue closed at all.
I have the same problem using the Android app on Samsung S7. I have speeding fast uploads on other services, but a 300mb file takes 1hr with Firefox Send. Pretty unusable to be able to upload 2.5gb if it takes a day.

[2020-01-29 09:44] fzzzy commented on #1312
@staus The Android app being slow is a known issue. There is a known fix available, porting it to GeckoView, but there are a few blockers in bugzilla that are currently preventing this from being completed.

Sorry about that.

[2020-01-31 15:04] mmstick opened #1436 "Firefox Preview reports that it cannot download the file type"
Seems that the way the download is issued after it has downloaded by the JavaScript downloader causes issues with the way that Firefox Preview handles downloads. Seems that there should be a way to recover in the situation that the web browser fails to download the already-cached file.

[2020-02-03 10:11] padenot opened #1437 "Upload is very slow"
I'm on a symmetric gigabit link using wifi ac (the Mozilla Paris office), using a recent 15" macbook pro, and I'm topping at roughly 600KB per second, on the web app.

Something looks off, my upload speed is usually around 30MB per second in this configuration.

[2020-02-03 13:25] neo-inuit commented on #1381
For information i do use the mod_auth_openidc with apache in front reverse proxy

# protect server behind apache2 avec openid
Doc : https://github.com/zmartzone/mod_auth_openidc

## install
apt-get install apache2
apt-get install libapache2-mod-auth-openidc

## config apache
a2enmod headers rewrite proxy_wstunnel proxy_http proxy auth_openidc

## configure keycloak
https://github.com/zmartzone/mod

[2020-02-04 02:55] glandium opened #1438 ""Select files to upload" doesn't open file chooser dialog"
While Drag and drop works to add files, clicking the "Select files to upload" button doesn't open the file chooser dialog. This is with Firefox 72 on Linux. I'm sure I've used this in the past successfully, but that might have been with older versions. Attaching a file in bugzilla does bring the file chooser dialog, so it seems the same Firefox can do it on other sites. I didn't see anything relev

[2020-02-04 03:03] glandium commented on #1438
Huh... it works now...

[2020-02-04 03:03] #1438 closed

[2020-02-10 04:39] CryoRenegade opened #1440 "Firefox Focus crashes while using WireGuard VPN client"
Android 10: February Update
Pixel 2

[2020-02-10 08:36] riedel commented on #1353
@hellosct1 Any news on this? https://github.com/hellosct1/firefox-send/issues/8 seems to be still open and the extension seems to only use a side panel.

[2020-02-14 03:04] xiaopangju commented on #1433
这个问题已经解决了，请问你能关闭这个issue吗

[2020-02-14 09:18] SoftVision-CiprianMuresan commented on #1433
Closing this issue as Resolved based on the above comments.

[2020-02-14 09:18] #1433 closed

[2020-02-19 17:05] azizimusa commented on #1435
You might consider to use Send Anywhere. There do prove API for upload/download. https://github.com/estmob

[2020-02-19 19:28] ghost opened #1441 "Allow file transfer between one's own devices"
This feature seems like it should be implemented: one already can do this by copy-pasting her/his link after upload, but it is not convenient. And this feature contributes to convenience a lot. If this is not possible because of some sort of policy or anything else, it would be really nice to at least have QR code on upload page, so there's no need to type link manually on another device.

And ple

[2020-02-20 00:07] jonmun93 commented on #1435
Thanks @azizimusa, I've requested an API key from them. There's not a lot of information on security though, so I wonder what's stopping them from viewing the files that I upload.

[2020-02-20 22:52] J-J-Chiarella opened #1442 "Make website interface foolproof"
Please change the user interface on the website so that it says "Please choose the MAXIMUM number of downloads you want to allow" and then *below* that have it say "Also please choose the MAXIMUM number of days you want to allow the link to be available."

You would think that this is straightforward, but people will just read quickly and click through to make the experience quick and painless, wh

[2020-02-22 09:59] cypherbits opened #1443 "[Documentation] Write protocol documentation"
I could not find any protocol documentation. Opened this issue.

[2020-02-22 11:14] timvisee commented on #1443
The security section in the README somewhat covers this.

[2020-02-23 11:26] lucafagherazzi commented on #1369
+1
Would be great!
Thank you

[2020-02-26 13:43] napcode opened #1444 "Mozilla Send login does not require MFA"
I noticed that I'm not being asked for my 2nd factor when logging into [send.firefox.com](send.firefox.com). I wonder whether this is intentional and whether this can be abused somehow?

[2020-02-26 14:10] WesleyBranton commented on #1444
Do you have 2FA enabled on your Firefox Account? If you do, it's not surprising that you need to do 2FA when logging into that account.

[2020-02-26 14:11] napcode commented on #1444
Yes, I have 2FA enabled on my Firefox Account. I'm surprised that I'm **not** being asked when logging into Firefox Send. Is this intentional?

[2020-02-26 14:54] WesleyBranton commented on #1444
Oh! Sorry, I misread that.

To the best of my knowledge, you should get the 2FA in Firefox Send, unless you are already signed into your Firefox Account on the browser somewhere else (like Firefox Sync, etc).

[2020-02-26 15:06] napcode commented on #1444
Indeed! Just tried a private session in a different browser and voila: it works as expected. Thanks for the clarification.

[2020-02-26 15:06] #1444 closed

[2020-02-29 11:07] Eduardo06sp commented on #1436
I'm experiencing similar issues in Firefox Focus

[2020-03-04 14:10] kidburglar opened #1445 "[Question] The metadata key using a "null" salt"
Hello,

I was reading the code because I wanted to know how the encryption was working but I remark that the metadata key have only a null salt. The file key use a salt for the key.

https://github.com/mozilla/send/blob/master/app/keychain.js#L21

https://github.com/mozilla/send/blob/ca774258d6753687dab275d54681f8016381d56f/app/ece.js#L290
https://github.com/mozilla/send/blob/ca774258d6753687dab27

[2020-03-04 17:56] yoasif opened #1446 "Don't show "There is a way to protect your privacy. Join Firefox." when signed into Firefox Account"
From: https://www.reddit.com/r/firefox/comments/fdg7pj/its_quite_annoying_to_continue_to_see_this_header/

Hide the header "There is a way to protect your privacy. Join Firefox." when signed into Firefox Account - I tested this, and this header remains.

![image](https://user-images.githubusercontent.com/152493/75908057-6cbff680-5e17-11ea-9793-449c826973cf.png)

[2020-03-08 20:32] bitsandbooks commented on #1353
I run a library makerspace and teach classes to different people. They can't save their work on the laptops (they're frozen with Deep Freeze), so at first I told people to just sign into their webmail and email the file to themselves. I thought that was simple enough, but:

- the probability that a person knows their email password decreases with age;
- the sheer number of deer-in-the-headlights l

[2020-03-10 17:44] #1440 closed

[2020-03-10 20:08] fibric commented on #1323
Still not solved. I can't download files.

[2020-03-11 22:32] Deivedux commented on #1413
I'm still not understanding why an OS theme is what changes the site theme. At this time, this is the most annoying feature out of all that prevents me from normally using the site.

This also seems like targeting Windows users specifically. Or, at least, I can't find a way to change the Linux theme, just achieve a darker version of the site.

[2020-03-12 03:32] Caspy7 opened #1448 "The Android app should have a dark mode."
Just tried out the Send app and it worked fine, my only complaint is that I have all the apps I use regularly in dark mode and this seems to be lacking it.
I get frequent light sensitivity.

Bonus if, like many apps, it would detect the Android dark setting and inherit that.

[2020-03-12 16:48] groovecoder opened #1449 "After saving the password for a password-protected file, all future uploads are unexpectedly protected by the same password"
STR:

1. Upload a file
2. Check "Protect with password"
3. Use Firefox password generation to generate the password
4. Click "Upload"
   * Firefox automatically saves the generated password
5. Upload another file
   * "Protect with password" in NOT checked
   * But, the hidden password field is auto-filled by Firefox
6. Send link to recipient

Expected Results:
Recipient doesn't need a password to

[2020-03-15 04:36] psharma04 opened #1450 "caniuse-lite is outdated"
Found in log when building production version.
`Browserslist: caniuse-lite is outdated. Please run next command "npm update"
Browserslist: caniuse-lite is outdated. Please run next command "npm update caniuse-lite browserslist"`

[2020-03-15 19:19] clawinus opened #1451 "Enable Javascript for Firefox Send"
When I try to open Firefox Send it requests that I enable JavaScript but does not tell me how.
JavaScript is enabled on my Browser Firefox 74.0

[2020-03-16 22:09] splace commented on #1428
same here, (first time use), uploading 1.2gb file and get "something went wrong" at 99%. no use to me like this.

[2020-03-22 21:16] splace opened #1453 "upload not working"
new user, never managed to get to work, two sessions and a dozen tries a week apart.

just get "something went wrong" at random points during upload.

server unreliable/overloaded?

[code]

[2020-03-23 08:10] mvgorcum commented on #1277
Just for reference: F-droid has no policy against analytics in general (though your app will get labeled with a 'tracking' anti-feature). The only limitation is that the apps have to be fully build from open source software.

[2020-03-23 13:27] fdroidiordf commented on #1277
If Firefox Send can’t be included into F-Droid, if

1. it has the name “Firefox Send” and
2. the app got changed (removing proprietary analytics)

and the problem could not be solved by removing part 2., why don’t remove part 1. and make a FLOSS fork rebranded to “Fennec Send” as the F-Droid community also has done with “Firefox”->“Fennec F-Droid”?
In the description of the app, we could call it a

[2020-03-23 15:25] Wychmire commented on #1323
Downloading pdf files fails as well.

[2020-03-23 20:40] brumik opened #1454 "Feature request: Allow change limist while uploading"
Second-guessing is a common behaviour I think and when sending larger files the upload for slower connections can take up 20-30 min sometimes. It would be nice to be able to change the limits mid upload.

[2020-03-25 14:33] interbugma opened #1456 "[Android app] Firefox Send keeps logging out and forgetting password every few days"
Title says it all. I don't use the app on daily basis so every few days/weeks I come back to it I'm not logged in. When I go to sign in again, the username (email) is remembered, but not password. Completely defeats the purpose compared to using bookmark or progressive web app.

[2020-03-25 15:37] bernhardc commented on #1453
Same here. 400 MB file worked, but now I'm trying to upload a 700 MB file. I tried several times over the course of the last couple of days, but it always fails at 50-70% with the same error message as the OP's.

[2020-03-27 10:29] hellosct1 commented on #1353
I'm on the extension whose code is advancing again...

[2020-03-27 10:31] hellosct1 commented on #1353
thank you for your message
we're working on it

[2020-03-29 15:31] Uzume commented on #1432
@Napier-JP You probably need to also update the same EFS bit in the same field in the directory entry records too since that is where the filenames actually reside. The zip archive format has a number of duplicated fields and the general purpose bit flags is just one of those.

[2020-03-29 22:00] TobiasWenzel commented on #1302
This limit is really annoying. Firefox Send advertises to be secure. And password security nowadays is measured in length, not in complexity. So a limit of 32 characters is actually decreasing the security!

If there must be a limit - probably for the Web UI it makes sense to have one - I would propose to increase it to at least 256 or 512, if possible.

[2020-03-31 10:11] costescuandrei commented on #1353
Great news that you are working on this. I keep searching for a firefox send thunderbird filelink add-on from time to time but none is available :).

Any estimate on when it will be available directly in public Thunderbird add-ons?

[2020-04-01 19:17] fzzzy commented on #1353
Having our own servers which send email is too much of an abuse vector, I think. I would feel much more comfortable with the thunderbird extension approach.

[2020-04-01 19:19] filips123 commented on #1353
In what way? Maybe you could use some limits for sending emails to prevent abuse.

If Firefox Send would support automatically sending emails, this would make it great alternative to other websites like WeTransfer.

[2020-04-01 19:20] fzzzy commented on #1353
What return email address would we use? How would we authenticate that the person using the feature owns that email address?

[2020-04-01 19:22] filips123 commented on #1353
For users without Firefox account, maybe just some generic Firefox Send address. For users with Firefox account, you could use it to check email.

[2020-04-01 19:23] fzzzy commented on #1353
If we use a generic firefox send address, that makes send a huge phishing attack vector. If we require users to have a firefox account and be logged in and have a verified email address that we use as the return address, then maybe this feature could be secure enough.

[2020-04-02 00:12] zirafa commented on #1353
If we require a password to download with a generic send address, would that help mitigate potential abuse? The sender would have to set a password when uploading, and the recipient would not be able to download unless they knew the password.

[2020-04-02 11:36] costescuandrei commented on #1353
I don't mind if Firefox Send adds a functionality similar to what WeTransfer has on the site itself, but I would very much want a thunderbird add-on anyway. Independent of this other functionality. Should I create a separate issue for this @hellosct1 or it's fine like this?

[2020-04-03 08:24] cyphunk opened #1457 "Is redis optional?"
The README says "Redis server (optional for development)" but in issue #1263 for docker it is said one has to supply the REDIS_HOST value. There is some confusion. Could someone clarify if redis is optional or not?

Many thanks

[2020-04-03 21:19] riedel commented on #1353
I do not get the phishing part? I can always craft an email from no-reply@send.firefox.com as we speak or craft phishing mails that have overloaded https://send.firefox.com/download/xxx adresses in there. Sending from a DKIM domain reduces the attack vector not increases it! And why would I do this if I could probably put a virus into the upload in the first place. What would I phish for if you do